<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org" layout:decorate="~{common/layout/layout}">

<head>
<!-- (start) private script -->
<th:block layout:fragment="css">
</th:block>
<!-- (end) private script -->
</head>

<body>
	<div layout:fragment="contents">
		<div class="boardDetail containter">
			<div id="main-content">
				<div class="d-flex justify-content-center">
					<div class="row col-lg-10 col-md-12 d-flex justify-content-center">
						<div class="page-heading">
							<br>
							<!-- 게시글 내용 -->
							<div class="card">
								<div class="card-body">
									<span th:if="${board.category}" 
									  th:classappend="|badge badge-sm mb-2 ${(board.category == 'IT') ? 'bg-primary' : (board.category == '인사') ? 'bg-info' : ''}|"
								      th:text="${board.category}"></span>
									<h4 th:text="${board.boardTitle}"></h4>
									<div class="d-flex flex-row mb-3 gap-3">
										<div>
											<i class="bi bi-building"></i>
											<h7 th:text="${board.boardWriter}"></h7>
										</div>
										<div>
											<i class="bi bi-calendar-check"></i>
											<h7 th:text="${#temporals.format(board.createdTime, 'yyyy-MM-dd')}"></h7>
										</div>
										<div>
											<i class="bi bi-eye"></i>
											<h7 th:text="${board.boardHits}"></h7>
										</div>
									</div>
									<div class="scroll-multiline">
									 <p th:utext="${board.boardContents}"></p>
									 </div>
								</div>
							</div>
							<!-- 기존 첨부파일 목록 -->
							<ul class="list-unstyled mb-3">
								<li th:if="${board.fileAttached == '1'}" th:each="boardFile: ${boardFileList}">
									<div class="d-flex align-items-center p-2 truncate-multiline">
										<div class="col-11 d-flex align-items-center gap-2">
											<span class="badge text-bg-primary"> 첨부 </span>
											<h6 class="mb-0">
												<a th:href="@{|/board/${board.seqId}/download/${boardFile.seqId}|}" th:utext="${boardFile.originalFileName}"></a>
											</h6>
										</div>
										<div class="col-1 d-flex justify-content-end">
											<div class="shrink-0 ms-3">
												<a th:href="@{|/board/${board.seqId}/download/${boardFile.seqId}|}"> <i class="bi bi-cloud-download-fill" th:href="@{|/board/${board.seqId}/download/${boardFile.seqId}|}"></i>
												</a>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<div class="d-flex gap-2 flex-row-reverse">
								<a class="btn btn-primary mt-3" sec:authorize="hasRole('ROLE_ADMIN')" type="submit" id="modify" th:href="@{|/board/update/${board.seqId}|}">수정</a>
								<button class="btn btn-danger mt-3" sec:authorize="hasRole('ROLE_ADMIN')" type="submit" id="delete">삭제</button>
								<a class="btn btn-secondary mt-3" type="submit" id="list" th:href="@{/board/list}">목록</a>
							</div>

						</div>
				</div>
				</div>
			</div>
		</div>
	</div>

	<!-- (start) private script -->
	<th:block layout:fragment="script">
	<script src="js/boardDelPopup.js">	</script>
	<script src="js/detail.js">	</script>
	</th:block>
	<!-- (end) private script -->

</body>

</html>