<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      xmlns:sec="http://www.thymeleaf.org"
      layout:decorate="~{common/layout/layout}">

<head>
	<!-- (start) private script -->
	<th:block layout:fragment="css">
		<link rel="stylesheet" href="/extensions/tinymce/tinymce.css">
	    <script src="/extensions/tinymce/tinymce.min.js"></script>
	    <script src="/js/pages/tinymce.js"></script>
	    <script>
			tinymce.init({
		        selector: '#open',
		        plugins: [
		            "advlist", "accordion", "anchor", "autolink", "autoresize", "charmap", "code", "codesample", 
		            "fullscreen", 
		            "help", "image", "insertdatetime", "link", "lists", "media",
		            "nonbreaking","pagebreak", "preview", "quickbars", "save", "searchreplace", "table", "template", 
		            "visualblocks", "wordcount"
		        ],
		        branding: false,
		        promotion: false
		    });
	    </script>
	    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
	</th:block>
	<!-- (end) private script -->	
</head>

<body>

	<div layout:fragment="contents">
		<div id="main-content">
			<div class="page-heading">
				<h2>
					<i class="bi bi-bell-fill"></i> 공지사항
				</h2>
				<br> <input class="form-control" type="text" placeholder="제목" aria-label="default input example" id="title"> <br>
				<textarea name="open" id="open" cols="30" rows="10"></textarea>
				
				<br>
				<h6 class="card-title">첨부파일</h6>
				<form class="dropzone" id="uploads" enctype="multipart/form-data">
			    </form>
			    <button id="submitFiles">Upload</button>
				

				<div class="d-flex gap-2 flex-row-reverse">
					<button class="btn btn-primary mt-3" type="submit" id="submit" onclick="save2()">등록</button>
					<a class="btn btn-secondary mt-3" type="submit" id="submit" th:href="@{/board/list}">목록</a>
				</div>
				<br>
			</div>
		</div>
	</div>

	<!-- (start) private script -->
	<th:block layout:fragment="script">
	<script>
		var WafflepenDropzone = {
		   set : function() {
		        //dropzone 세팅
		       var myDropzone = new Dropzone('#uploads', {
		            url : "/upload/",
		            autoProcessQueue: false,            //자동 업로드
		            paramName: "file",                  //전송받는 파일 파라미터명
		            addRemoveLinks: true,
		            acceptedFiles: "application/pdf",   //파일 종류
		            uploadMultiple: true,               //다중 파일 업로드
		            parallelUploads: 10,                //동시 업로드 파일 개수
		            maxFilesize: 10,                    //최대 파일 사이즈 (MB)
		            maxFiles: 10,                       //첨부 개수
		            params: {
		                "EMAIL" : "yunsd@careercare.co.kr",//global.userInfo.EMAIL,
		                "FILETYPE" : "pdf"
		            },
		            headers: {
		    		    'X-CSRF-TOKEN': $("#csrf_token").val()
		    		},
		            init : function(){
		                var myDropzone = this;		                
		                /*파일 전송*/
		                $("#submitFiles").on('click', function () {
		                    myDropzone.processQueue();
		                });
		                /*최대 허용 파일 개수보다 많이 올린 경우 제어*/
		                myDropzone.on("addedfile", function(event) {
		                    while (this.files.length > this.options.maxFiles) {
		                        this.removeFile(this.files[0]);
		                    }
		                });
		                /*팡리 전송이 완료되면 목록에있는 파일 제거*/
		                myDropzone.on("complete", function(file) {
		                    myDropzone.removeFile(file);
		                });
		            }
		        });
		    }
		}
		Dropzone.autoDiscover = false;
		WafflepenDropzone.set();
	</script>
		<script>
	    function save()
	    {    
	        var header = $("meta[name='_csrf_header']").attr('content');
	        var token = $("meta[name='_csrf']").attr('content');
	    	$.ajax({
				type: "post",
				url: "/board/save",
				dataType: "json",
				data: {
					"boardTitle": document.getElementById("title").value,
					"boardContents": tinymce.get("open").getContent(),
				},
                //CSRF Token
                beforeSend: function (xhr) {
		        	xhr.setRequestHeader(header, token);
		        },		
				complete: function(data) {
					//document.getElementById("exampleFormControlTextarea1").value = editor.getData();
					//console.log( editor.getData(), document.getElementById("title").value , data);
					//$("#list").replaceWith(list);
					window.location.href = '/board/list'
				}
	    	});
		}
		const save2 = () => {
	    let header = $("meta[name='_csrf_header']").attr('content');
	    let token = $("meta[name='_csrf']").attr('content');
	    
		Swal.fire({
		        title: "등록",
		        html: "등록 하시겠습니까?",
		        icon: "info",
		        showCancelButton: true,
		        confirmButtonText: "등록",
		        confirmButtonColor: "#3085d6",
		        cancelButtonText: "취소",
		        cancelButtonColor: "#d33",
		        showLoaderOnConfirm: true,
		        preConfirm: async () => {},
		        allowOutsideClick: () => !Swal.isLoading()
		    }).then((result) => {
		        if (result.isConfirmed) {       
		        	$.ajax({
		        		type: "post",
						url: "/board/save",
						dataType: "json",
						data: {
							"boardTitle": document.getElementById("title").value,
							"boardContents": tinymce.get("open").getContent(),
						},
		                //CSRF Token
		                beforeSend: function (xhr) {
				        	xhr.setRequestHeader(header, token);
				        },		
						complete: function(data) {
							Swal.fire({
						      title: "등록 완료",
						      text: "게시글이 등록되었습니다.",
						      icon: "success"
						    }).then((result) => {
					        	window.location.href = '/board/list'
						    })
						}	
			    	});
		    	}
			})
		}
	    </script>
   	</th:block>
	<!-- (end) private script -->
		
</body>

</html>