<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    >
    
<head th:fragment="commonHead">
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width"/>	 
	
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta name="_csrf" th:content="${_csrf.token}">
	
	<link rel="shortcut icon" href="svg/favicon.svg" type="image/x-icon">		
	<link rel="stylesheet" href="css/app1.css">
	<link rel="stylesheet" href="css/app-dark.css">
			
	<th:block layout:fragment="css"></th:block>
</head>

</html>