<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/app-dark.css">

</head>
 
<body>
	<script src="js/initTheme.js"></script>	
	
	<div th:fragment="commonHeader">
	<nav class="navbar navbar-expand navbar-light navbar-top">
		<div class="container-fluid">
			<div class="col-4">
				<a href="#" class="burger-btn d-block"> <i class="bi bi-justify fs-2"></i>
				</a>
			</div>

			<div class="col-4">
				<h1 class="auth-subtitle text-center">ePAMS</h1>
			</div>
			<div class="col-4">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">

					<ul class="navbar-nav ms-auto mb-lg-0">
						<li class="nav-item dropdown me-1"></li>
					</ul>
					<div class="dropdown">
						<a href="#" data-bs-toggle="dropdown" aria-expanded="false"> <i class="icon-mid bi bi-gear-fill fs-1"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" style="min-width: 11rem;">
							<li>
								<h6 class="dropdown-header">박종훈</h6>
							</li>
							<li><a class="dropdown-item" href="#"><i class="icon-mid bi bi-person me-2"></i> My Profile</a></li>
							<li><a class="dropdown-item" href="#"><i class="icon-mid bi bi-gear me-2"></i> Settings</a></li>
							<li><a class="dropdown-item" href="#"><i class="icon-mid bi bi-wallet me-2"></i> Wallet</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#"><i class="icon-mid bi bi-box-arrow-left me-2"></i> Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	</div>
	<script src="js/components/dark.js"></script>
	<script src="extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>