<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org">
	<div id="noResultDiv" class="animate__animated animate__fadeIn animate__slow">
		<button aria-controls="collapseSearch" aria-expanded="false" class="btn btn-primary btn-sm" data-bs-target="#collapseSearch" data-bs-toggle="collapse" id="searchWayBtn" type="button"><i class="bi bi-question-lg me-1"></i><span>검색방법</span></button>

		<div class="collapseSearch row mt-3 mb-3" id="collapseContainer">
			<div class="collapse" id="collapseSearch">
				<div class="card" id="collapseCard">
					<div class="card-body p-3">
						<h6 class="d-flex align-items-center gap-2">
							<i class="bi bi-binoculars-fill"></i>
							<span> 검색 방법 </span>
						</h6>
						<p><span class="h7" th:utext="${langList['SEARCH_EMP_02_STMT']}"></span></p>

						<!--start divider-->
						<div class="divider">
							<div class="divider-text p-0"></div>
						</div>
						<!--end divider-->

						<h6 class="d-flex align-items-center gap-2">
							<i class="bi bi-1-square-fill"></i>
							<span> 단일 검색 </span>
						</h6>
						<p class="h7">예시) "홍길동" 입력 후 선택</p>
						<p class="h7">예시) "단신부임" 입력 후 선택</p>

						<!--start divider-->
						<div class="divider">
							<div class="divider-text p-0"></div>
						</div>
						<!--end divider-->

						<h6 class="d-flex align-items-center gap-2">
							<i class="bi bi-2-square-fill"></i>
							<span> 복합 검색 </span>
						</h6>
						<p class="h7">예시) "디지털&nbsp;&nbsp;&nbsp;업무지원" 입력 후 선택</p>
						<p class="h7">예시) "인사부&nbsp;&nbsp;&nbsp;통할" 입력 후 선택</p>
					</div>
				</div>
			</div>
			<small>#김산은&nbsp;&nbsp;&nbsp;#인사정보시스템</small>
			<small>#인사부&nbsp;&nbsp;&nbsp;#디지털금융부&nbsp;업무지원</small>
		</div>
	</div>
</html>
