<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org">

<div id="memberList">
    <div class="divider">
        <div class="divider-text">
            <h5 class="card-title">
                <span>조회결과</span>
            </h5>
        </div>
    </div>

    <section class="section" th:each="member: ${memberList}">
        <div class="animate__animated animate__fadeIn animate__slow">
            <p class="h6" th:utext="${member.realname}+' '+${member.positionName}"></p>
            <div class="d-flex align-items-center justify-content-start gap-3 mt-3">
                <i class="bi bi-building"></i>
                <span class="h7 m-0" th:text="${member.deptName}"></span>
            </div>
            <div class="d-flex align-items-center justify-content-start gap-3 mt-3">
                <i class="bi bi-diagram-2"></i>
                <span class="h7 m-0"  th:text="${member.teamName}"></span>
            </div>
            <div class="d-flex align-items-center justify-content-start gap-3 mt-3">
                <i class="bi bi-telephone-fill"></i>
                <span class="h7 m-0"  th:text="${member.inlineNumber}"></span>
            </div>
            <div class="d-flex align-items-center justify-content-start gap-3 mt-3">
                <i class="bi bi-briefcase-fill"></i>
                <span class="h7 m-0"  th:text="${member.jobDetail}"></span>
            </div>

            <div class="d-flex justify-content-around mt-5">
                <div class="text-center searchResultIcon p-0 d-flex flex-column justify-content-center align-items-center" id="search">
                    <h3 class="m-0"><i class="bi bi-binoculars-fill"></i></h3>
                    <small>다시검색</small>
                </div>
                <div class="text-center searchResultIcon p-0 d-flex flex-column justify-content-center align-items-center" id="contact">
                    <a id="inlineNumber" class="inlineNumber" th:href="'tel:' + ${member.inlineNumber}"></a>
                    <h3 class="m-0"><i class="bi bi-telephone-outbound-fill"></i></h3>
                    <small>연락하기</small>
                </div>
            </div>
        </div>
    </section>
</div>

</html>