<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org"
	  layout:decorate="~{common/layout/layout}">

<head>
	<!-- (start) private script -->
	<th:block layout:fragment="css">
		<link rel="stylesheet" href="/extensions/awesomplete/awesomplete.css" />
	</th:block>
	<!-- (end) private script -->
</head>

<body>
<div layout:fragment="contents">
	<div class="row no-drag">
		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" style="border-radius: 50%; width: 10px; height: 10px;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" style="border-radius: 50%; width: 10px; height: 10px;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" style="border-radius: 50%; width: 10px; height: 10px;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="carousel-img-1">
						<div class="container-md d-flex justify-content-start align-items-center" style="height: 100%;">
							<div class="col-1 ms-2"></div>
							<div class="text-start">
								<h5>최근 공지사항</h5>
								<h3>시스템 점검 안내</h3>
								<h3>'24. 7. 6(일) 18:00-19:00</h3>
								<a href="/dtm/main"><span class="badge text-bg-primary">바로가기</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="carousel-img-2">
						<div class="container-md d-flex justify-content-start align-items-center" style="height: 100%;">
							<div class="col-1 ms-2"></div>
							<div class="text-start">
								<h5>연차 및 저축휴가</h5>
								<h3>언제 어디서든</h3>
								<h3>편리하게 신청하세요</h3>
								<a href="/dtm/main"><span class="badge text-bg-primary">바로가기</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="carousel-img-3">
						<div class="container-md d-flex justify-content-start align-items-center" style="height: 100%;">
							<div class="col-1 ms-2"></div>
							<div class="text-start">
								<h5>직원조회</h5>
								<h3>언제 어디서든</h3>
								<h3>간편하게 검색하세요</h3>
								<span class="badge text-bg-primary" onclick="scrollToDiv()">바로가기</span>
							</div>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>

	<!-- end carousel (rolling image) -->
	<div class="main-content">
		<div class="container">
			<div class="row d-flex justify-content-start mb-1">
				<h5 class="text-start">
					<i class="bi bi-stars"></i> <span th:text="${codeList['COM_BANNER1_CD']}"></span>
				</h5>
				<div class="container">
					<div class="row d-flex justify-content-end">

						<h6 class="text-end">
							<a href="/dtm/main" style="text-decoration: none; color: inherit;"> 직접 신청하러 가기 <i class="bi bi-arrow-right-circle-fill"></i>
							</a>
						</h6>

					</div>
				</div>
			</div>

			<div class="d-flex justify-content-center">
				<div class="row col-lg-12 col-md-12 d-flex justify-content-center">
					<div class="row col-lg-12 col-md-12 col-sm-12">
						<div class="col-lg-4">
							<div data-aos="fade-up" data-aos-offset="50" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
								<section class="section">
									<div class="shadow card" style="margin-bottom: 1.0rem;">
										<div class="card-body align-content-center" style="padding: 0.8rem;">
											<div class="d-flex justify-content-center">
												<div class="col-10 mb-0 align-content-center">
													<h6 style="margin-bottom: 0;">
														<span class="badge rounded-pill bg-primary me-1">오늘</span>연차휴가 1일
													</h6>
													<h7>[[${nowDate}]]</h7>
												</div>
												<div class="col-2 mb-0 align-content-center">
													<div class="d-flex justify-content-end">
														<div class="btn btn-primary btn-sm" style="--bs-btn-padding-y: 0.35rem;" th:date="${nowDate}" th:onclick="ApplAlert(this.getAttribute('date'))">신청</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
						<div class="col-lg-4">
							<div data-aos="fade-up" data-aos-offset="50" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
								<section class="section">
									<div class="shadow card" style="margin-bottom: 1.0rem;">
										<div class="card-body align-content-center" style="padding: 0.8rem;">
											<div class="d-flex justify-content-center ">
												<div class="col-10 mb-0 align-content-center">
													<h6 style="margin-bottom: 0;">
														<span class="badge rounded-pill bg-primary me-1">오늘</span>연차휴가 오전 반차
													</h6>
													<h7>[[${nowDate}]]</h7>
												</div>
												<div class="col-2 mb-0 align-content-center">
													<div class="d-flex justify-content-end">
														<div class="btn btn-primary btn-sm" style="--bs-btn-padding-y: 0.35rem;" th:date="${nowDate}" th:onclick="ApplAlert(this.getAttribute('date'))">신청</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
						<div class="col-lg-4">
							<div data-aos="fade-up" data-aos-offset="50" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
								<section class="section">
									<div class="shadow card" style="margin-bottom: 1.0rem;">
										<div class="card-body align-content-center" style="padding: 0.8rem;">
											<div class="d-flex justify-content-center ">
												<div class="col-10 mb-0 align-content-center">
													<h6 style="margin-bottom: 0;">
														<span class="badge rounded-pill bg-primary me-1">오늘</span>연차휴가 오전 반반차
													</h6>
													<h7>[[${nowDate}]]</h7>
												</div>
												<div class="col-2 mb-0 align-content-center">
													<div class="d-flex justify-content-end">
														<div class="btn btn-primary btn-sm" style="--bs-btn-padding-y: 0.35rem;" th:date="${nowDate}" th:onclick="ApplAlert(this.getAttribute('date'))">신청</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="d-flex justify-content-center mt-4">
				<div class="row col-lg-12 col-md-12 d-flex justify-content-center">
					<div class="row col-lg-12 col-md-12 col-sm-12">
						<div class="col-lg-4">
							<div data-aos="fade-up" data-aos-offset="50" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
								<section class="section">
									<div class="shadow card" style="margin-bottom: 1.0rem;">
										<div class="card-body align-content-center" style="padding: 0.8rem;">
											<div class="d-flex justify-content-center">
												<div class="col-10 mb-0 align-content-center">
													<h6 style="margin-bottom: 0;">
														<span class="badge rounded-pill bg-info me-1">내일</span>연차휴가 1일
													</h6>
													<h7>[[${tomorrowDate}]]</h7>
												</div>
												<div class="col-2 mb-0 align-content-center">
													<div class="d-flex justify-content-end">
														<div class="btn btn-info btn-sm" style="--bs-btn-padding-y: 0.35rem;" th:date="${tomorrowDate}" th:onclick="ApplAlert(this.getAttribute('date'))">신청</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
						<div class="col-lg-4">
							<div data-aos="fade-up" data-aos-offset="50" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
								<section class="section">
									<div class="shadow card" style="margin-bottom: 1.0rem;">
										<div class="card-body align-content-center" style="padding: 0.8rem;">
											<div class="d-flex justify-content-center ">
												<div class="col-10 mb-0 align-content-center">
													<h6 style="margin-bottom: 0;">
														<span class="badge rounded-pill bg-info me-1">내일</span>연차휴가 오전 반차
													</h6>
													<h7>[[${tomorrowDate}]]</h7>
												</div>
												<div class="col-2 mb-0 align-content-center">
													<div class="d-flex justify-content-end">
														<div class="btn btn-info btn-sm" style="--bs-btn-padding-y: 0.35rem;" th:date="${tomorrowDate}" th:onclick="ApplAlert(this.getAttribute('date'))">신청</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
						<div class="col-lg-4">
							<div data-aos="fade-up" data-aos-offset="50" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
								<section class="section">
									<div class="shadow card" style="margin-bottom: 1.0rem;">
										<div class="card-body align-content-center" style="padding: 0.8rem;">
											<div class="d-flex justify-content-center ">
												<div class="col-10 mb-0 align-content-center">
													<h6 style="margin-bottom: 0;">
														<span class="badge rounded-pill bg-info me-1">내일</span>연차휴가 오전 반반차
													</h6>
													<h7>[[${tomorrowDate}]]</h7>
												</div>
												<div class="col-2 mb-0 align-content-center">
													<div class="d-flex justify-content-end">
														<div class="btn btn-info btn-sm" style="--bs-btn-padding-y: 0.35rem;" th:date="${tomorrowDate}" th:onclick="ApplAlert(this.getAttribute('date'))">신청</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="divider">
		<div class="divider-text" style="background-color: transparent;">
			<img class="divider-text" src="/images/kdb/epams_r_cw_action.gif" style="width: 50px; height: 50px; border-radius: 50%; padding: 0;" />
		</div>
	</div>

	<div class="main-content">
		<div class="container">
			<div class="row d-flex justify-content-start mb-2">
				<h5 class="text-start">
					<i class="bi bi-bell-fill"></i> 최근 공지사항
				</h5>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="row col-lg-12">
					<section>
						<div class="shadow card" th:each="board : ${boardList}">
							<div class="card-body">
								<span th:if="${board.category}" th:classappend="|badge badge-sm mb-2 ${(board.category == 'IT') ? 'bg-primary' : (board.category == '인사') ? 'bg-info' : ''}|" style="--bs-badge-padding-x: .35rem" th:text="${board.category}"></span> <a class="card-title" th:href="@{|/board/${board.seqId}|}">
								<h6 style="display: flex; align-items: center;">
									<span th:text="${board.boardTitle}" style="margin-right: 0.5rem;"> </span> <span th:if="${T(java.time.LocalDateTime).now().minusDays(7).isBefore(board.createdTime)}" class="badge rounded-pill bg-warning text-dark" style="--bs-badge-font-size: .80em;"> new </span>
								</h6>
							</a>
								<div class="d-flex flex-row mb-3 gap-3">
									<div>
										<i class="bi bi-building"></i>
										<h7 th:text="${board.boardWriter}"></h7>
									</div>
									<div>
										<i class="bi bi-calendar-check"></i>
										<h7 th:text="${#temporals.format(board.createdTime, 'yyyy-MM-dd')}"></h7>
									</div>
									<div>
										<i class="bi bi-eye"></i>
										<h7 th:text="${board.boardHits}"></h7>
									</div>
								</div>
								<div class="truncate-multiline">
									<p th:utext="${board.boardContents}"></p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<div class="divider">
		<div class="divider-text" style="background-color: transparent;">
			<img class="divider-text" src="/images/kdb/epams_r_cw_action.gif" style="width: 50px; height: 50px; border-radius: 50%; padding: 0;" />
		</div>
	</div>

	<div class="main-content">
		<div id="searchDiv">
			<div class="container">
				<div class="row d-flex justify-content-start mb-2">
					<h5 class="text-start">
						<i class="bi bi-search"></i> 직원검색
					</h5>
				</div>

				<div class="row d-flex justify-content-center">
					<div class="row col-lg-12">
						<section class="section">
							<div class="shadow card">
								<div class="card-header">
									<h4 class="card-title">담당자가 궁금하신가요?</h4>
								</div>
								<div class="card-content">
									<div class="card-body">
										<p>이름, 팀/부서, 업무명으로 검색하세요</p>
										<div class="row">
											<div class="col-12 mb-1">
												<div class="d-flex align-items-center mb-3">
													<span class="input-group-text d-flex align-items-center" id="basic-addon1" style="height: 38px;">
														<i class="bi bi-search m-0"></i>
													</span>
													<input type="text" id="searchMember" class="form-control awesomplete"
														   placeholder="Recipient's username"
														   aria-label="Recipient's username"
														   aria-describedby="button-addon2"
														   style="height: 38px;"/>
													<button class="btn btn-primary d-flex align-items-center"
															type="button" id="button-addon2" onclick="search()"
															style="height: 38px; white-space: nowrap;">조회
													</button>
												</div>

											</div>
										</div>
									</div>
								</div>
								<div class="divider">
									<div class="divider-text" style="background-color: transparent;">
										<h5 class="card-title">조회결과</h5>
									</div>
								</div>
								<div class="d-flex justify-content-center">
									<div class="row col-12">
										<div class="col-12 justify-self-center">
											<div id="memberList">
												<div class="animate__animated animate__fadeIn animate__slow">
													<div class="shadow card" style="background-color: #F2F7FF; margin:3rem;">
														<div class="card-body d-flex justify-content-center align-items-center" style="height: 100px;">
															<h6 class="m-0">No Result</h6>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="animate__animated animate__fadeIn animate__slow" id="scrollToTopBtn" title="Go to top">
		<i class="bi-chevron-up"></i>
	</button>
</div>
<!-- (start) private script -->
<th:block layout:fragment="script">
	<!--Forward Thymeleaf variable to Javascript-->
	<div id="authData" th:attr="
		data-simpleauth=${simpleauth},
		data-username=${username}">
	</div>
	<script src="/extensions/webauthn/js/base64js.min.js"></script>
	<script src="/extensions/webauthn/js/custom.js"></script>
	<script src="/js/index.js"></script>
	<script src="/extensions/awesomplete/awesomplete.js"></script>
	<script>
		var input = document.getElementById("searchMember");
		var awesomplete = new Awesomplete(input);

		/* ...more code... */

		awesomplete.list = ["Ada", "Java", "JavaScript", "Brainfuck", "LOLCODE", "Node.js", "Ruby on Rails"];
	</script>
</th:block>
<!-- (end) private script -->
</body>
</html>