<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org"
	  layout:decorate="~{common/layout/layout}">

<head>
	<!-- (start) private script -->
	<th:block layout:fragment="css">
		<link rel="stylesheet" href="/extensions/awesomplete/awesomplete.css" />
		<link rel="stylesheet" href="/extensions/swiper/swiper-bundle.min.css" />
		<link rel="stylesheet" href="/extensions/swiper/customSwiper.css" />
	</th:block>
	<!-- (end) private script -->
</head>

<body>
<div layout:fragment="contents">
	<div class="row no-drag">
		<!-- Swiper -->
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="carousel-img-1">
						<div class="container-md d-flex justify-content-start align-items-center" style="height: 100%;">
							<div class="col-1 ms-2"></div>
							<div class="text-start">
								<h5>최근 공지사항</h5>
								<h3>시스템 점검 안내</h3>
								<h3>'24. 7. 6(일) 18:00-19:00</h3>
								<a href="/dtm/main"><span class="badge text-bg-primary">바로가기</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="carousel-img-2">
						<div class="container-md d-flex justify-content-start align-items-center" style="height: 100%;">
							<div class="col-1 ms-2"></div>
							<div class="text-start">
								<h5>연차 및 저축휴가</h5>
								<h3>언제 어디서든</h3>
								<h3>편리하게 신청하세요</h3>
								<a href="/dtm/main"><span class="badge text-bg-primary">바로가기</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="carousel-img-3">
						<div class="container-md d-flex justify-content-start align-items-center" style="height: 100%;">
							<div class="col-1 ms-2"></div>
							<div class="text-start">
								<h5>직원조회</h5>
								<h3>언제 어디서든</h3>
								<h3>간편하게 검색하세요</h3>
								<span class="badge text-bg-primary" onclick="scrollToDiv()">바로가기</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
		</div>

	</div>
	<!-- end carousel (rolling image) -->

	<!--빠른 근태신청-->
	<div class="main-content">
		<div class="container">
			<div class="row d-flex justify-content-start mb-1">
				<h5 class="text-start">
					<i class="bi bi-stars"></i> <span th:text="${codeList['QUICK_APPL_TTL']}"></span>
				</h5>
				<div class="container">
					<div class="row d-flex justify-content-end">
						<h6 class="text-end">
							<a href="/dtm/main" style="text-decoration: none; color: inherit;">
								<span th:text="${codeList['QUICK_APPL_01_STMT']}"></span>
								<i class="bi bi-arrow-right-circle-fill"></i>
							</a>
						</h6>
					</div>
				</div>
			</div>

			<div class="d-flex justify-content-center">
				<div class="row col-lg-12 col-md-12 d-flex justify-content-center">
					<div class="row col-lg-12 col-md-12 col-sm-12">
						<div th:each="date : ${list}" class="col-lg-4">
							<div data-aos="fade-up" data-aos-offset="50" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
								<section class="section">
									<div class="shadow card" style="margin-bottom: 1.0rem;">
										<div class="card-body align-content-center" style="padding: 0.8rem;">
											<div class="d-flex justify-content-center">
												<div class="col-10 mb-0 align-content-center">
													<h6 style="margin-bottom: 0;">
														<span th:if="${date.applDateType == '오늘'}" class="badge rounded-pill bg-primary me-1">
															<span th:text="${codeList['TDY_DTM_01_BTN']}"></span>
														</span>
														<span th:if="${date.applDateType == '내일'}" class="badge rounded-pill bg-info me-1">
															<span th:text="${codeList['TMR_DTM_01_BTN']}"></span>
														</span>
														<span th:text="${date.dtmName}"></span>
													</h6>
													<h7 th:text="${date.applDate}"></h7>
												</div>
												<div class="col-2 mb-0 align-content-center">
													<div class="d-flex justify-content-end">
														<div th:if="${date.applDateType == '오늘'}" class="btn btn-primary btn-sm" style="--bs-btn-padding-y: 0.35rem;" th:onclick=ApplAlert('${date.applDate}')>
															<span th:text="${codeList['APPL_DTM_01_BTN']}"></span>
														</div>
														<div th:if="${date.applDateType == '내일'}" class="btn btn-info btn-sm" style="--bs-btn-padding-y: 0.35rem;" th:onclick=ApplAlert('${date.applDate}')>
															<span th:text="${codeList['APPL_DTM_01_BTN']}"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<div class="divider">
		<div class="divider-text" style="background-color: transparent;">
			<img class="divider-text" src="/images/kdb/epams_r_cw_action.gif" style="width: 50px; height: 50px; border-radius: 50%; padding: 0;" />
		</div>
	</div>

	<!--최근 공지사항-->
	<div class="main-content">
		<div class="container">
			<div class="row d-flex justify-content-start mb-2">
				<h5 class="text-start">
					<i class="bi bi-bell-fill"></i> <span th:text="${codeList['RECENT_NOTICE_TTL']}"></span>
				</h5>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="row col-lg-12">
					<section>
						<div class="shadow card" th:each="board : ${boardList}">
							<div class="card-body">
								<span th:if="${board.category}" th:classappend="|badge badge-sm mb-2 ${(board.category == 'IT') ? 'bg-primary' : (board.category == '인사') ? 'bg-info' : ''}|" style="--bs-badge-padding-x: .35rem" th:text="${board.category}"></span> <a class="card-title" th:href="@{|/board/${board.seqId}|}">
								<h6 style="display: flex; align-items: center;">
									<span th:text="${board.boardTitle}" style="margin-right: 0.5rem;"> </span> <span th:if="${T(java.time.LocalDateTime).now().minusDays(7).isBefore(board.createdTime)}" class="badge rounded-pill bg-warning text-dark" style="--bs-badge-font-size: .80em;"> new </span>
								</h6>
							</a>
								<div class="d-flex flex-row mb-3 gap-3">
									<div>
										<i class="bi bi-building"></i>
										<h7 th:text="${board.boardWriter}"></h7>
									</div>
									<div>
										<i class="bi bi-calendar-check"></i>
										<h7 th:text="${#temporals.format(board.createdTime, 'yyyy-MM-dd')}"></h7>
									</div>
									<div>
										<i class="bi bi-eye"></i>
										<h7 th:text="${board.boardHits}"></h7>
									</div>
								</div>
								<div class="truncate-multiline">
									<p th:utext="${board.boardContents}"></p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<div class="divider">
		<div class="divider-text" style="background-color: transparent;">
			<img class="divider-text" src="/images/kdb/epams_r_cw_action.gif" style="width: 50px; height: 50px; border-radius: 50%; padding: 0;" />
		</div>
	</div>

	<!--직원검색-->
	<div class="main-content">
		<div id="searchDiv">
			<div class="container">
				<div class="row d-flex justify-content-start mb-2">
					<h5 class="text-start">
						<i class="bi bi-search"></i> <span th:text="${codeList['SEARCH_EMP_TTL']}"></span>
					</h5>
				</div>

				<div class="row d-flex justify-content-center">
					<div class="row col-lg-12">
						<section class="section">
							<div class="shadow card">
								<div class="card-header">
									<h4 class="card-title"><span th:text="${codeList['SEARCH_EMP_01_STMT']}"></span></h4>
								</div>
								<div class="card-content">
									<div class="card-body">
										<p><span th:text="${codeList['SEARCH_EMP_02_STMT']}"></span></p>
										<div class="row">
											<div class="col-12 mb-1">
												<div class="d-flex align-items-center mb-3">
													<span class="input-group-text d-flex align-items-center justify-content-center" id="basic-addon1" style="height: 38px;">
														<i class="bi bi-search m-0" style="line-height: 1;"></i>
													</span>
													<input type="text" id="searchMember"
														   class="form-control awesomplete"
														   placeholder="이름, 팀/부서, 업무명"
														   aria-label="Recipient's username"
														   aria-describedby="button-addon2"
														   style="height: 38px;"/>
													<button class="btn btn-primary d-flex align-items-center"
															type="button" id="button-addon2" onclick="search()"
															style="height: 38px; white-space: nowrap;"><span th:text="${codeList['SEARCH_EMP_01_BTN']}"></span>
													</button>
												</div>

											</div>
										</div>
									</div>
								</div>
								<div class="divider">
									<div class="divider-text" style="background-color: transparent;">
										<h5 class="card-title"><span th:text="${codeList['SEARCH_EMP_03_STMT']}"></span></h5>
									</div>
								</div>
								<div class="d-flex justify-content-center">
									<div class="row col-12">
										<div class="col-12 justify-self-center">
											<div id="memberList">
												<div class="animate__animated animate__fadeIn animate__slow">
													<div class="shadow card" style="background-color: #F2F7FF; margin:3rem;">
														<div class="card-body d-flex justify-content-center align-items-center" style="height: 100px;">
															<h6 class="m-0"><span th:text="${codeList['SEARCH_EMP_04_STMT']}"></span></h5></h6>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>

			</div>
		</div>
	</div>
	<button class="animate__animated animate__fadeIn animate__slow" id="scrollToTopBtn" title="Go to top">
		<i class="bi-chevron-up"></i>
	</button>
</div>
<!-- (start) private script -->
<th:block layout:fragment="script">
	<!--Forward Thymeleaf variable to Javascript-->
	<div id="authData" th:attr="
		data-simpleauth=${simpleauth},
		data-username=${username}">
	</div>
	<script src="/extensions/webauthn/js/base64js.min.js"></script>
	<script src="/extensions/webauthn/js/custom.js"></script>
	<script src="/extensions/awesomplete/awesomplete.js"></script>
	<script src="/extensions/swiper/swiper-bundle.min.js"></script>
	<script src="/extensions/swiper/initSwiper.js"></script>
	<script src="/js/quickDtmAppl.js"></script>
	<script src="/js/scrollToTop.js"></script>
	<script src="/js/memberSearch.js"></script>
	<script src="/js/webauthnPopup.js"></script>
	<script src="/js/commonPopup.js"></script>

</th:block>
<!-- (end) private script -->
</body>
</html>