<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org" layout:decorate="~{common/layout/layout}">
<head>
</head>
<body>
<div layout:fragment="contents">
	<div class="loginManager">
		<div class="container">
			<div class="main-content d-flex justify-content-center">
				<div class="row col-lg-10 col-md-12 d-flex justify-content-center">

					<!-- 페이지 제목 시작 -->
					<div class="page-heading">
						<div class="d-flex justify-content-between align-items-end">
							<div class="align-middle">
								<h2><i class="bi bi-bell-fill"></i> <span>인증관리</span></h2>
							</div>
						</div>
					</div>
					<!-- 페이지 제목 끝 -->

					<!-- 간편인증 시작 -->
					<div class="card">
						<div class="card-header ">
							<div class="d-flex gap-3 align-items-center mb-3">
								<h5 class="m-0">간편인증</h5>
								<span class="" th:if="${webauthnYn}">
									<span class="badge bg-success">사용중</span>
								</span>
								<span class="" th:if="${!webauthnYn}">
									<span class="badge bg-danger">미사용</span>
								</span>
							</div>
							<span th:if="${webauthnYn}">
								<span th:text="'(등록일 : '+${#temporals.format(webauthnRegDate, 'yyyy-MM-dd HH:mm:ss')}+')'"></span>
							</span>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="d-flex justify-content-end">
									<span th:if="${webauthnYn}">
										<button class="btn btn-danger btn-sm" id="webauthnRevokeBtn">해제</button>
									</span>
									<span th:if="!${webauthnYn}">
										<button class="btn btn-primary btn-sm" id="webauthnRegBtn">등록</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- 간편인증 끝 -->

				</div>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
	<script src="/pages/loginManager.js"></script>
</th:block>

</body>
</html>
