<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0" />
	<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" /> -->

	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta name="_csrf" th:content="${_csrf.token}">

	<title>Login - ePAMS</title>

	<link rel="shortcut icon" href="/images/kdb/epams_r.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/images/kdb/epams_r_192.png" />
	<link rel="apple-touch-icon" href="/images/kdb/epams_r_512.png" />
	<link rel="manifest" href="manifest.webmanifest" />

	<link rel="stylesheet" href="/css/kdb-font.css">
	<link rel="stylesheet" href="/extensions/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="/css/kdb-custom.css">
	<link rel="stylesheet" href="/extensions/bootstrapicons/bootstrap-icons.min.css">
</head>

<body>
	<div class="login" id="auth">
		<div class="row h-100">
			<div class="col-lg-5 col-12 align-self-center">
				<div id="auth-left" class="d-flex justify-content-center">
					<div class="container-login">
						<div class="d-flex justify-content-center">
							<div class="mt-3">
								<h5>KDB 외부망근태시스템</h5>
							</div>
						</div>
						<div class="d-flex justify-content-center">
							<h1 class="auth-title mb-5">ePAMS</h1>
						</div>
						<form action="/webauthn/welcome" method="POST" id="form">
							<div class="d-flex align-items-center justify-content-end me-2 mb-2">
								<div class="form-check form-switch d-flex align-items-center">
									<input class="form-check-input me-2" type="checkbox" role="switch" id="flexSwitchCheckChecked" th:checked="${isChecked}">
									<label class="form-check-label m-0" id="switchLabel" for="flexSwitchCheckChecked">
										<h6 class="m-0">간편인증</h6>
									</label>
								</div>
							</div>

							<div class="justify-content-center">
								<div class="container col-xl-12 col-lg-12 col-12">
									<div class="form-group position-relative has-icon-left mb-1">
										<input type="text" name="username" id="username" class="uppercase-text form-control form-control-xl" placeholder="K행번" autocomplete="username">
										<div class="form-control-icon">
											<i class="bi bi-person"></i>
										</div>
									</div>
									<div class="form-group position-relative has-icon-left mb-1" id="twostepDiv">
										<input type="password" name="password" id="password" class="form-control form-control-xl" placeholder="ESSO 패스워드" autocomplete="new-password">
										<div class="form-control-icon">
											<i class="bi bi-key"></i>
										</div>
									</div>
									<div class="form-check form-check-lg d-flex align-items-end">
										<input class="form-check-input me-2 mt-1" type="checkbox" value="checked" id="flexCheckDefault" name="remember">
										<label class="form-check-label m-0 text-gray-600" for="flexCheckDefault"> ID 기억하기 </label>
									</div>
								</div>
							</div>
							<div class="justify-content-center">
								<div class="container col-xl-12 col-lg-12 col-12">
									<div class="divider">
										<div class="divider-text">
											<h6>
												<i class="bi bi-phone-vibrate"></i> 인증방법 <i class="bi bi-fingerprint"></i>
											</h6>
										</div>
									</div>
									<fieldset id="twostepDiv2">
										<div class="d-flex justify-content-center">
											<label> <input class="form-check-input" type="radio" name="MFA" id="sms" value="SMS" checked /> <span class="mfa-radio-text">SMS</span>
											</label> <label> <input class="form-check-input ms-2" type="radio" name="MFA" id="kakao" value="카카오톡" /> <span class="mfa-radio-text">카카오</span>
											</label> <label> <input class="form-check-input ms-2" type="radio" name="MFA" id="otp" value="OTP" /> <span class="mfa-radio-text">OTP</span>
											</label> <label> <input class="form-check-input ms-2" type="radio" name="MFA" id="fido" value="FIDO" /> <span class="mfa-radio-text">FIDO</span>
											</label>
										</div>
									</fieldset>
									<fieldset id="twostepDiv3">
										<div class="d-flex justify-content-center">
											<label> <input class="form-check-input" type="radio" name="MFA2" id="simple" value="SIMPLE" checked /> <span class="badge rounded-pill text-bg-primary">간편인증</span>
											</label>
										</div>
									</fieldset>
									<br>
								</div>
							</div>
							<div class="justify-content-center">
								<div class="container col-xl-12 col-lg-12 col-12">
									<input type="hidden" id="credential" name="credential">
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
									<button id="login" class="btn btn-primary btn-block btn-lg shadow-lg mt-2" type="submit">로그인</button>
								</div>
							</div>
						</form>
						<div class="text-center mt-5 text-lg fs-8">
							<p>
								<a class="font-bold" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable">도움이 필요하신가요?</a>
							</p>
						</div>

						<!--scrolling content Modal -->
						<div class="modal fade" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-scrollable" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalScrollableTitle">무엇을 도와드릴까요?</h5>
										<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                                <line x1="6" y1="6" x2="18" y2="18"></line>
                                            </svg>
										</button>
									</div>
									<div class="modal-body">
										<h6>Q1.담당자 안내</h6>
										<p>
											디지털금융부 박산업 과장(0000)<br> 디지털금융부 진은행 대리(1111)
										</p>
										<br>

										<h6>Q2.테스트 계정</h6>
										<p>
											ID : K010001 ~ K250200 <br> PW : kdb1234!<br> (총 5,000명 : 01~25행번 각 200명씩)
										</p>
										<br>

										<h6>Q3.FIDO</h6>
										<p>
											테스트 때문에 FIDO는 무조건 인증 허용 설정<br> 개발콘솔 사용이 어렵다면 FIDO로 최초 로그인
										</p>
										<br>

										<h6>Q4.SMS/카카오/OTP</h6>
										<p>Eclipse 등 IDE 콘솔에서 OTP 확인</p>
										<br>

										<h6>Q5.사용자는 패스키를 어떻게 사용하나요?</h6>
										<p>사용자가 앱이나 웹사이트에 로그인하라는 요청을 받으면 사용자는 디바이스(휴대폰, 컴퓨터 또는 보안 키)의 잠금을 해제하는 데 사용하는 것과 동일한 생체 인식 또는 PIN을 사용하여 로그인을 승인합니다. 앱이나 웹사이트에서는 기존의 (안전하지 않은) 사용자 이름과 비밀번호 대신 이 메커니즘을 사용할 수 있습니다.</p>
										<br>

										<h6>Q6.What is WebAuthn(간편인증)?</h6>
										<p>WebAuthn is supported in the Chrome, Firefox, and Edge browsers to different degrees, but support for credential creation and assertion using a U2F Token, like those provided by Yubico and Feitian, is supported by all of them. The code for this demo can be found here on GitHub. To read more about WebAuthn and what it does, check out webauthn.guide for an introduction.</p>
										<br>


									</div>
								</div>
							</div>
						</div>
						<!-- modal end -->
					</div>
				</div>
			</div>

			<!-- 지우면 오른쪽 구역 사라짐 -->
			<div class="col-lg-7 d-none d-lg-block">
				<div id="auth-right"></div>
			</div>
		</div>
	</div>

	<script src="/extensions/jquery/jquery.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/extensions/sweetalert2/sweetalert2.min.js"></script>
	<script src="/extensions/webauthn/js/base64js.min.js"></script>
	<script src="/extensions/webauthn/js/custom.js"></script>
	<script src="/js/cookie.js"></script>
	<script src="/js/login.js"></script>

</body>

</html>
