<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0" />

	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta name="_csrf" th:content="${_csrf.token}">

	<title>Login - ePAMS</title>

	<link rel="shortcut icon" href="/images/kdb/epams_r.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/images/kdb/epams_r_192.png" />
	<link rel="apple-touch-icon" href="/images/kdb/epams_r_512.png" />
	<link rel="manifest" href="/manifest.webmanifest" />

	<link rel="stylesheet" href="/css/kdb-font.css">
	<link rel="stylesheet" href="/extensions/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="/css/kdb-custom.css">
	<link rel="stylesheet" href="/extensions/bootstrapicons/bootstrap-icons.min.css">

</head>

<body>
	<div class="login" id="auth">
		<div class="row h-100">
			<div class="col-lg-5 col-12 align-self-center">
				<div class="a2hs hidden d-flex justify-content-start align-items-center m-3 gap-2" id="install">
					<img src="/images/kdb/epams_r.png" alt="logo" class="intallLogo">
					<p class="h6 m-0">앱 설치</p>
				</div>
				<div id="auth-left" class="d-flex justify-content-center">
					<div class="container-login">
						<div class="d-flex justify-content-center">
							<div class="mt-3">
								<h5>KDB 외부망근태시스템</h5>
							</div>
						</div>
						<div class="mt-2 position-relative text-center">
							<h1 class="auth-title mb-5 justify-content-center">ePAMS</h1>
							<!-- <span class="badge main-badge position-absolute top-100 start-50 translate-middle mt-2">🔍전화번호부</span> -->
						</div>
						<form action="/webauthn/welcome" method="POST" id="loginForm">

							<div class="justify-content-center">
								<div class="container col-xl-12 col-lg-12 col-12">
									<div class="form-group position-relative has-icon-left mb-1">
										<input type="text" name="username" id="username" class="uppercase-text form-control form-control-xl" placeholder="K행번" autocomplete="username">
										<div class="form-control-icon">
											<i class="bi bi-person"></i>
										</div>
									</div>
									<div class="form-group position-relative has-icon-left mb-1" id="passwordDiv">
										<input type="password" name="password" id="password" class="form-control form-control-xl" placeholder="업무망 PC 로그인 비밀번호" autocomplete="new-password">
										<div class="form-control-icon">
											<i class="bi bi-key"></i>
										</div>
									</div>
									<div class="form-check form-check-lg d-flex align-items-end">
										<input class="form-check-input me-2 mt-1" type="checkbox" value="checked" id="flexCheckDefault" name="remember">
										<label class="form-check-label m-0 text-gray-600" for="flexCheckDefault"> ID 기억하기 </label>
									</div>
								</div>
							</div>
							<div class="justify-content-center">
								<div class="container col-xl-12 col-lg-12 col-12">
									<div class="divider">
										<div class="divider-text">
											<h6>
												<i class="bi bi-phone-vibrate"></i> 인증방법 <i class="bi bi-fingerprint"></i>
											</h6>
										</div>
									</div>
									<fieldset id="authTypeRadio">
										<div class="d-flex justify-content-center align-items-center">
											<label class="d-flex justify-content-center align-items-center gap-1">
												<input class="form-check-input mt-0" type="radio" name="MFA" id="kakao" value="카카오톡" checked/>
												<span class="mfa-radio-text">카카오톡</span>
											</label>
											<label class="d-flex justify-content-center align-items-center gap-1">
												<input class="form-check-input mt-0 ms-3" type="radio" name="MFA" id="sms" value="SMS" />
												<span class="mfa-radio-text">SMS</span>
											</label>
											<label class="d-flex justify-content-center align-items-center gap-1">
												<input class="form-check-input mt-0 ms-3" type="radio" name="MFA" id="webauthn" value="webauthn" />
												<span class="mfa-radio-text d-flex justify-content-center align-items-center">간편인증
													
												</span>
											</label>
											<i id="simpleAuthQ" class="bi bi-question-circle-fill text-secondary ms-1"></i>
										</div>
									</fieldset>
									<br>
								</div>
							</div>
							<div class="justify-content-center">
								<div class="container col-xl-12 col-lg-12 col-12">
									<input type="hidden" id="credential" name="credential">
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
									<button id="login" class="btn btn-primary btn-block btn-lg shadow-lg mt-2" type="submit">로그인</button>
								</div>
							</div>
						</form>
						<div class="text-center mt-5 text-lg fs-8">
							<p>
								<a class="font-bold" id="loginFaqLink" data-bs-toggle="modal" data-bs-target="#loginFaq">도움이 필요하신가요?</a>
							</p>
						</div>

						<!--scrolling content Modal -->
						<div class="modal fade" id="loginFaq" tabindex="-1" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-scrollable" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalScrollableTitle">무엇을 도와드릴까요?</h5>
										<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                                <line x1="6" y1="6" x2="18" y2="18"></line>
                                            </svg>
										</button>
									</div>
									<div class="modal-body">
									</div>
								</div>
							</div>
						</div>
						<!-- modal end -->
					</div>
				</div>
			</div>

			<!-- 지우면 오른쪽 구역 사라짐 -->
			<div class="col-lg-7 d-none d-lg-block">
				<div id="auth-right"></div>
			</div>

			<div id="toast" aria-live="polite" aria-atomic="true" class="toast-container p-3">
				<div class="toast fade">
					<div class="toast-header d-flex align-items-center gap-2">
						<img src="/images/kdb/epams_r_192.png" class="rounded me-2" width="20" height="20" alt="logo">
						<span class="h6 m-0">ePAMS 안내사항</span>
						<small>방금</small>
						<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
					</div>
					<div class="toast-body">
						<p>간편인증이 등록된 사용자는 자동으로 간편인증이 선택됩니다.</p> <p>간편인증 사용을 원하지 않으시면 로그인 후 간편인증 등록을 해제해주세요.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Forward Thymeleaf variable to Javascript-->
	<div id="webauthnData" th:attr="data-webauthn=${webauthn}"></div>

	<!--3rd Party Library-->
	<script src="/extensions/dompurify/purify.min.js"></script>
	<script src="/extensions/jquery/jquery.min.js"></script>
	<script src="/extensions/bootstrap/bootstrap.js"></script>
	<script src="/extensions/sweetalert2/sweetalert2.min.js"></script>
	<script src="/extensions/webauthn/js/base64js.min.js"></script>
	<script src="/extensions/webauthn/js/custom.js"></script>

	<!--KDB Utility-->
	<script src="/js/utils/initA2HS.js"></script>
	<script src="/js/utils/commonPopup.js"></script>
	<script src="/js/utils/cookie.js"></script>
	<script src="/js/utils/session.js"></script>
	<script src="/js/utils/remember.js"></script>
	<script src="/js/utils/spinnerButton.js"></script>
	<script src="/js/utils/webauthn.js"></script>
	<script src="/js/utils/otpLogin.js"></script>
	<script src="/js/utils/checkBrowser.js"></script>
	
	<!--KDB Page-->
	<script src="/js/pages/login.js"></script>

</body>

</html>
