<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org" layout:decorate="~{common/layout/layout}">

<head>
<!-- (start) private script -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/extensions/tinymce/tinymce.css">
	<script src="/extensions/tinymce/tinymce.min.js"></script>
	<script src="/js/pages/tinymce.js"></script>
	<script>
      
        tinymce.init({
            selector: '#open',
            plugins: [
                "advlist", "accordion", "anchor", "autolink", "autoresize", "charmap", "code", "codesample",
                "fullscreen",
                "help", "image", "insertdatetime", "link", "lists", "media",
                "nonbreaking", "pagebreak", "preview", "quickbars", "save", "searchreplace", "table", "visualblocks", "wordcount"
            ],
            branding: false,
            promotion: false,   
            images_upload_url: 'image',
            images_upload_base_path: '/board/upload/',
            automatic_uploads: true,
            images_reuse_filename: true,
            relative_urls: false,
            remove_script_host: false,
            document_base_url: window.location.origin,
            images_upload_handler : (blobInfo, progress) => new Promise((resolve, reject) => {
                var xhr, formData;
                // CSRF 토큰 설정
                var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
                var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
                
                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', '/board/upload/image'); // 서버 업로드 엔드포인트    
                xhr.setRequestHeader(csrfHeader, csrfToken);

                xhr.upload.onprogress = (e) => {
                    progress(e.loaded / e.total * 100);
                  };
                  
                xhr.onload = function() {
                    var json;
                    try {
                        if (xhr.status != 200) {
                            console.error('HTTP Error: ' + xhr.status);
                            failure('HTTP Error: ' + xhr.status);
                            return;
                        }
                        json = JSON.parse(xhr.responseText);
                        if (!json || typeof json.location != 'string') {
                            console.error('Invalid JSON: ' + xhr.responseText);
                            failure('Invalid JSON: ' + xhr.responseText);
                            return;
                        }
                        console.log('Image uploaded successfully:', json.location); // 업로드된 이미지 URL을 로그로 출력
                        resolve(json.location);
                    } catch (e) {
                        console.error('Error parsing JSON: ', e);
                        failure('Error parsing JSON: ' + e.message);
                    }
                };

                xhr.onerror = () => {
                    console.error('Error during the request.');
                    reject('Image upload failed due to a XHR Transport error. Code: ' + xhr.status);
                };

                formData = new FormData();
                console.log('blobInfo.filename():', blobInfo.filename()); // 업로드된 이미지 URL을 로그로 출력
                formData.append('file', blobInfo.blob(), blobInfo.filename());
                xhr.send(formData);
            }),
            setup: function(editor) {
                editor.on('init', function() {
                	console.log("init");
                    editor.getBody().style.width = '100%';
                });

                editor.on('NodeChange', function(e) {
					console.log("NodeChange");
                    if (e && e.element.nodeName.toLowerCase() == 'img') {
                        e.element.style.width = '300px';
                    }
                });
            }
        });
        
    </script>
	<script src="/extensions/dropzone/dropzone.js"></script>
	<link rel="stylesheet" href="/extensions/dropzone/dropzone.min.css" type="text/css" />

	<style>
.dropzone {
	border: dashed 4px #ddd !important;
	background-color: #f2f6fc;
	border-radius: 15px;
	min-height: 0;
	padding: 0;
}

.dropzone .dz-message {
	margin: 0.5em;
}

.dropzone .dropzone-container {
	padding: 2rem 0;
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #8c96a8;
	z-index: 20;
}

.dropzone .file-input {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
}

.file-icon {
	font-size: 60px;
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	margin: 8px 0px;
}

.hr-sect:before, .hr-sect:after {
	content: "";
	flex-grow: 1;
	background: #ddd;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}
</style>
</th:block>
<!-- (end) private script -->
</head>
<body>

	<div layout:fragment="contents">
		<div id="main-content">
			<div class="page-heading">
				<h2>
					<i class="bi bi-bell-fill"></i> 공지사항
				</h2>
				<br> <input class="form-control" type="text" placeholder="제목" aria-label="default input example" id="title" th:value="${board.boardTitle}"><br>
				
		        <div style="display: flex; align-items: center; gap: 1rem;">
		            <h6 style="margin: 0;">카테고리</h6>
		            <div class="form-check" style="margin: 0;">
		                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="IT">
		                <label class="form-check-label" for="flexRadioDefault1"> IT </label>
		            </div>
		            <div class="form-check" style="margin: 0;">
		                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="인사" checked>
		                <label class="form-check-label" for="flexRadioDefault2"> 인사 </label>
		            </div>
		        </div>
				
				<textarea name="open" id="open" cols="30" rows="10" th:utext="${board.boardContents}"></textarea>
				<br>
				<!-- 기존 첨부파일 목록 -->
				<ul class="list-unstyled mb-3">
					<li th:if="${board.fileAttached == 1}" th:each="boardFile: ${boardFileList}">
						<div class="d-flex align-items-center p-2">
							<div class="col-9">
								<span> 첨부 [[${boardFileStat.count}]]</span> <a th:href="@{|/board/${board.seqId}/download/${boardFile.seqId}|}" th:utext="${boardFile.originalFileName}"></a>
							</div>
							<div class="col-3 d-flex justify-content-end">
								<div class="shrink-0 ms-3">
									<button class="btn btn-danger btn-sm" type="submit" id="del" th:onclick="del([[${boardFile.seqId}]], [[@{|/board/${board.seqId}/download/${boardFile.seqId}|}]], [[${boardFile.originalFileName}]])">삭제</button>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<!-- 신규 파일 업로드 -->
				<div id="dropzone">
					<!-- 파일첨부 BOX 영역 -->
					<div class="dropzone" id="my-awesome-dropzone">
						<!-- 파일첨부 리스트 영역 -->
						<ul class="list-unstyled mb-3" id="dropzone-preview">
							<li class="mt-2 p-2" id="dropzone-preview-list">
								<!-- This is used as the file preview template -->
								<div class="border rounded-3">
									<div class="d-flex align-items-center p-2">
										<div class="col-9">
											<div class="flex-grow-1">
												<div class="pt-1">
													<h6 class="font-semibold mb-1" data-dz-name="data-dz-name">&nbsp;</h6>
													<p class="text-sm text-muted fw-normal" data-dz-size="data-dz-size"></p>
													<strong class="error text-danger" data-dz-errormessage="data-dz-errormessage"></strong>
												</div>
											</div>
										</div>
										<div class="col-3 d-flex justify-content-end">
											<div class="shrink-0 ms-3">
												<button data-dz-remove="data-dz-remove" class="btn btn-sm btn-danger">삭제</button>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="d-flex gap-2 flex-row-reverse">
					<button class="btn btn-primary mt-3" type="submit" id="submit" onclick="save2()">등록</button>
					<a class="btn btn-secondary mt-3" type="submit" id="submit" th:href="@{/board/list}">목록</a>
				</div>
				<br>
			</div>
		</div>
	</div>

	<!-- (start) private script -->
	<th:block layout:fragment="script">
		<script th:inline="javascript">	
		
	    // Disable AutoDiscover
	    Dropzone.autoDiscover = false;
	    
	    var dropzonePreviewNode = document.querySelector('#dropzone-preview-list'); // <li class="mt-2" id="dropzone-preview-list"> 부분을 가져와서
	    dropzonePreviewNode.id = ''; // 중복 회피를 위해 id 없애고
	    var previewTemplate = dropzonePreviewNode.parentNode.innerHTML; // 엘리먼트 전체를 저장 (템플릿)
	    dropzonePreviewNode.parentNode.removeChild(dropzonePreviewNode); // 그리고 삭제  
	    
	    
	    // Set Dropzone Options
	    Dropzone.options.myAwesomeDropzone = {
	        autoProcessQueue: false,
	        uploadMultiple: true,
	        parallelUploads: 20,
	        maxFiles: 20,
	        //addRemoveLinks: true,
	        acceptedFiles: "image/*,application/pdf",
	        maxFilesize: 10,
	        dictDefaultMessage: "파일을 끌어다 놓거나,<br>클릭해서 직접 업로드하세요.<br>(이미지 or PDF / 최대 10개)",
	        
	        previewTemplate: previewTemplate, // 만일 기본 테마를 사용하지않고 커스텀 업로드 테마를 사용하고 싶다면
	        previewsContainer: '#dropzone-preview', // 드롭존 파일 나타나는 영역을 .dropzone이 아닌 다른 엘리먼트에서 하고싶을때
	        
	        clickable: "#dropzone",
	    }
	    
	    // Initialize Dropzone
	    var myDropzone = new Dropzone("#my-awesome-dropzone", {url: "/store-item"});
	    
		const save2 = () => {
	    let header = $("meta[name='_csrf_header']").attr('content');
	    let token = $("meta[name='_csrf']").attr('content');	    
		let seqId = /*[[${board.seqId}]]*/ "seqId";
		let formData = new FormData();		
		let files = myDropzone.getQueuedFiles();
		console.log(files.length);
		for (const file of files) {
			  formData.append('boardFile', file);
			  console.log(file);
		}
		
		formData.append("seqId", seqId)
		formData.append("boardTitle", document.getElementById("title").value)
		formData.append("boardContents", tinymce.get("open").getContent())
		formData.append("category", document.querySelector('input[name="flexRadioDefault"]:checked').value)

		Swal.fire({
		        title: "등록",
		        html: "등록 하시겠습니까?",
		        icon: "info",
		        showCancelButton: true,
		        confirmButtonText: "등록",
		        confirmButtonColor: "#3085d6",
		        cancelButtonText: "취소",
		        cancelButtonColor: "#d33",
		        showLoaderOnConfirm: true,
		        preConfirm: async () => {},
		        allowOutsideClick: () => !Swal.isLoading()
		    }).then((result) => {
		        if (result.isConfirmed) {       
		        	$.ajax({
		        		type: "post",
						url: "/board/update",
						processData : false,
						contentType : false,
						data: formData,
		                //CSRF Token
		                beforeSend: function (xhr) {
				        	xhr.setRequestHeader(header, token);
				        },		
						complete: function(data) {
							//upload(document.getElementById("title").value, tinymce.get("open").getContent());
							Swal.fire({
						      title: "등록 완료",
						      text: "게시글이 등록되었습니다.",
						      icon: "success"
						    }).then((result) => {
					        	window.location.href = '/board/'+seqId;
						    })
						}	
			    	});
		    	}
			})
		}
		
	    function update()
	    {    
	        const header = $("meta[name='_csrf_header']").attr('content');
	        const token = $("meta[name='_csrf']").attr('content');
	    	$.ajax({
				type: "post",
				url: "/board/update",
				dataType: "json",
				data: {
					"seqId": /*[[${board.seqId}]]*/ "seqId",
					"boardTitle": document.getElementById("title").value,
					"boardContents": tinymce.get("open").getContent(),
				},
                //CSRF Token
                beforeSend: function (xhr) {
		        	xhr.setRequestHeader(header, token);
		        },		
				complete: function(data) {
					window.location.href = '/board/list'
				}
	    	});
		}
	    
		// 삭제
	    const del = (id, url, name) => {
	    	console.log("delete id : "+id);
	    	console.log("delete url : "+url);
	    	console.log("delete file : "+name);
		    let header = $("meta[name='_csrf_header']").attr('content');
		    let token = $("meta[name='_csrf']").attr('content');	
		    
			Swal.fire({
		        title: "삭제하시겠습니까?",
		        html: "<a href=\""+url+"\">"+name+"</a>",
		        icon: "warning",
		        showCancelButton: true,
		        confirmButtonText: "삭제",
		        confirmButtonColor: "#d33",
		        cancelButtonText: "취소",
		        cancelButtonColor: "#3085d6",
		        showLoaderOnConfirm: true,
		        preConfirm: async () => {},
		        allowOutsideClick: () => !Swal.isLoading()
		    }).then((result) => {	        
			})	    
	    }
	    </script>
	</th:block>
	<!-- (end) private script -->

</body>

</html>