<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org" layout:decorate="~{common/layout/layout}">

<head>
    <!-- (start) private script -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/extensions/apexcharts/apexcharts.css">
    </th:block>
    <!-- (end) private script -->
</head>

<body>
<div layout:fragment="contents">
    <div class="container">
        <div id="main-content">
            <h2>
                <i class="bi bi-bell-fill"></i> 대시보드
            </h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"> 로그인 성공/실패 이력 </h4>
                        </div>
                        <div class="card-body">
                            <div id="login-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"> View 페이지 호출 건수 </h4>
                        </div>
                        <div class="card-body">
                            <div id="viewlog-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"> 로그인 종류 </h4>
                        </div>
                        <div class="card-body">
                            <div id="login-type-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- (start) private script -->
<th:block layout:fragment="script">
    <script src="/extensions/apexcharts/apexcharts.js" ></script>
    <script src="/js/dashboard.js"></script>
</th:block>
<!-- (end) private script -->
</body>
</html>
