<!DOCTYPE html>
<html layout:decorate="~{common/layout/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- (start) private script -->
    <th:block layout:fragment="css">
        <link href="/extensions/tabulator/tabulator_modern.min.css" rel="stylesheet">
        <link href="/extensions/tabulator/kdb_tabulator.css" rel="stylesheet">
        </style>
    </th:block>
    <!-- (end) private script -->
</head>

<body>
    <div layout:fragment="contents">
        <div class="adminPage" id="main-content">
            <div class="main-content col-lg-10 offset-lg-1 d-flex justify-content-center">
                <div class="page-heading">
                    <div class="align-middle">
                        <h2>
                            <i class="bi bi-bell-fill"></i> 어휘관리
                        </h2> <br>
                        <div class="d-flex flex-wrap gap-2 justify-content-start align-items-center mb-3">
                            <div class="col-auto">
                                <input class="form-control form-control-sm" id="search-input" placeholder="검색"
                                    type="text">
                            </div>
                            <button class="btn btn-primary btn-sm" id="search-button">조회</button>
                            <button class="btn btn-primary btn-sm" id="reset-button">초기화</button>
                        </div>

                        <div class="d-flex flex-wrap justify-content-end gap-2 mb-3">
                            <div class="custom-file-input-wrapper">
                                <input class="form-control form-control-sm" id="upload-csv-input" type="file">
                            </div>
                            <button class="btn btn-primary btn-sm" id="upload-csv">업로드</button>
                            <button class="btn btn-primary btn-sm" id="download-csv">다운로드</button>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <!-- 왼쪽 정렬 요소 (작은 화면에서는 아래쪽) -->
                            <div class="form-check form-switch d-flex align-items-center">
                                <input class="form-check-input ms-0 me-2" id="toggle-selectable" role="switch"
                                    type="checkbox">
                                <label class="form-check-label m-0" for="toggle-selectable">범위선택</label>
                            </div>

                            <!-- 오른쪽 정렬 요소 (작은 화면에서는 위쪽) -->
                            <div class="d-flex flex-wrap justify-content-end gap-2">
                                <button class="btn btn-secondary btn-sm" id="reload">
                                    <i class="bi bi-arrow-clockwise"></i> <!-- 새로고침 아이콘 -->
                                </button>
                                <button class="btn btn-secondary btn-sm" id="add-row">
                                    <i class="bi bi-plus"></i> <!-- 행 추가 아이콘 -->
                                </button>
                                <button class="btn btn-secondary btn-sm" id="del-row">
                                    <i class="bi bi-trash"></i> <!-- 삭제 아이콘 -->
                                </button>
                                <button class="btn btn-primary btn-sm" id="save">
                                    <i class="bi bi-floppy"></i> <!-- 저장 아이콘 -->
                                </button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="no-drag" id="tabulator-table"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- (start) private script -->
    <th:block layout:fragment="script">
        <script src="/extensions/tabulator/tabulator.min.js"></script>
        <script src="/extensions/papaparse/papaparse.min.js"></script>
        <script src="/extensions/luxon/luxon.js"></script>
        <script src="/extensions/tabulator/kdb_tabulator.js"></script>
        <script src="/js/language.js"></script>
    </th:block>

    <!-- (end) private script -->
</body>

</html>