[Unit]
Description=ePAMS Spring Boot Application
After=network.target

[Service]
Type=simple
User=ehr
Group=appgrp
EnvironmentFile=/app/ehr/ePAMS.env
ExecStart=java -Xms1G -Xmx2G -XX:+UseG1GC -XX:+UseStringDeduplication -Djava.security.egd=file:/dev/./urandom -jar /app/ehr/ePAMS/build/libs/ePAMS-1.0.0-RELEASE.jar
WorkingDirectory=/app/ehr/ePAMS/
SuccessExitStatus=143
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=10
TimeoutSec=300

[Install]
WantedBy=multi-user.target
