[Unit]
Description=ePAMS Spring Boot Application
After=network.target

[Service]
User=kdbadmin
Group=kdbadmin
EnvironmentFile=/home/kdbadmin/ePAMS.env
ExecStart=/usr/bin/java -Xms1G -Xmx2G -XX:+UseG1GC -XX:+UseStringDeduplication -Djava.security.egd=file:/dev/./urandom -jar /opt/ePAMS/build/libs/ePAMS-0.0.2-SNAPSHOT.jar
WorkingDirectory=/opt/ePAMS/
SuccessExitStatus=143
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=10
TimeoutSec=300
WatchdogSec=60

[Install]
WantedBy=multi-user.target