<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATH">logs</Property>
    </Properties>

    <Appenders>
        <!-- 콘솔에 출력할 로그 설정 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"/>
        </Console>

        <!-- 파일에 로그를 기록할 설정 -->
        <RollingFile name="File" fileName="${LOG_PATH}/myapp.log"
                     filePattern="${LOG_PATH}/myapp-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- 루트 로거 설정 -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>

        <!-- 패키지별 로거 설정 -->
        <Logger name="epams" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
