<configuration>
    <springProperty name="LOG_PATH" source="kdb.logpath" />
    <springProperty name="LOG_FILE" source="kdb.logfile" />

    <!-- 콘솔에 출력할 로그 설정 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 파일에 로그를 기록할 설정 -->
    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/myapp.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="File" />
    </root>

    <!-- 패키지별 로거 설정 -->
    <logger name="epams" level="DEBUG" additivity="false">
        <appender-ref ref="Console" />
    </logger>
</configuration>
