<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
    </settings>
    <typeAliases>

        <!-- Entity -->
        <typeAlias type="epams.com.board.entity.BoardImageEntity" alias="boardImage"></typeAlias>
        <typeAlias type="epams.com.board.entity.BoardEntity" alias="board"></typeAlias>
        <typeAlias type="epams.com.board.entity.BoardFileEntity" alias="boardFile"></typeAlias>

        <typeAlias type="epams.com.admin.entity.LogLoginEntity" alias="logLogin"></typeAlias>
        <typeAlias type="epams.com.admin.entity.CodeEntity" alias="code"></typeAlias>
        <typeAlias type="epams.com.admin.entity.HtmlEntity" alias="html"></typeAlias>
        <typeAlias type="epams.com.admin.entity.CodeHtmlEntity" alias="codeHtml"></typeAlias>
        <typeAlias type="epams.com.admin.dto.CodeHtmlDetailDTO" alias="codeHtmlDetail"></typeAlias>
        <typeAlias type="epams.com.admin.entity.LogViewEntity" alias="viewLog"></typeAlias>

        <typeAlias type="epams.com.login.entity.LoginOTPEntity" alias="loginOTP"></typeAlias>

        <typeAlias type="epams.com.member.entity.IamUserEntity" alias="iamUser"></typeAlias>
        <typeAlias type="epams.com.member.entity.RoleEntity" alias="role"></typeAlias>

        <!-- DTO -->
        <typeAlias type="epams.dtm.dto.BasePeriodDTO" alias="basePeriod"></typeAlias>
        <typeAlias type="epams.dtm.dto.DtmApplDTO" alias="dtmAppl"></typeAlias>
        <typeAlias type="epams.dtm.dto.DtmHisDTO" alias="dtmHis"></typeAlias>

    </typeAliases>

</configuration>