<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
    </settings>
    <typeAliases>

        <typeAlias type="epams.domain.com.board.dto.BoardImageDTO" alias="boardImageDTO"></typeAlias>
        <typeAlias type="epams.domain.com.board.dto.BoardDTO" alias="boardDTO"></typeAlias>
        <typeAlias type="epams.domain.com.board.dto.BoardFileDTO" alias="boardFileDTO"></typeAlias>

        <typeAlias type="epams.domain.com.admin.dto.LogLoginDTO" alias="logLoginVO"></typeAlias>

        <typeAlias type="epams.domain.com.admin.dto.CodeDTO" alias="codeDTO"></typeAlias>

        <typeAlias type="epams.domain.com.admin.dto.HtmlDTO" alias="htmlDTO"></typeAlias>

        <typeAlias type="epams.domain.com.admin.dto.CodeHtmlMapDTO" alias="codeHtmlDTO"></typeAlias>

        <typeAlias type="epams.domain.com.admin.dto.LogViewDTO" alias="viewLogDTO"></typeAlias>

        <typeAlias type="epams.domain.com.admin.dto.CodeHtmlDetailDTO" alias="codeHtmlDetail"></typeAlias>

        <typeAlias type="epams.domain.com.login.dto.LoginOTPDTO" alias="loginOtpDTO"></typeAlias>

        <typeAlias type="epams.domain.com.member.dto.IamUserDTO" alias="iamUserDTO"></typeAlias>
        <typeAlias type="epams.domain.com.member.dto.RoleDTO" alias="roleDTO"></typeAlias>

        <!-- DTO -->
        <typeAlias type="epams.domain.dtm.dto.DtmApplDTO" alias="dtmAppl"></typeAlias>
        <typeAlias type="epams.domain.dtm.dto.DtmHisDTO" alias="dtmHis"></typeAlias>
        <typeAlias type="epams.domain.com.commonCode.CommonCodeDTO" alias="commonCodeDTO"></typeAlias>
        <typeAlias type="epams.domain.com.apply.dto.ElaApplCDTO" alias="ElaApplCDTO"></typeAlias>
        <typeAlias type="epams.domain.com.apply.dto.ElaApplTrCDTO" alias="ElaApplTrCDTO"></typeAlias>

        <typeAlias type="epams.domain.dtm.dto.DtmApplCheckProcDTO" alias="PreCheckProcDTO"></typeAlias>

    </typeAliases>

</configuration>