<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
    </settings>
    <typeAliases>

        <!-- Entity -->
        <typeAlias type="epams.com.board.dto.BoardImageDTO" alias="boardImageDTO"></typeAlias>
        <typeAlias type="epams.com.board.dto.BoardDTO" alias="boardDTO"></typeAlias>
        <typeAlias type="epams.com.board.dto.BoardFileDTO" alias="boardFileDTO"></typeAlias>

        <typeAlias type="epams.com.admin.dto.LogLoginDTO" alias="logLoginDTO"></typeAlias>

        <typeAlias type="epams.com.admin.dto.CodeDTO" alias="codeDTO"></typeAlias>

        <typeAlias type="epams.com.admin.dto.HtmlDTO" alias="htmlDTO"></typeAlias>

        <typeAlias type="epams.com.admin.dto.CodeHtmlMapDTO" alias="codeHtmlDTO"></typeAlias>

        <typeAlias type="epams.com.admin.dto.LogViewDTO" alias="viewLogDTO"></typeAlias>

        <typeAlias type="epams.com.admin.dto.CodeHtmlDetailDTO" alias="codeHtmlDetail"></typeAlias>

        <typeAlias type="epams.com.login.dto.LoginOTPDTO" alias="loginOTPDTO"></typeAlias>

        <typeAlias type="epams.com.member.dto.IamUserDTO" alias="iamUserDTO"></typeAlias>
        <typeAlias type="epams.com.member.dto.RoleDTO" alias="roleDTO"></typeAlias>

        <!-- DTO -->
        <typeAlias type="epams.dtm.dto.BasePeriodDTO" alias="basePeriod"></typeAlias>
        <typeAlias type="epams.dtm.dto.DtmApplDTO" alias="dtmAppl"></typeAlias>
        <typeAlias type="epams.dtm.dto.DtmHisDTO" alias="dtmHis"></typeAlias>

    </typeAliases>

</configuration>