<div class="dtmApplPopup">
    <p class="title">
        <div class="row d-flex align-items-center justify-content-start mb-4" th:each="dto : ${revokeDtmHisDTOList}">
            <div class="revokeDtmNameTag ms-2 pe-0">
                <h6>
                    <span class="badge badge-sm rounded-pill bg-danger m-0">취소</span>
                    <span th:text="${dto.dtmReasonNm}"></span>
                </h6>
                <h7 th:text="${dto.dtmRange}"></h7>  
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-start mb-4" th:each="dto : ${registDtmHisDTOList}">
            <div class="registDtmNameTag ms-2 pe-0">
                <h6>
                    <span class="badge badge-sm rounded-pill bg-primary m-0">신규</span>
                    <span th:text="${dto.dtmReasonNm}"></span> 
                </h6>                 
                <h7 th:text="${dto.dtmRange}"></h7>         
            </div>
        </div>
    </p>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <div class="badge text-bg-warning text-wrap me-2">필독</div>
                    <h6 class="mb-0">근태 신청전 유의사항</h6>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row mb-2">
                        <div class="d-flex align-items-top gap-2">
                            <i class="bi bi-check-square-fill"></i>
                            <div>
                                근태관련 제반 규정을 준수하고, <strong>목적외 사용시 어떠한 처벌도 감수</strong>하겠음을 확인합니다.
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="d-flex align-items-top gap-2">
                            <i class="bi bi-check-square-fill"></i>
                            <div>
                                <strong>인장(부/임시 보관책임자), 보안</strong> 업무에 대해, 업무인수인계를 완료하였음을 확인합니다.
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="d-flex align-items-top gap-2">
                            <i class="bi bi-check-square-fill"></i>
                            <div>
                                위 담당업무외 <strong>중요서류 및 기타사항</strong>에 대하여 업무인수인계를 완료하였음을 확인합니다.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>