<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org">

<div layout:fragment="dtmList">
    <!--컨텐츠 목록-->
    <div class="row col-lg-12 col-md-12 col-sm-12">
        <div class="col-12">
            <div class="animate__animated animate__fadeIn animate__slow">
                <section class="section" th:each="dtm: ${dtmHis}">
                    <div class="card">
                        <div class="card-body">
                            <div th:switch="${dtm.status}">
                                            <span th:case="'과거'" class="badge badge-sm mb-4 bg-secondary">
                                                <span th:text="${dtm.status}"></span>
                                            </span>
                                <span th:case="'예정'" class="badge badge-sm mb-4 bg-primary">
                                                <span th:text="${dtm.status}"></span>
                                            </span>
                                <span th:case="'진행'" class="badge badge-sm mb-4 bg-warning">
                                                <span th:text="${dtm.status}"></span>
                                            </span>
                            </div>
                            <h6><span th:text="${dtm.dtmKindCd}"></span></h6>
                            <div class="d-flex flex-row align-items-center mt-3 mb-3 gap-3">
                                <div class="d-flex align-items-center gap-2">
                                    <h6>
                                        <span th:text="${#temporals.format(dtm.staYmd, 'yyyy-MM-dd')}"> </span>
                                        ~
                                        <span th:text="${#temporals.format(dtm.endYmd, 'yyyy-MM-dd')}"> </span>
                                    </h6>
                                </div>
                            </div>
                            <div class="d-flex flex-row mb-3 gap-3">
                                <div>
                                    <i class="bi bi-calendar-check"></i>
                                    <h7 th:text="${#temporals.format(dtm.tzDate, 'yyyy-MM-dd')}"></h7>
                                </div>
                                <div>
                                    <i class="bi bi-lightbulb"></i>
                                    <h7 th:text="${dtm.statCdNm}"></h7>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
</html>