<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org" layout:decorate="~{common/layout/layout}">

<head>
    <!-- (start) private script -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/extensions/litepicker/litepicker.css"/>
        <link rel="stylesheet" href="/extensions/select2/select2.css"/>
        <link rel="stylesheet" href="/extensions/swiper/swiper-bundle.min.css"/>
        <link rel="stylesheet" href="/extensions/swiper/customSwiper.css"/>
    </th:block>
    <!-- (end) private script -->
</head>

<body>
<div layout:fragment="contents">
    <div class="container">
        <div id="main-content">
            <div class="main-content d-flex justify-content-center">
                <div class="row d-flex justify-content-center">

                    <!-- 페이지 제목 시작 -->
                    <div class="page-heading">
                        <div class="d-flex justify-content-between align-items-end">
                            <div class="align-middle">
                                <h2><i class="bi bi-bell-fill"></i> <span th:text="${langList['DTM_LIST']}"></span></h2>
                            </div>
                            <div class="align-end">
                                <div class="dtmViewType btn-group" role="group" aria-label="DTM VIEW TYPE">
                                    <input type="radio" class="btn-check" name="dtmListView" id="dtmListView" autocomplete="off" checked>
                                    <label class="btn btn-outline-primary btn-sm d-flex justify-content-between" for="dtmListView">
                                        <a href="/dtm/dtmList">
                                            <i class="bi bi-list-ul"></i>
                                            <span>목록</span>
                                        </a>
                                    </label>
                                    <input type="radio" class="btn-check" name="dtmCalendarView" id="dtmCalendarView" autocomplete="off">
                                    <label class="btn btn-outline-primary btn-sm d-flex justify-content-between" for="dtmCalendarView">
                                        <a href="/dtm/dtmCalendar">
                                            <i class="bi bi-calendar"></i>
                                            <span>달력</span>
                                        </a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 페이지 제목 끝 -->

                    <!-- 페이지당 아이템 수 드롭다운 시작 -->
                    <div id="dropdownContainer" class="row col-lg-12 col-md-12 col-sm-12 m-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Select Dropdown on the Left -->
                            <select id="itemsPerPage" class="form-select form-select-sm w-auto" aria-label="Items per page">
                                <option value="5" th:selected="${itemsPerPage == 5}">5개</option>
                                <option value="10" th:selected="${itemsPerPage == 10}">10개</option>
                                <option value="20" th:selected="${itemsPerPage == 20}">20개</option>
                                <option value="50" th:selected="${itemsPerPage == 50}">50개</option>
                            </select>

                            <!-- Button Group on the Right -->
                            <div class="ms-auto">
                                <button type="button" class="btn btn-primary btn-sm" id="openDtmStatusModal">
                                    <span th:text="${langList['DTM_STATUS']}"></span>
                                </button>
                                <button type="button" class="btn btn-secondary btn-sm" id="toggleBtn" data-bs-toggle="collapse" data-bs-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
                                    <i class="bi bi-search me-1"></i><span th:text="${langList['RETRIEVE']}"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- 페이지당 아이템 수 드롭다운 끝 -->

                    <!-- 검색 드롭다운 시작 -->
                    <div id="collapseContainer" class="collapseSearch row col-lg-12 col-md-12 col-sm-12">
                        <div class="collapse" id="collapseSearch">
                            <div class="col-12">
                                <section class="section">
                                    <div class="card" id="collapseCard">
                                        <div class="card-body p-3">
                                            <div class="d-flex align-items-center justify-content-between mb-2">
                                                <h6><span th:text="${langList['ELA_STAT']}"></span></h6>
                                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">

                                                    <!-- 체크박스 121 진행(결재중)-->
                                                    <input type="checkbox" class="btn-check" name="statCdList" id="121" autocomplete="off" th:checked="${#lists.contains(searchDTO.statCdList, '121')}">
                                                    <label class="btn btn-outline-primary" for="121"><span th:text="${langList['ELA_STAT_CD_121_S']}"></span></label>

                                                    <!-- 체크박스 132 결재완료-->
                                                    <input type="checkbox" class="btn-check" name="statCdList" id="132" autocomplete="off" th:checked="${#lists.contains(searchDTO.statCdList, '132')}">
                                                    <label class="btn btn-outline-primary" for="132"><span th:text="${langList['ELA_STAT_CD_132_S']}"></span></label>

                                                    <!-- 체크박스 131 반려-->
                                                    <input type="checkbox" class="btn-check" name="statCdList" id="131" autocomplete="off" th:checked="${#lists.contains(searchDTO.statCdList, '131')}">
                                                    <label class="btn btn-outline-primary" for="131"><span th:text="${langList['ELA_STAT_CD_131_S']}"></span></label>

                                                    <!-- 체크박스 141 취소-->
                                                    <input type="checkbox" class="btn-check" name="statCdList" id="141" autocomplete="off" th:checked="${#lists.contains(searchDTO.statCdList, '141')}">
                                                    <label class="btn btn-outline-primary" for="141"><span th:text="${langList['ELA_STAT_CD_141_S']}"></span></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body p-3">
                                            <div class="d-flex align-items-center justify-content-between mb-2">
                                                <h6><span th:text="${langList['DTM_KIND']}"></span></h6>
                                                <div class="btn-group btn-group-sm" role="group" aria-label="DTM Kind Code Select">

                                                    <!-- 값이 비어 있으면 allCategory 체크 -->
                                                    <input type="radio" class="btn-check" name="category" id="allCategory" value="" autocomplete="off" th:checked="${searchDTO.dtmKindCd == null || searchDTO.dtmKindCd.isEmpty()}">
                                                    <label class="btn btn-outline-primary" for="allCategory">
                                                        <span th:text="${langList['ENTIRE']}"></span>
                                                    </label>

                                                    <!-- dtmKindCd 값이 '1A'이면 체크 -->
                                                    <input type="radio" class="btn-check" name="category" id="1A" value="1A" autocomplete="off" th:checked="${searchDTO.dtmKindCd == '1A'}">
                                                    <label class="btn btn-outline-primary" for="1A">
                                                        <span th:text="${langList['DTM_KIND_CD_1A_S']}"></span>
                                                    </label>

                                                    <!-- dtmKindCd 값이 '1Z'이면 체크 -->
                                                    <input type="radio" class="btn-check" name="category" id="1Z" value="1Z" autocomplete="off" th:checked="${searchDTO.dtmKindCd == '1Z'}">
                                                    <label class="btn btn-outline-primary" for="1Z">
                                                        <span th:text="${langList['DTM_KIND_CD_1Z_S']}"></span>
                                                    </label>

                                                    <!-- dtmKindCd 값이 '2(출장)'이면 체크 -->
                                                    <input type="radio" class="btn-check" name="category" id="2" value="2" autocomplete="off" th:checked="${searchDTO.dtmKindCd == '2'}">
                                                    <label class="btn btn-outline-primary" for="2">
                                                        <span>출장</span>
                                                    </label>

                                                </div>
                                            </div>

                                            <select class="form-control select2" aria-label="DTM Reason Code Select" name="select" id="list" th:attr="data-dtmReasonCd=${searchDTO.dtmReasonCd}">
                                            </select>
                                        </div>

                                        <div class="card-body p-3">
                                            <h6><span th:text="${langList['DTM_PERIOD']}"></span></h6>
                                            <div class="d-flex align-items-center justify-content-between mb-2">
                                                <!-- 시작 날짜 -->
                                                <label for="start-input">
                                                    <input type="text" class="form-control me-1 start-input" name="start-input" id="start-input" placeholder="YYYY-MM-DD" th:value="${searchDTO.staYmdInput}">
                                                </label>
                                                <span>~</span>
                                                <!-- 종료 날짜 -->
                                                <label for="end-input">
                                                    <input type="text" class="form-control ms-1 end-input" name="end-input" id="end-input" placeholder="YYYY-MM-DD" th:value="${searchDTO.endYmdInput}">
                                                </label>
                                            </div>

                                            <!-- 아래 필드는 추가적인 날짜 입력 필드로 보여짐 -->
                                            <div class="d-flex justify-content-center">
                                                <label for="start-date">
                                                    <input type="text" class="form-control start-date" id="start-date">
                                                </label>
                                                <label for="end-date">
                                                    <input type="text" class="form-control end-date" id="end-date">
                                                </label>
                                            </div>
                                        </div>

                                        <div class="card-body p-3">
                                            <div class="d-flex flex-wrap gap-2 justify-content-end align-items-center mb-2">
                                                <button class="btn btn-secondary btn-sm" id="close-button">
                                                    <span>닫기</span>
                                                </button>
                                                <button class="btn btn-primary btn-sm" id="search-button">
                                                    <span th:text="${langList['SEARCH']}"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <!-- 검색 드롭다운 끝 -->

                    <!-- (modal) 사용가능 휴가 현황 시작 -->
                    <div class="modal fade" id="dtmStatusModal" tabindex="-1" aria-labelledby="dtmStatusModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="dtmStatusModalLabel">
                                        <span th:text="${langList['DTM_STATUS']}"></span></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Original Content -->
                                    <section class="section">
                                        <div class="card">
                                            <div class="card-body">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>전체</th>
                                                        <th>사용</th>
                                                        <th>보유</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td class="h6">연차</td>
                                                        <td th:text="${dtmAnnualStatus.AnnualDayTotalCnt}">-</td>
                                                        <td th:text="${dtmAnnualStatus.AnnualDayUsedCnt}">-</td>
                                                        <td class="h6 text-primary" th:text="${dtmAnnualStatus.AnnualDayNoSaveRemainCnt}">-</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="h6">저축</td>
                                                        <td th:text="${dtmAnnualStatus.SaveDayTotalCnt}">-</td>
                                                        <td th:text="${dtmAnnualStatus.SaveDayTotalCnt}">-</td>
                                                        <td class="h6 text-primary" th:text="${dtmAnnualStatus.ExpSaveDayTotalCnt}">-</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="h6">보상</td>
                                                        <td th:text="${dtmAnnualStatus.SaveDayTotalCnt}">-</td>
                                                        <td th:text="${dtmAnnualStatus.SaveDayTotalCnt}">-</td>
                                                        <td class="h6 text-primary" th:text="${dtmAnnualStatus.ExpSaveDayTotalCnt}">-</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- End of Original Content -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                                        <span th:text="${langList['CLOSE']}"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- (modal) 사용가능 휴가 현황 끝 -->

                    <!-- 근태 목록 + 페이지네이션 시작 -->
                    <div id="dtmListContainer" class="row col-lg-12 col-md-12 col-sm-12">

                        <!-- 근태 목록 시작 -->
                        <div class="col-12">
                            <div class="animate__animated animate__fadeIn animate__slow">
                                <section class="section" th:each="dtm: ${dtmHis}">
                                    <div class="card">
                                        <div class="card-body">

                                            <div class="d-flex flex-row justify-content-start align-items-center gap-2">
                                                <!-- 상태뱃지(결재 완료인 경우만 표시) -->
                                                <div th:if="${dtm.statCd} == '132'">
                                                    <!-- 상태 (예정/진행/과거/취소) -->
                                                    <div th:switch="${dtm.status}">
                                                        <!-- 과거 -->
                                                        <span th:case="${langList['DTM_STATUS_PAST']}" class="badge badge-sm bg-secondary">
                                                            <span th:text="${dtm.status}"></span>
                                                        </span>
                                                        <!-- 예정 -->
                                                        <span th:case="${langList['DTM_STATUS_DUE']}">
                                                            <span th:text="${dtm.status}" class="badge badge-sm bg-primary"></span>
                                                        </span>
                                                        <!-- 진행 -->
                                                        <span th:case="${langList['DTM_STATUS_NOW']}">
                                                            <span th:text="${dtm.status}" class="badge badge-sm bg-warning"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <!-- 휴가명 (연차휴가 등) -->
                                                <h6 class="m-0"><span th:text="${dtm.dtmReasonNm}"></span></h6>
                                            </div>

                                            <!--근태기간-->
                                            <div class="d-flex flex-row align-items-center mt-3 gap-3">
                                                <div class="d-flex align-items-center gap-2">
                                                    <h6 class="m-0">
                                                        <span th:text="${#temporals.format(dtm.staYmd, 'yyyy-MM-dd')}"> </span>
                                                        ~
                                                        <span th:text="${#temporals.format(dtm.endYmd, 'yyyy-MM-dd')}"> </span>
                                                    </h6>
                                                </div>
                                            </div>

                                            <!--신청일, 결재상태-->
                                            <div class="d-flex flex-row mt-3 gap-3">
                                                <div>
                                                    <i class="bi bi-calendar-check"></i>
                                                    <h7 th:text="${#temporals.format(dtm.tzDate, 'yyyy-MM-dd')}"></h7>
                                                </div>
                                                <div>
                                                    <i class="bi bi-lightbulb"></i>
                                                    <h7 th:text="${dtm.statCdNm}"></h7>
                                                </div>
                                            </div>
                                            <!--변경/취소-->
                                            <div class="d-flex flex-row justify-content-end mt-3 gap-1">
                                                <!-- 결재완료인 경우 변경 버튼 -->
                                                <div th:if="${dtm.isModifiable}" class="modifyBtn btn btn-primary btn-sm"
                                                     th:data-applid="${dtm.applId}"
                                                     th:data-dtmhisid="${dtm.dtmHisId}"
                                                     th:data-staymd="${dtm.staYmd}"
                                                     th:data-endymd="${dtm.endYmd}"
                                                     th:data-dtmkindcd="${dtm.dtmKindCd}"
                                                     th:data-dtmreasoncd="${dtm.dtmReasonCd}"
                                                     th:data-dtmreasonnm="${dtm.dtmReasonNm}"
                                                     th:data-dtmrange="${dtm.dtmRange}"
                                                     id="dtmModifyBtn"
                                                     data-bs-toggle="modal" data-bs-target="#dynamicModal" >변경</div>

                                                <!-- 결재완료인 경우 취소 버튼 -->
                                                <div th:if="${dtm.isRevocable}" class="cancelBtn btn btn-danger btn-sm"
                                                     th:data-applid="${dtm.applId}"
                                                     th:data-dtmhisid="${dtm.dtmHisId}"
                                                     th:data-staymd="${dtm.staYmd}"
                                                     th:data-endymd="${dtm.endYmd}"
                                                     th:data-dtmkindcd="${dtm.dtmKindCd}"
                                                     th:data-dtmreasoncd="${dtm.dtmReasonCd}"
                                                     th:data-dtmreasonnm="${dtm.dtmReasonNm}"
                                                     th:data-dtmdispname="${dtm.dtmDispName}"
                                                     th:data-dtmrange="${dtm.dtmRange}">취소</div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </section>
                            </div>
                        </div>
                        <!-- 근태 목록 끝 -->

                        <div class="dtmModifyModal">
                        <!-- Modal Structure -->
                        <div class="modal fade" id="dynamicModal" tabindex="-1" aria-labelledby="dynamicModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header p-2">
                                        <h5 class="modal-title" id="dynamicModalLabel">근태 변경</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body p-2">
                                        <div class="card mb-1">
                                            <div class="card-body pt-2 pb-2">
                                                <div class="row">
                                                    <div class="col">
                                                        <!-- <h6><span class="text-danger">변경 전</span> 근태</h6> -->
                                                        <div class="d-flex justify-content-start gap-1">
                                                            <div class="revokeDtmNameTag">
                                                                <h6 class="mb-0 ms-3">
                                                                    <span class="badge badge-sm rounded-pill bg-danger">취소</span>
                                                                    <span id="dtmResonNm"></span>
                                                                </h6>
                                                                <h7 class="mb-0 ms-3" id="dtmRange"></h7>  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- start carousel (rolling image) -->
                                        <div class="no-drag">
                                            <!-- Swiper Banner -->
                                            <div class="swiper mySwiper">
                                                <div class="swiper-wrapper">
                                                    <div class="card w-100 mb-1" id="comment">
                                                        <div class="card-body pt-2 pb-1">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="d-flex justify-content-center align-items-center gap-1">
                                                                        <h7 class="mb-3 mt-3">
                                                                            <span>새로운 근태의 기간, 종류 선택 후</span>
                                                                            <span class="text-warning">추가</span>
                                                                            <span>해주세요.</span>
                                                                            <i class="bi bi-caret-down-fill text-warning"></i>
                                                                        </h7>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Swiper Pagination -->
                                                <div class="swiper-pagination"></div>
                                            </div>
                                        </div>
                                        <!-- end carousel (rolling image) -->

                                        <div class="card card-warning mb-1">
                                            <div class="card-body pt-2 pb-0">
                                                <div class="date-input-container mb-2">
                                                    <span class="h6 mb-0">근태기간</span>
                                                    <div class="date-input">
                                                        <input type="text" id="startDate" name="startDate">
                                                    </div>
                                                    <span class="tilde">~</span>
                                                    <div class="date-input">
                                                        <input type="text" id="endDate" name="endDate">
                                                    </div>
                                                </div>
                                                <div id="dateWarning">오늘 이후 건만 신청가능합니다</div>
                                                <div class="dtmReg">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div id="calender"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body pt-2">
                                                <div class="d-flex align-items-center justify-content-between mb-2">
                                                    <h6><span th:text="${langList['DTM_KIND']}"></span></h6>
                                                    <div class="btn-group btn-group-sm" role="group" aria-label="DTM Kind Code Select">          
                                                        <!-- 연차 -->
                                                        <input type="radio" class="btn-check" name="dtmKindCdSelect" id="dtmKindCdSelect_1A" value="1A" autocomplete="off" checked>
                                                        <label class="btn btn-outline-primary" for="dtmKindCdSelect_1A">
                                                            <span th:text="${langList['DTM_KIND_CD_1A_S']}"></span>
                                                        </label>
    
                                                        <!-- 보상 -->
                                                        <input type="radio" class="btn-check" name="dtmKindCdSelect" id="dtmKindCdSelect_1Z" value="1Z" autocomplete="off">
                                                        <label class="btn btn-outline-primary" for="dtmKindCdSelect_1Z">
                                                            <span th:text="${langList['DTM_KIND_CD_1Z_S']}"></span>
                                                        </label>        
                                                    </div>
                                                </div>
    
                                                <select class="form-control select2" aria-label="DTM Reason Code Select" name="dtmReasonCdSelect" id="dtmReasonCdSelect">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer p-2">
                                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">닫기</button>
                                        <button type="button" class="btn btn-warning btn-sm" id="add">추가</button>
                                        <button type="button" class="btn btn-primary btn-sm" id="submit">신청</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <!-- 페이징처리 시작 -->
                        <div th:if="${!dtmHis.isEmpty()}">
                            <ul class="pagination pagination-primary justify-content-center align-items-center">
                                <!-- Previous button -->
                                <li class="page-item" th:classappend="${startPage == 1} ? 'disabled'">
                                    <a class="first page-link" id="first-page-link"
                                       th:data-startPage="${startPage - 1}"
                                       th:href="@{|?page=${startPage - 1}&statCdList=${statCdList}&dtmReasonCd=${dtmReasonCd}&dtmKindCd=${dtmKindCd}&staYmdInput=${staYmdInput}&endYmdInput=${endYmdInput}&itemsPerPage=${itemsPerPage}|}"
                                       th:if="${startPage > 1}">
                                        <span><i class="bi bi-caret-left-fill"></i></span>
                                    </a>
                                </li>
                                <!-- Page numbers -->
                                <li th:each="page : ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == dtmHis.number + 1} ? 'active'" class="page-item mx-1">
                                    <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                                </li>
                                <!-- Next button -->
                                <li class="page-item" th:classappend="${endPage == dtmHis.totalPages} ? 'disabled'" th:if="${endPage < dtmHis.totalPages}">
                                    <a class="last page-link" id="end-page-link"
                                       th:data-endPage="${endPage + 1}"
                                       th:href="@{|?page=${endPage + 1}&statCdList=${statCdList}&dtmReasonCd=${dtmReasonCd}&dtmKindCd=${dtmKindCd}&staYmdInput=${staYmdInput}&endYmdInput=${endYmdInput}&itemsPerPage=${itemsPerPage}|}">
                                        <span><i class="bi bi-caret-right-fill"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- 페이징처리 끝 -->

                    </div>
                    <!-- 근태 목록 + 페이지네이션 끝 -->

                </div>
            </div>
        </div>
    </div>
</div>

<!-- (start) private script -->
<th:block layout:fragment="script">
    <script src="/extensions/litepicker/bundle.js"></script>
    <script src="/extensions/litepicker/mobilefriendly.js"></script>
    <script src="/extensions/litepicker/initLitepicker.js"></script>
    <script src="/extensions/select2/select2.full.js"></script>


    <script src="/extensions/fullcalendar/index.global.js"></script>
    <script src="/extensions/fullcalendar/initDtmRegCal.js"></script>
    <script src="/extensions/fullcalendar/main.min.js"></script>

    <script src="/extensions/swiper/swiper-bundle.min.js"></script>
    <script src="/extensions/swiper/initDtmApplSwiper.js"></script>


    <script src="/js/dateFormat.js"></script>
    <script src="/js/disablePastDates.js"></script>

    <script src="/js/dateInputValidation.js"></script>
    <script src="/js/searchForm.js"></script>
<!--    <script src="/js/selectForm.js"></script>-->
    <script src="/js/dtmApplSelectForm.js"></script>
    <script src="/js/utils/progressBar.js"></script>

    <script src="/js/quickDtmApplPopup.js"></script>
    <script src="/js/dtmRevokeApplPopup.js"></script>

    <script src="/js/dtmList.js"></script>
</th:block>
<!-- (end) private script -->
</body>

</html>
