<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org" layout:decorate="~{common/layout/layout}">

<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/extensions/select2/select2.css"/>
    </th:block>
</head>

<body>
<div layout:fragment="contents">
    <div class="dtmRegDetail">
        <div class="container">
            <div class="main-content">
                <div class="page-heading">
                    <div class="align-middle">
                        <h2><i class="bi bi-bell-fill"></i> <span th:text="${langList['DTM_REG']}"></span></h2>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col">
                                <h6><span th:text="${langList['DTM_KIND']}"></span></h6>
                                <select class="form-control select2" aria-label="DTM Reason Code register"
                                        name="dtmReasonCd" id="list">
                                    <option value="" selected><span th:text="${langList['ENTIRE']}"></span></option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <h6><span th:text="${langList['DTM_PERIOD']}"></span></h6>
                                <div class="date-input-container">
                                    <div class="date-input">
                                        <input type="text" id="startDate" name="startDate">
                                    </div>
                                    <span class="tilde">~</span>
                                    <div class="date-input">
                                        <input type="text" id="endDate" name="endDate" >
                                    </div>
                                </div>
<!--                                <span id="startDate"></span> ~ <span id="endDate"></span>-->
                                <div id="dtmRegDetCal"></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="button-group">
                                    <button type="button" class="btn btn-back">돌아가기</button>
                                    <button type="submit" class="btn btn-submit">신청하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="/extensions/fullcalendar/index.global.js"></script>
    <script src="/extensions/fullcalendar/initDtmRegDetCal.js"></script>
    <script src="/extensions/fullcalendar/main.min.css"></script>
    <script src="/extensions/fullcalendar/main.min.js"></script>
    <script src="/extensions/select2/select2.full.js"></script>
    <script src="/js/dateFormat.js"></script>
    <script src="/js/selectForm.js"></script>
    <script src="/js/moveBack.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/dtmAppl.js"></script>
</th:block>
</div>
</body>

</html>