<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org" layout:decorate="~{common/layout/layout}">

<head>
    <!-- (start) private script -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/extensions/litepicker/litepicker.css"/>
        <link rel="stylesheet" href="/extensions/select2/select2.css"/>
    </th:block>
    <!-- (end) private script -->
</head>

<body>
<div layout:fragment="contents">
    <div class="container">
        <div id="main-content">
            <div class="d-flex justify-content-center">
                <div class="row col-lg-10 col-md-12 d-flex justify-content-center">

                    <!-- 페이지 제목 시작 -->
                    <div class="page-heading">
                        <div class="align-middle">
                            <h2>
                                <i class="bi bi-bell-fill"></i> 근태조회 </h2><br>
                        </div>
                    </div>
                    <!-- 페이지 제목 끝 -->

                    <!-- 페이지당 아이템 수 드롭다운 시작 -->
                    <div id="dropdownContainer" class="row col-lg-12 col-md-12 col-sm-12 m-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Select Dropdown on the Left -->
                            <select id="itemsPerPage" class="form-select form-select-sm ms-2 w-auto" aria-label="Items per page">
                                <option value="5" selected>5개</option>
                                <option value="10">10개</option>
                                <option value="20">20개</option>
                                <option value="50">50개</option>
                            </select>

                            <!-- Button Group on the Right -->
                            <div class="ms-auto">
                                <button type="button" class="btn btn-primary btn-sm" id="openDtmStatusModal">휴가 현황 보기
                                </button>
                                <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
                                    <i class="bi bi-search"></i>검색
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- 페이지당 아이템 수 드롭다운 끝 -->

                    <!-- 검색 드롭다운 시작 -->
                    <div id="collapseContainer" class="row col-lg-12 col-md-12 col-sm-12">
                        <div class="collapse" id="collapseSearch">
                            <div class="col-12">
                                <section class="section">
                                    <div class="card">
                                        <div class="card-body p-3">
                                            <div class="d-flex align-items-center justify-content-between mb-2">
                                                <h6>결재상태</h6>
                                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
                                                    <input type="checkbox" class="btn-check" name="statCdList" id="121" autocomplete="off" checked>
                                                    <label class="btn btn-outline-primary" for="121">결재중</label>

                                                    <input type="checkbox" class="btn-check" name="statCdList" id="132" autocomplete="off" checked>
                                                    <label class="btn btn-outline-primary" for="132">결재완료</label>

                                                    <input type="checkbox" class="btn-check" name="statCdList" id="131" autocomplete="off" checked>
                                                    <label class="btn btn-outline-primary" for="131">반려</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body p-3">
                                            <div class="d-flex align-items-center justify-content-between mb-2">
                                                <h6>근태종류</h6>
                                                <div class="btn-group btn-group-sm" role="group" aria-label="DTM Kind Code Select">
                                                    <input type="radio" class="btn-check" name="category" id="allCategory" autocomplete="off" checked>
                                                    <label class="btn btn-outline-primary" for="allCategory">전체</label>

                                                    <input type="radio" class="btn-check" name="category" id="1A" autocomplete="off">
                                                    <label class="btn btn-outline-primary" for="1A">연차</label>

                                                    <input type="radio" class="btn-check" name="category" id="1B" autocomplete="off">
                                                    <label class="btn btn-outline-primary" for="1B">저축</label>

                                                    <input type="radio" class="btn-check" name="category" id="1Z" autocomplete="off">
                                                    <label class="btn btn-outline-primary" for="1Z">보상</label>
                                                </div>
                                            </div>
                                            <select class="form-control select2" style="width: 100%;" aria-label="DTM Reason Code Select" name="select" id="list">
                                                <option value="" selected>전체</option>
                                            </select>
                                        </div>

                                        <div class="card-body p-3">
                                            <h6>근태기간</h6>
                                            <div class="d-flex align-items-center justify-content-between mb-2">
                                                <label for="start-input">
                                                    <input type="text" class="form-control me-1 start-input" name="start-input" id="start-input" placeholder="YYYY-MM-DD">
                                                </label>
                                                <span>~</span>
                                                <label for="end-input">
                                                    <input type="text" class="form-control ms-1 end-input" name="end-input" id="end-input" placeholder="YYYY-MM-DD">
                                                </label>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <label for="start-date">
                                                    <input type="text" class="form-control start-date" id="start-date" style="display: none;">
                                                </label>
                                                <label for="end-date">
                                                    <input type="text" class="form-control end-date" id="end-date" style="display: none;">
                                                </label>
                                            </div>
                                        </div>

                                        <div class="card-body p-3">
                                            <div class="d-flex flex-wrap gap-2 justify-content-end align-items-center mb-2">
                                                <button class="btn btn-primary btn-sm" id="search-button">조회
                                                </button>
                                                <button class="btn btn-primary btn-sm" id="reset-button">초기화
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <!-- 검색 드롭다운 끝 -->

                    <!-- (modal) 사용가능 휴가 현황 시작 -->
                    <div class="modal fade" id="dtmStatusModal" tabindex="-1" aria-labelledby="dtmStatusModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="dtmStatusModalLabel">휴가 보유현황</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Original Content -->
                                    <section class="section">
                                        <div class="card">
                                            <div class="card-body">
                                                <h6>휴가 보유현황</h6>
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>사용</th>
                                                        <th>예정</th>
                                                        <th>잔여</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>연차(기본)</td>
                                                        <td>20일</td>
                                                        <td>18일</td>
                                                        <td>2일</td>
                                                    </tr>
                                                    <tr>
                                                        <td>연차(저축)</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                    </tr>
                                                    <tr>
                                                        <td>보상휴가</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                    </tr>
                                                    <tr>
                                                        <td>합계</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- End of Original Content -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- (modal) 사용가능 휴가 현황 끝 -->

                    <!-- 근태 목록 + 페이지네이션 시작 -->
                    <div id="dtmListContainer" class="row col-lg-12 col-md-12 col-sm-12">

                        <!-- 근태 목록 시작 -->
                        <div class="col-12">
                            <div class="animate__animated animate__fadeIn animate__slow">
                                <section class="section" th:each="dtm: ${dtmHis}">
                                    <div class="card">
                                        <div class="card-body">
                                            <div th:switch="${dtm.status}">
                                                    <span th:case="'과거'" class="badge badge-sm mb-4 bg-secondary">
                                                        <span th:text="${dtm.status}"></span>
                                                    </span>
                                                <span th:case="'예정'" class="badge badge-sm mb-4 bg-primary">
                                                        <span th:text="${dtm.status}"></span>
                                                    </span>
                                                <span th:case="'진행'" class="badge badge-sm mb-4 bg-warning">
                                                        <span th:text="${dtm.status}"></span>
                                                    </span>
                                            </div>
                                            <h6><span th:text="${dtm.dtmReasonNm}"></span></h6>
                                            <div class="d-flex flex-row align-items-center mt-3 mb-3 gap-3">
                                                <div class="d-flex align-items-center gap-2">
                                                    <h6>
                                                        <span th:text="${#temporals.format(dtm.staYmd, 'yyyy-MM-dd')}"> </span>
                                                        ~
                                                        <span th:text="${#temporals.format(dtm.endYmd, 'yyyy-MM-dd')}"> </span>
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row mb-3 gap-3">
                                                <div>
                                                    <i class="bi bi-calendar-check"></i>
                                                    <h7 th:text="${#temporals.format(dtm.tzDate, 'yyyy-MM-dd')}"></h7>
                                                </div>
                                                <div>
                                                    <i class="bi bi-lightbulb"></i>
                                                    <h7 th:text="${dtm.statCdNm}"></h7>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <!-- 근태 목록 끝 -->

                        <!-- 페이징처리 시작 -->
                        <div th:if="${!dtmHis.isEmpty()}">
                            <ul class="pagination justify-content-center align-items-center">
                                <!-- Previous button -->
                                <li class="page-item" th:classappend="${startPage == 1} ? 'disabled'">
                                    <a class="page-link" th:href="@{|?page=${startPage - 1}|}" th:if="${startPage > 1}">
                                        <span><i class="bi bi-caret-left-fill"></i></span>
                                    </a>
                                </li>
                                <!-- Page numbers -->
                                <li th:each="page : ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == dtmHis.number + 1} ? 'active'" class="page-item mx-1">
                                    <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                                </li>
                                <!-- Next button -->
                                <li class="page-item" th:classappend="${endPage == dtmHis.totalPages} ? 'disabled'" th:if="${endPage < dtmHis.totalPages}">
                                    <a class="page-link" th:href="@{|?page=${endPage + 1}|}">
                                        <span><i class="bi bi-caret-right-fill"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- 페이징처리 끝 -->

                    </div>
                    <!-- 근태 목록 + 페이지네이션 끝 -->

                </div>
            </div>
        </div>
    </div>
</div>

<!-- (start) private script -->
<th:block layout:fragment="script">
    <script src="/extensions/litepicker/bundle.js"></script>
    <script src="/extensions/litepicker/mobilefriendly.js"></script>
    <script src="/extensions/litepicker/initLitepicker.js"></script>
    <script src="/extensions/select2/select2.full.js"></script>
    <script src="/js/dateInputValidation.js"></script>
    <script src="/js/searchForm.js"></script>
    <script src="/js/selectForm.js"></script>
</th:block>
<!-- (end) private script -->
</body>

</html>
