<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org" layout:decorate="~{common/layout/layout}">

<head>
	<!-- (start) private script -->
	<th:block layout:fragment="css">

		<style>
			.pagination .page-item {
				margin: 0 2px; /* 좌우 마진을 동일하게 설정 */
			}

			.pagination .page-item .page-link {
				padding: 7px 10px; /* 버튼 크기를 조정 */
			}
		</style>

	</th:block>
	<!-- (end) private script -->
</head>

<body>
<div layout:fragment="contents">
	<div class="container">
		<div id="main-content">
			<div class="d-flex justify-content-center">
				<div class="row col-lg-10 col-md-12 d-flex justify-content-center">
					<div class="page-heading">
						<div class="align-middle">
							<h2>
								<i class="bi bi-bell-fill"></i> 근태내역
							</h2>
							<br>
						</div>
					</div>
					<p class="d-inline-flex gap-1">
						<button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
							<i class="bi bi-search"></i>
							검색
						</button>
					</p>
					<div class="collapse" id="collapseExample">
						<div class="card card-body">
							<div class="d-flex flex-wrap gap-2 justify-content-start align-items-center mb-3">
								<span>
									<i class="bi bi-lightbulb"></i>
								</span>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="applStatus1" value="option1">
									<label class="form-check-label" for="inlineCheckbox1">결재완료</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="applStatus2" value="option2">
									<label class="form-check-label" for="inlineCheckbox2">결재중</label>
								</div>
							</div>
							<div class="d-flex flex-wrap gap-2 justify-content-start align-items-center mb-3">
								<span>
									<i class="bi bi-lightbulb"></i>
								</span>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
									<label class="form-check-label" for="inlineCheckbox1">연차</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
									<label class="form-check-label" for="inlineCheckbox2">보상</label>
								</div>
							</div>
							<div class="d-flex flex-wrap gap-2 justify-content-start align-items-center mb-3">
								<i class="bi bi-calendar-check"></i>
								<div class="col-auto">
									<input class="form-control form-control-sm" type="text" id="search-input" placeholder="검색">
								</div>
							</div>
							<div class="d-flex flex-wrap gap-2 justify-content-end align-items-center mb-3">
								<button class="btn btn-primary btn-sm" id="search-button">조회</button>
								<button class="btn btn-primary btn-sm" id="reset-button">초기화</button>
							</div>
						</div>
					</div>

					<div class="row col-lg-12 col-md-12 col-sm-12">
						<div class="col-12">
							<div class="animate__animated animate__fadeIn animate__slow">
								<section class="section" th:each="dtm: ${dtmHis}">
									<div class="card">
										<div class="card-body">
											<div th:switch="${dtm.status}">
												<span th:case="'과거'" class="badge badge-sm mb-4 bg-secondary">
													<span th:text="${dtm.status}"></span>
												</span>
												<span th:case="'예정'" class="badge badge-sm mb-4 bg-primary">
													<span th:text="${dtm.status}"></span>
												</span>
												<span th:case="'진행'" class="badge badge-sm mb-4 bg-warning">
													<span th:text="${dtm.status}"></span>
												</span>
											</div>
											<h6><span th:text="${dtm.dtmKindCd}"></span></h6>
											<div class="d-flex flex-row align-items-center mt-3 mb-3 gap-3">
												<div class="d-flex align-items-center gap-2">
													<h6>
														<span th:text="${#temporals.format(dtm.staYmd, 'yyyy-MM-dd')}"> </span>
														~
														<span th:text="${#temporals.format(dtm.endYmd, 'yyyy-MM-dd')}"> </span>
													</h6>
												</div>
											</div>
											<div class="d-flex flex-row mb-3 gap-3">
												<div>
													<i class="bi bi-calendar-check"></i>
													<h7 th:text="${#temporals.format(dtm.tzDate, 'yyyy-MM-dd')}"></h7>
												</div>
												<div>
													<i class="bi bi-lightbulb"></i>
													<h7 th:text="${dtm.statCdNm}"></h7>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>

					<!-- 페이징처리 시작 -->
					<div th:if="${!dtmHis.isEmpty()}">
						<ul class="pagination justify-content-center align-items-center">
							<!-- Previous button -->
							<li class="page-item" th:classappend="${startPage == 1} ? 'disabled'">
								<a class="page-link" th:href="@{|?page=${startPage - 1}|}" th:if="${startPage > 1}">
									<span><i class="bi bi-caret-left-fill"></i></span>
								</a>
							</li>
							<!-- Page numbers -->
							<li th:each="page : ${#numbers.sequence(startPage, endPage)}"
								th:classappend="${page == dtmHis.number + 1} ? 'active'" class="page-item mx-1">
								<a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
							</li>
							<!-- Next button -->
							<li class="page-item" th:classappend="${endPage == dtmHis.totalPages} ? 'disabled'" th:if="${endPage < dtmHis.totalPages}">
								<a class="page-link" th:href="@{|?page=${endPage + 1}|}">
									<span><i class="bi bi-caret-right-fill"></i></span>
								</a>
							</li>
						</ul>
					</div>
					<!-- 페이징처리 끝 -->

				</div>
			</div>
		</div>
	</div>
</div>

<!-- (start) private script -->
<th:block layout:fragment="script">
</th:block>
<!-- (end) private script -->
</body>

</html>