<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org" layout:decorate="~{common/layout/layout}">

<head>
	<!-- (start) private script -->
	<th:block layout:fragment="css">
		<link rel="stylesheet" href="/extensions/litepicker/litepicker.css"/>
		<style>
			.pagination .page-item {
				margin: 0 2px; /* 좌우 마진을 동일하게 설정 */
			}

			.pagination .page-item .page-link {
				padding: 7px 10px; /* 버튼 크기를 조정 */
			}
		</style>

	</th:block>
	<!-- (end) private script -->
</head>

<body>
<div layout:fragment="contents">
	<div class="container">
		<div id="main-content">
			<div class="d-flex justify-content-center">
				<div class="row col-lg-10 col-md-12 d-flex justify-content-center">
					<div class="page-heading">
						<div class="align-middle">
							<h2>
								<i class="bi bi-bell-fill"></i> 근태내역
							</h2>
							<br>
						</div>
					</div>
					<p class="d-inline-flex gap-1">
						<button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
							<i class="bi bi-search"></i>
							검색
						</button>
					</p>
					<div class="collapse" id="collapseExample">
						<div class="card card-body">
							<div class="card-body p-3">
								<div class="d-flex align-items-center justify-content-between mb-2">
									<h6>결재상태</h6>
									<div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
										<input type="checkbox" class="btn-check" name="applStatus" id="applStatus1" autocomplete="off" checked>
										<label class="btn btn-outline-primary" for="applStatus1">결재중</label>

										<input type="checkbox" class="btn-check" name="applStatus" id="applStatus2" autocomplete="off" checked>
										<label class="btn btn-outline-primary" for="applStatus2">결재완료</label>

										<input type="checkbox" class="btn-check" name="applStatus" id="applStatus3" autocomplete="off" checked>
										<label class="btn btn-outline-primary" for="applStatus3">반려</label>
									</div>
								</div>
							</div>

							<div class="card-body p-3">
								<div class="d-flex align-items-center justify-content-between mb-2">
									<h6>근태종류</h6>
									<div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
										<input type="radio" class="btn-check" name="dtmType" id="dtmType" autocomplete="off" checked>
										<label class="btn btn-outline-primary" for="dtmType">전체</label>

										<input type="radio" class="btn-check" name="dtmType" id="dtmType1" autocomplete="off">
										<label class="btn btn-outline-primary" for="dtmType1">연차</label>

										<input type="radio" class="btn-check" name="dtmType" id="dtmType2" autocomplete="off">
										<label class="btn btn-outline-primary" for="dtmType2">저축</label>

										<input type="radio" class="btn-check" name="dtmType" id="dtmType3" autocomplete="off">
										<label class="btn btn-outline-primary" for="dtmType3">보상</label>
									</div>
								</div>
								<select class="form-select" aria-label="Default select example" name="dtmTypeSelect" id="dtmDetail">
									<option selected>선택</option>
									<option value="1">연차휴가</option>
									<option value="2">연차휴가 오전(반차)</option>
									<option value="3">연차휴가 오전(반반차)</option>
									<option value="4">연차휴가 오후(반차)</option>
									<option value="5">연차휴가 오후(반반차)</option>
									<option value="6">저축휴가</option>
									<option value="7">저축휴가 오전(반차)</option>
									<option value="8">저축휴가 오전(반반차)</option>
									<option value="9">저축휴가 오후(반차)</option>
									<option value="10">저축휴가 오후(반반차)</option>
								</select>
							</div>

							<div class="card-body p-3">
								<h6>근태기간</h6>
								<div class="d-flex align-items-center justify-content-between mb-2">
									<input type="text" class="form-control me-1 start-input" name="start-input" id="start-input" placeholder="YYYY-MM-DD">
									<span>~</span>
									<input type="text" class="form-control ms-1 end-input" name="end-input" id="end-input" placeholder="YYYY-MM-DD">
								</div>
								<div class="d-flex justify-content-center">
									<input type="text" class="form-control start-date" id="start-date" style="display: none;">
									<input type="text" class="form-control end-date" id="end-date" style="display: none;">
								</div>
							</div>

							<div class="d-flex flex-wrap gap-2 justify-content-end align-items-center mb-3">
								<button class="btn btn-primary btn-sm" id="search-button">조회</button>
								<button class="btn btn-primary btn-sm" id="reset-button">초기화</button>
							</div>
						</div>
					</div>

					<!--컨텐츠 목록-->
					<div id="dtmListContainer">
						<div class="row col-lg-12 col-md-12 col-sm-12">
							<div class="col-12">
								<div class="animate__animated animate__fadeIn animate__slow">
									<section class="section" th:each="dtm: ${dtmHis}">
										<div class="card">
											<div class="card-body">
												<div th:switch="${dtm.status}">
                                                    <span th:case="'과거'" class="badge badge-sm mb-4 bg-secondary">
                                                        <span th:text="${dtm.status}"></span>
                                                    </span>
													<span th:case="'예정'" class="badge badge-sm mb-4 bg-primary">
                                                        <span th:text="${dtm.status}"></span>
                                                    </span>
													<span th:case="'진행'" class="badge badge-sm mb-4 bg-warning">
                                                        <span th:text="${dtm.status}"></span>
                                                    </span>
												</div>
												<h6><span th:text="${dtm.dtmKindCd}"></span></h6>
												<div class="d-flex flex-row align-items-center mt-3 mb-3 gap-3">
													<div class="d-flex align-items-center gap-2">
														<h6>
															<span th:text="${#temporals.format(dtm.staYmd, 'yyyy-MM-dd')}"> </span>
															~
															<span th:text="${#temporals.format(dtm.endYmd, 'yyyy-MM-dd')}"> </span>
														</h6>
													</div>
												</div>
												<div class="d-flex flex-row mb-3 gap-3">
													<div>
														<i class="bi bi-calendar-check"></i>
														<h7 th:text="${#temporals.format(dtm.tzDate, 'yyyy-MM-dd')}"></h7>
													</div>
													<div>
														<i class="bi bi-lightbulb"></i>
														<h7 th:text="${dtm.statCdNm}"></h7>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>

						<!-- 페이징처리 시작 -->
						<div th:if="${!dtmHis.isEmpty()}">
							<ul class="pagination justify-content-center align-items-center">
								<!-- Previous button -->
								<li class="page-item" th:classappend="${startPage == 1} ? 'disabled'">
									<a class="page-link" th:href="@{|?page=${startPage - 1}|}" th:if="${startPage > 1}">
										<span><i class="bi bi-caret-left-fill"></i></span>
									</a>
								</li>
								<!-- Page numbers -->
								<li th:each="page : ${#numbers.sequence(startPage, endPage)}"
									th:classappend="${page == dtmHis.number + 1} ? 'active'" class="page-item mx-1">
									<a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
								</li>
								<!-- Next button -->
								<li class="page-item" th:classappend="${endPage == dtmHis.totalPages} ? 'disabled'" th:if="${endPage < dtmHis.totalPages}">
									<a class="page-link" th:href="@{|?page=${endPage + 1}|}">
										<span><i class="bi bi-caret-right-fill"></i></span>
									</a>
								</li>
							</ul>
						</div>
						<!-- 페이징처리 끝 -->
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- (start) private script -->
<th:block layout:fragment="script">
	<script src="/extensions/litepicker/bundle.js"></script>
	<script src="/extensions/litepicker/mobilefriendly.js"></script>
	<script>
		// 페이지네이션 화면 reload 비동기 처리
		$(document).on('click', '.page-link', function(event) {
			event.preventDefault();
			let url = $(this).attr('href');
			$.get(url, function(data) {
				$('#dtmListContainer').html($(data).find('#dtmListContainer').html());
			});
		});
	</script>

	<script>
		// 검색 폼 관련 스크립트

		// 화면 로드 시 달력 초기화
		$(function() {
			// Initialize calendar for new elements
			const startInput = document.getElementById('start-input');
			const endInput = document.getElementById('end-input');

			initializePicker(startInput, endInput);
		});

		// Function to validate and format date input
		function isValidDate(dateString) {
			const regex = /^\d{4}-\d{2}-\d{2}$/;
			if (!dateString.match(regex)) {
				return false;
			}

			const date = new Date(dateString);
			const timestamp = date.getTime();

			if (typeof timestamp !== 'number' || Number.isNaN(timestamp)) return false;
			return dateString === date.toISOString().split('T')[0];
		}

		document.addEventListener('input', function(event) {
			if (event.target.classList.contains('start-input')) {
				handleDateInput(event);
			} else if (event.target.classList.contains('end-input')) {
				handleDateInput(event);
			}
		});

		function handleDateInput(event) {
			const input = event.target;
			const value = input.value;
			const validChars = /^[0-9-]*$/;

			// Check for invalid characters
			if (!validChars.test(value)) {
				// Remove invalid characters
				input.value = value.replace(/[^0-9-]/g, '');
			}

			if (value && !isValidDate(input.value)) {
				input.setCustomValidity('Please enter a valid date in YYYY-MM-DD format');
			} else {
				input.setCustomValidity('');
			}
		}

		// 달력 생성 함수
		const initializePicker = (startInput, endInput) => {
			const picker = new Litepicker({
				element: startInput,
				elementEnd: endInput,
				switchingMonths: true,
				singleMode: false,
				allowRepick: true,
				autoApply: true,
				autoRefresh: true,
				inlineMode: false, // 인라인 모드 off (클릭 시 팝업)
				resetButton: true,
				lang: 'ko-KR',
				buttonText: {"apply": "적용", "cancel": "취소"},
				dropdowns: {"minYear": 1990, "maxYear": null, "months": false, "years": false},
				format: 'YYYY-MM-DD',
				//plugins: ['mobilefriendly'],
				setup: (picker) => {
					picker.on('selected', (date1, date2) => {
						startInput.value = date1.format('YYYY-MM-DD');
						endInput.value = date2.format('YYYY-MM-DD');
					});
				}
			});

			// 날짜 지정 시 Form에 값 설정
			const updatePicker = () => {
				const startDateValue = startInput.value;
				const endDateValue = endInput.value;
				if (startDateValue && endDateValue) {
					picker.setDateRange(startDateValue, endDateValue);
				}
			}

			startInput.addEventListener('change', updatePicker);
			endInput.addEventListener('change', updatePicker);

			// Set initial values to today
			const today = new Date().toISOString().split('T')[0];
			startInput.value = today;
			endInput.value = today;
			picker.setDateRange(today, today);
		}


	</script>
</th:block>
<!-- (end) private script -->
</body>

</html>
