<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org" layout:decorate="~{common/layout/layout}">

<head>
<!-- (start) private script -->
<th:block layout:fragment="css">
<link rel="stylesheet" href="/extensions/bootstrap-datepicker/css/bootstrap-datepicker3.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<!-- Popperjs -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<!-- Tempus Dominus JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.4/dist/js/tempus-dominus.min.js" crossorigin="anonymous"></script>

<!-- Tempus Dominus Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.4/dist/css/tempus-dominus.min.css" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

</th:block>
<!-- (end) private script -->
</head>

<body>
	<div layout:fragment="contents">
		<div id="main-content">
			<div class="d-flex justify-content-center">
				<div class="row col-lg-10 col-md-12 d-flex justify-content-center">
					<div class="page-heading">

						<div class="align-middle">
							<h2>
								<i class="bi bi-bell-fill"></i> 공지사항
							</h2>
							<br>
						</div>
					</div>

					<div class="row col-lg-12 col-md-12 col-sm-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Date Range</h4>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<label for="kt_td_picker_linked_1_input" class="form-label">From</label>
									<div class="input-group log-event" id="kt_td_picker_linked_1" data-td-target-input="nearest" data-td-target-toggle="nearest">
										<input id="kt_td_picker_linked_1_input" type="text" class="form-control" data-td-target="#kt_td_picker_linked_1" />
										<span class="input-group-text" data-td-target="#kt_td_picker_linked_1" data-td-toggle="datetimepicker"> 
											<span class='fa-solid fa-calendar'></span>
										</span>
									</div>
								</div>
								<div class="col-sm-6">
									<label for="kt_td_picker_linked_2_input" class="form-label">From</label>
									<div class="input-group log-event" id="kt_td_picker_linked_2" data-td-target-input="nearest" data-td-target-toggle="nearest">
										<input id="kt_td_picker_linked_2_input" type="text" class="form-control" data-td-target="#kt_td_picker_linked_2" />
										<span class="input-group-text" data-td-target="#kt_td_picker_linked_1" data-td-toggle="datetimepicker"> 
											<span class='fa-solid fa-calendar'></span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- (start) private script -->
		<th:block layout:fragment="script">
		
		<script>
		const linkedPicker1Element = document.getElementById("kt_td_picker_linked_1");
		const linked1 = new tempusDominus.TempusDominus(linkedPicker1Element, {
	    	  allowInputToggle: false,
	    	  container: undefined,
	    	  dateRange: true,
	    	  debug: false,
	    	  defaultDate: undefined,
		    display: { 

		        components: {
		            calendar: true,
		            date: true,
		            month: true,
		            year: true,
		            decades: true,
		            clock: false,
		            hours: false,
		            minutes: false,
		            seconds: false,
		            useTwentyfourHour: undefined
		        },
		        icons: {
		            type: 'icons',
		            time: 'fa fa-solid fa-clock',
		            date: 'fa fa-solid fa-calendar',
		            up: 'fa fa-solid fa-arrow-up',
		            down: 'fa fa-solid fa-arrow-down',
		            previous: 'fa fa-solid fa-chevron-left',
		            next: 'fa fa-solid fa-chevron-right',
		            today: 'fa fa-solid fa-calendar-check',
		            clear: 'fa fa-solid fa-trash',
		            close: 'fas fa-solid fa-xmark'
		        },
		        sideBySide: false,
		        calendarWeeks: false,
		        viewMode: 'calendar',
		        toolbarPlacement: 'bottom',
		        keepOpen: false,
		        buttons: {
		            today: true,
		            clear: true,
		            close: true
		          },
		    },
		    stepping: 1,
		    useCurrent: true
		});
		const linked2 = new tempusDominus.TempusDominus(document.getElementById('kt_td_picker_linked_2'), {
		    display: { 
		        components: {
		            seconds: false,
		            useTwentyfourHour: false,
		        },
		        icons: {
		            type: 'icons',
		            time: 'fa fa-solid fa-clock',
		            date: 'fa fa-solid fa-calendar',
		            up: 'fa fa-solid fa-arrow-up',
		            down: 'fa fa-solid fa-arrow-down',
		            previous: 'fa fa-solid fa-chevron-left',
		            next: 'fa fa-solid fa-chevron-right',
		            today: 'fa fa-solid fa-calendar-check',
		            clear: 'fa fa-solid fa-trash',
		            close: 'fas fa-solid fa-xmark'
		        },
		    },
		});

		//using event listeners
		linkedPicker1Element.addEventListener(tempusDominus.Namespace.events.change, (e) => {
		    linked2.updateOptions({
		        restrictions: {
		        minDate: e.detail.date,
		        },
		    });
		});

		//using subscribe method
		const subscription = linked2.subscribe(tempusDominus.Namespace.events.change, (e) => {
		    linked1.updateOptions({
		        restrictions: {
		        maxDate: e.date,
		        },
		    });
		});
		
		</script>
		
		
		<script src="/extensions/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="/extensions/bootstrap-datepicker/locales/bootstrap-datepicker.ko.min.js"></script>
		<script>
			$('#datepicker .input-daterange').datepicker({
			    format: "yyyy-mm-dd",
			    todayBtn: "linked",
			    clearBtn: true,
			    language: "ko",
			    daysOfWeekDisabled: "0,6",
			    todayHighlight: true
			    
			});
		</script>
		
		
		<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.js"></script>
		<script src="/extensions/flatpickr/flatpickr.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		
		<script src="/js/pages/date-picker.js"></script>
		
		
		
		</th:block>
		<!-- (end) private script -->
</body>

</html>