<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org" layout:decorate="~{common/layout/layout}">

<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/extensions/fullcalendar/main.min.css">
    </th:block>
</head>

<body>
<div layout:fragment="contents">
    <div class="fc">
        <div class="container">
            <h1 class="page-title">근태신청</h1>
            <div id="calendar"></div>
        </div>
    </div>
</div>

<!-- (start) private script -->
<th:block layout:fragment="script">
    <script src='/extensions/fullcalendar/main.min.js'></script>
    <script src='/extensions/fullcalendar/initFc.js'></script>
</th:block>
<!-- (end) private script -->
</body>
</html>
