<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
xmlns:sec="http://www.thymeleaf.org" layout:decorate="~{common/layout/layout}">

<head>
<!-- (start) private script -->
<th:block layout:fragment="css">

	<link rel="stylesheet" href="/extensions/aos/aos.css">
	<link rel="stylesheet" href="/extensions/animate/animate.min.css" />

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css"/>
<style>

.datetimepicker-dummy .datetimepicker-dummy-wrapper {
    --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
    display: block;
    width: 100%;
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #607080;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #dce7f1;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input {
    color: #4a4a4a;
    font-size: 1rem;
    text-align: left;
    text-indent: 1rem;
    flex: 1;
    height: 100%;
    max-width: 100%;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

</style>

</th:block>
<!-- (end) private script -->
</head>

<body>
	<div layout:fragment="contents">
		<div class="container">
			<div id="main-content">
			<div class="d-flex justify-content-center">
				<div class="row col-lg-10 col-md-12 d-flex justify-content-center">
					<div class="page-heading">
						<div class="align-middle">
							<h2>
								<i class="bi bi-bell-fill"></i> 근태신청
							</h2>
							<br>
						</div>
					</div>

					<div class="row mt-3" id="add_div">
						<div class="d-flex justify-content-end gap-2">
							<button type="button" class="btn btn-primary btn-sm" id="add">추가</button>
							<button type="button" class="btn btn-warning btn-sm" id="add">신청</button>
						</div>
					</div>

					<div class="row mt-3" id="new">
					<div class="animate__animated animate__fadeIn">
						<div class="card shadow">
							<div class="col-2 mt-3 ms-3">
								<span class="badge text-bg-primary">신규</span>
							</div>

							<div class="card-body p-3">
								<h6>근태기간</h6>
   									<input type="text" id="start-date" />
   									<input type="text" id="end-date" />
							</div>
							<div class="card-body p-3">
								<h6>근태종류</h6>
								<select class="form-select" aria-label="Default select example">
								  <option selected>선택</option>
								  <option value="1">연차휴가</option>
								  <option value="2">연차휴가 오전(반차)</option>
								  <option value="3">연차휴가 오전(반반차)</option>
								  <option value="4">연차휴가 오후(반차)</option>
								  <option value="5">연차휴가 오후(반반차)</option>
								  <option value="6">저축휴가</option>
								  <option value="7">저축휴가 오전(반차)</option>
								  <option value="8">저축휴가 오전(반반차)</option>
								  <option value="9">저축휴가 오후(반차)</option>
								  <option value="10">저축휴가 오후(반반차)</option>
								</select>

							</div>
						</div>
					</div>
					</div>
				</div>
				</div>
</div>
			</div>
		</div>

	<!-- (start) private script -->
		<th:block layout:fragment="script">
		<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/plugins/mobilefriendly.js"></script>
		
		  <script>
		    const picker = new Litepicker({
	    	  element: document.getElementById('start-date'),
	    	  elementEnd: document.getElementById('end-date'),
	    	  singleMode: false,
	    	  allowRepick: true,
	    	  autoApply: true,
	    	  autoRefresh: true,
	    	  inlineMode: true,
	    	  resetButton: true,
	    	  lang: 'ko-KR',
	    	  buttonText: {"apply":"적용","cancel":"취소"},
	    	  dropdowns: {"minYear":1990,"maxYear":null,"months":false,"years":false},
		      format: 'YYYY-MM-DD',
		      plugins: ['mobilefriendly']
		    });
		  </script>
		
		<script src="/extensions/aos/aos.js"></script>
		<script>
			AOS.init({
				easing: 'ease-out-back',
				duration: 1000
			});
		</script>
	    <script src="https://cdn.jsdelivr.net/npm/bulma-calendar@6.0.9/dist/js/bulma-calendar.min.js"></script>
	    <script>
        // Initialize all input of date type.
        function initializeCalendar(element) {
            bulmaCalendar.attach(element, {
                type: 'date',  // 'date', 'time', 'datetime'
                color: 'info',
                showHeader: false,
                isRange: true,
                dateFormat: 'YYYY-MM-DD',  // ISO Date format
                lang: 'ko',  // Language (en, fr, de, etc.)
                clearLabel: '초기화',
                todayLabel: '오늘',
                cancelLabel: '닫기',
                closeOnOverlayClick: false,
            });
        }

        // Initialize calendar for the first element
        initializeCalendar('#myCalendar');

        // To access to bulmaCalendar instance of an element
        var element = document.querySelector('#myCalendar');

        if (element) {
            // bulmaCalendar instance is available as element.bulmaCalendar
            element.bulmaCalendar.on('select', function(datepicker) {
                console.log(datepicker.data.value());
            });
        }

        var count = 1; // 초기 카운트 값 설정

        document.getElementById('add').addEventListener('click', function() {
            count++; // 클릭할 때마다 카운트 증가
            var newRow = document.createElement('div');
            newRow.className = 'row mt-3';
            newRow.id = "new" + count;
            newRow.innerHTML = `
            	<div class="animate__animated animate__fadeIn">
	                <div class="card shadow">
	                    <div class="d-flex justify-content-between">
	                        <div class="col-2 mt-3 ms-3">
	                            <span class="badge text-bg-primary">신규</span>
	                        </div>
	                        <div class="col-3 mt-3">
	                            <button class="btn btn-danger btn-sm delete-div" style="border: none; background: none; position: absolute; top: 5px; right: 5px;"><i class="bi bi-x-circle-fill" style="color: red; font-size: 1.5em;"></i></button>
	                        </div>
	                    </div>
	                    
	                    <div class="card-body p-3">
	                        <h6>근태종류</h6>
	                        <select class="form-select" aria-label="Default select example">
	                            <option selected>연차휴가</option>
	                            <option value="1">연차휴가</option>
	                            <option value="2">연차휴가 오전(반차)</option>
	                            <option value="3">연차휴가 오전(반반차)</option>
	                            <option value="4">연차휴가 오후(반차)</option>
	                            <option value="5">연차휴가 오후(반반차)</option>
	                            <option value="6">저축휴가</option>
	                            <option value="7">저축휴가 오전(반차)</option>
	                            <option value="8">저축휴가 오전(반반차)</option>
	                            <option value="9">저축휴가 오후(반차)</option>
	                            <option value="10">저축휴가 오후(반반차)</option>
	                        </select>
	                    </div>
	                    <div class="card-body p-3">
	                        <h6>시작일</h6>
	                        <input type="date" class="input calendar" name="start">
	                    </div>
	                    <div class="card-body p-3">
	                        <h6>종료일</h6>
	                        <input type="date" class="input calendar" name="end">
	                    </div>
	                </div>
                </div>
            `;
            // 기존 div(id=add_div) 바로 아래에 추가
            var container = document.getElementById('add_div');
            container.parentNode.insertBefore(newRow, container.nextSibling);

            // Initialize calendar for new elements
            var newCalendars = newRow.querySelectorAll('.calendar');
            newCalendars.forEach(function(calendar) {
                initializeCalendar(calendar);
            });
            
            
        });

        // 삭제 버튼 클릭 시 해당 div 삭제
		document.addEventListener('click', function(event) {
		    if (event.target.classList.contains('delete-div') || event.target.closest('.delete-div')) {
		        const row = event.target.closest('.row');
		        row.classList.add('fade-out');
		        setTimeout(() => {
		            row.remove();
		            count--;
		        }, 500); // CSS의 transition 시간과 일치시킵니다.
		    }
		});
    </script>

		
		</th:block>
		<!-- (end) private script -->
</body>

</html>