.dropzone {
    border: dashed 4px #ddd !important;
    background-color: #f2f6fc;
    border-radius: 15px;
    min-height: 0;
    padding: 0;
}

.dropzone .dz-message {
    margin: 0.5em;
}

.dropzone .dropzone-container {
    padding: 2rem 0;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8c96a8;
    z-index: 20;
}

.dropzone .file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}

.file-icon {
    font-size: 60px;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    margin: 8px 0px;
}

.hr-sect:before, .hr-sect:after {
    content: "";
    flex-grow: 1;
    background: #ddd;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}


/*검색폼 select2 스타일 조정*/
.collapseSearch .select2 {
    width: 100%;
}

/*검색폼 litepicker 시작일 숨김*/
.collapseSearch .start-date {
    display: none;
}

/*검색폼 litepicker 종료일 숨김*/
.collapseSearch .end-date {
    display: none;
}

/*페이지네이션 스타일 조정*/
.pagination .page-item {
    margin: 0 2px; /* 좌우 마진을 동일하게 설정 */
}

/*페이지네이션 버튼 크기 스타일 조정*/
.pagination .page-item .page-link {
    padding: 7px 10px; /* 버튼 크기를 조정 */
}

/*상단 navbar 타이틀 텍스트 스타일*/
.navbar .auth-title{
    font-family: Nunito, serif;
    font-size: 2.0rem;
}

/*상단 navbar 간편인증 설치 아이콘 스타일*/
.navbar .bi {
    color:#435ebe;
}

/*사이드바 스타일 조정*/
.sidebar-desktop .sidebar-wrapper {
    height:auto;
}

/*사이드바 로고 스타일 조정*/
.sidebar-desktop .sidebar-header .logo {
    height:1.6rem;
}

/*footer 배경 스타일 조정*/
.footer {
    background-color:#4477C5;
}

/*footer 글자 스타일 조정*/
.footer .text-center {
    color:white;
    font-family: Nunito, serif;
    font-size:15px;
    line-height:80px;
}

/*최근공지사항*/
.recent-notice .badge {
    --bs-badge-padding-x: .35rem;
    --bs-badge-font-size: .80em;
}

/*빠른신청 직접 신청하러 가기, 화살표 버튼 수직 정렬*/
.quickappl .bi:before {
    vertical-align: text-top;
}

.quickappl .link {
    text-decoration: none;
    color: inherit;
}

.quickappl .shadow {
    margin-bottom: 1.0rem;
}

.quickappl .card-body {
    padding: 0.8rem;
}


/*직원검색 입력 폼 높이 조정*/
.awesomplete .form-control {
    height: 38px;
}

/*직원검색 검색 버튼 높이 조정*/
.awesomplete .btn {
    height: 38px;
    white-space: nowrap;
}

/*직원검색 인풋 그룹 높이 조정*/
.awesomplete .input-group-text {
    height: 38px;
}

/*직원검색 아이콘 높이 조정*/
.awesomplete .bi {
    line-height: 1;
}

/*직원검색 결과 card 스타일 조정*/
.awesomplete-result .card-body {
    background-color: #f2f7ff;
}

.auth-container {
    width: 375px;
    height: 670px;
}

/*로그인 폼 크기 조정*/
.container-login {
    max-width: 400px;
    min-width: 300px;
    width: 100%;
}

/*로그인 화면 타이틀 텍스트*/
.auth-title {
    color: #25396f;
    font-weight: bolder;
    font-size: 20px;
    font-family: Nunito, serif;
}

/*로그인 계정 입력 시 무조건 대문자로 입력*/
.uppercase-text {
    text-transform: uppercase;
}

/*디바이더 스타일 조정(투명)*/
.divider .divider-text {
    background-color: transparent;
}

.divider .divider-text .divider-text{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
}

.small-text {
    font-size: 15px;
}

.small-badge {
    --bs-badge-padding-x: 0.85rem;
}

.fieldset {
    padding: 0;
}

.mfa-radio-text {
    font-size: 15px;
}

/* 반응형 웹 우측 여백 제거*/
html, body {
    margin: 0;
    overflow-x: hidden;
}

/* 데스크탑 화면 스크롤바 커스텀 */
@media screen and (min-width: 800px) {
    body {
        padding-right: 0 !important;
        width: auto !important;
        overflow-x: hidden !important;
        overflow-y: auto !important;
    }
    body::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    body::-webkit-scrollbar-thumb {
        background-color: rgba(206, 212, 218, 0.5); /* 흐린 색상 */
        border-radius: 10px;
        transition: background-color 1.0s ease; /* 색상 전환에 대한 부드러운 트랜지션 */
    }
    body::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.5); /* 흐린 색상 */
        border-radius: 10px;
        box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5); /* 흐린 색상 */
        transition: background-color 1.0s ease, box-shadow 1.0s ease; /* 색상 전환에 대한 부드러운 트랜지션 */
    }
    body:hover::-webkit-scrollbar-thumb {
        background-color: #ced4da; /* 현재 색상 */
    }
    body:hover::-webkit-scrollbar-track {
        background-color: #fff; /* 현재 색상 */
        box-shadow: inset 0 0 5px white; /* 현재 색상 */
    }

    .sidebar-wrapper::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    .sidebar-wrapper::-webkit-scrollbar-thumb {
        background-color: rgba(206, 212, 218, 0.5); /* 흐린 색상 */
        border-radius: 10px;
        transition: background-color 1.0s ease; /* 색상 전환에 대한 부드러운 트랜지션 */
    }
    .sidebar-wrapper::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.5); /* 흐린 색상 */
        border-radius: 10px;
        box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5); /* 흐린 색상 */
        transition: background-color 1.0s ease, box-shadow 1.0s ease; /* 색상 전환에 대한 부드러운 트랜지션 */
    }
    .sidebar-wrapper:hover::-webkit-scrollbar-thumb {
        background-color: #ced4da; /* 현재 색상 */
    }
    .sidebar-wrapper:hover::-webkit-scrollbar-track {
        background-color: #fff; /* 현재 색상 */
        box-shadow: inset 0 0 5px white; /* 현재 색상 */
    }

    .scroll-multiline::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    .scroll-multiline::-webkit-scrollbar-thumb {
        background-color: rgba(206, 212, 218, 0.5); /* 흐린 색상 */
        border-radius: 10px;
        transition: background-color 1.0s ease; /* 색상 전환에 대한 부드러운 트랜지션 */
    }
    .scroll-multiline::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.5); /* 흐린 색상 */
        border-radius: 10px;
        box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5); /* 흐린 색상 */
        transition: background-color 1.0s ease, box-shadow 1.0s ease; /* 색상 전환에 대한 부드러운 트랜지션 */
    }
    .scroll-multiline:hover::-webkit-scrollbar-thumb {
        background-color: #ced4da; /* 현재 색상 */
    }
    .scroll-multiline:hover::-webkit-scrollbar-track {
        background-color: #fff; /* 현재 색상 */
        box-shadow: inset 0px 0px 5px white; /* 현재 색상 */
    }

    .truncate-multiline::-webkit-scrollbar {
        /* width: 5px; 기본 상태에서 스크롤바 보임*/
        width: 0; /* 기본 상태에서 스크롤바 숨김 */
        height: 0; /* 기본 상태에서 스크롤바 숨김 */
    }
    .truncate-multiline::-webkit-scrollbar-thumb {
        background-color: rgba(206, 212, 218, 0.5); /* 흐린 색상 */
        border-radius: 10px;
        transition: background-color 1.0s ease; /* 색상 전환에 대한 부드러운 트랜지션 */
    }
    .truncate-multiline::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.5); /* 흐린 색상 */
        border-radius: 10px;
        box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5); /* 흐린 색상 */
        transition: background-color 1.0s ease, box-shadow 1.0s ease; /* 색상 전환에 대한 부드러운 트랜지션 */
    }
    .truncate-multiline:hover::-webkit-scrollbar-thumb {
        background-color: #ced4da; /* 현재 색상 */
    }
    .truncate-multiline:hover::-webkit-scrollbar-track {
        background-color: #fff; /* 현재 색상 */
        box-shadow: inset 0 0 5px white; /* 현재 색상 */
    }


}

/* 리스트나 미리보기 화면에서 큰 컨텐츠가 오버플로되는 것을 방지 */
.card-body, .list-unstyled {
    max-width: 300px;
}

@media (min-width: 370px) {
    .card-body, .list-unstyled {
        max-width: 340px;
    }
}

@media (min-width: 420px) {
    .card-body, .list-unstyled {
        max-width: 390px;
    }
}

@media (min-width: 470px) {
    .card-body, .list-unstyled {
        max-width: 440px;
    }
}

@media (min-width: 520px) {
    .card-body, .list-unstyled {
        max-width: 490px;
    }
}

@media (min-width: 576px) {
    .card-body, .list-unstyled {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .card-body, .list-unstyled {
        max-width: 100%;
    }
}

/* 리스트나 미리보기 화면에서 큰 컨텐츠가 오버플로되는 것을 방지 */
.truncate-multiline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* 원하는 줄 수 */
    overflow-y: hidden; /* 오버플로되면 표시하지 않음 */
    overflow-x: scroll;
    text-overflow: ellipsis; /* 텍스트는 오버플로되면 ...줄임말 표시 */
    max-width: 100%; /* 너비는 card-body에서 제한 */
    max-height: 500px; /* 최대 높이 제한 */
}

/* 리스트나 미리보기 화면에서 큰 컨텐츠가 오버플로되는 것을 방지 */
.scroll-multiline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: scroll; /* 오버플로되면 스크롤 */
    text-overflow: ellipsis; /* 텍스트는 오버플로되면 ...줄임말 표시 */
    max-width: 100%; /* 너비는 card-body에서 제한 */
    max-height: 100%; /* 최대 높이 제한 */
}

/* 리스트나 미리보기 화면에서 큰 컨텐츠가 오버플로되는 것을 방지 */
.responsive {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: scroll; /* 오버플로되면 스크롤 */
    text-overflow: ellipsis; /* 텍스트는 오버플로되면 ...줄임말 표시 */
    max-width: 100%; /* 너비는 card-body에서 제한 */
    max-height: 100%; /* 최대 높이 제한 */
}


/* 우측하단 Scroll To Top 버튼 */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    width: 2.5rem;
    height: 2.5rem;
    background: #E4F0FF;
    border: none;
    color: #fff;
    font-size: 1rem;
    opacity: 0.5;
    border-radius: 50%;
    transition: opacity 0.3s ease-out, background 0.3s ease-out;
}

#scrollToTopBtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
    z-index: -1;
    transition: background 0.3s ease-out;
}

#scrollToTopBtn:hover {
    color: #fff;
    opacity: 1;
}
/* 우측하단 Scroll To Top 버튼 */

/** 페이지네이션 서식 수정 **/
.pagination .page-item {
    margin: 0 2px; /* 좌우 마진을 동일하게 설정 */
}

.pagination .page-item .page-link {
    padding: 7px 10px; /* 버튼 크기를 조정 */
}