.custom-shape-divider-top-1711120872 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1711120872 svg {
    position: relative;
    display: block;
    width: calc(274% + 1.3px);
    height: 322px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1711120872 .shape-fill {
    fill: #4477C5;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1711120872 svg {
        width: calc(299% + 1.3px);
        height: 263px;
    }
}