<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ePAMS</title>

    <link rel="shortcut icon" href="/images/kdb/epams_r.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/kdb/epams_r_192.png" />
    <link rel="apple-touch-icon" href="/images/kdb/epams_r_512.png" />

    <link rel="stylesheet" href="/css/kdb-font.css">
    <link rel="stylesheet" href="/extensions/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/kdb-custom.css">
    <link rel="stylesheet" href="/extensions/bootstrapicons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/kdb-error.css">
</head>

<body>
    <div id="error">


        <div class="error-page container">
            <div class="col-md-12 col-12 offset-md-2">
                <div class="text-center">
                    <img class="img-error" src="/images/error-500.svg" alt="Not Found">
                    <h1 class="error-title">System Error</h1>
                    <p class="fs-5 text-gray-600">The website is currently unaivailable. Try again later or contact the
                        administrator.</p>
                    <a href="/index" class="btn btn-lg btn-outline-primary mt-3">Go Home</a>
                </div>
            </div>
        </div>


    </div>
</body>

</html>