<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      xmlns:sec="http://www.thymeleaf.org"
      layout:decorate="~{common/layout}">

<head>
	<!-- (start) private script -->
	<th:block layout:fragment="css">
		<link rel="stylesheet" href="extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
		<link rel="stylesheet" href="css/table-datatable-jquery.css">
		<link rel="stylesheet" href="js/ckeditor_m.css">
		<style>
			.ck-editor__editable_inline {
			    min-height: 400px;
			}
		</style>
	</th:block>
	<!-- (end) private script -->	
</head>

<body>

	<div layout:fragment="contents">
			<div id="main-content">
				<div class="page-heading">

					<h1>공지사항</h1> <br>
					<input class="form-control" type="text" placeholder="제목" aria-label="default input example" id="title"> <br>
					<div class="editor-wrapper">
						<div id="editor"></div>
						<div class="d-flex gap-2 flex-row-reverse">
							<button class="btn btn-primary mt-3" type="submit" id="submit" onclick="save()">등록</button>
							<a class="btn btn-secondary mt-3" type="submit" id="submit" th:href="@{/list}">목록</a>
						</div>
					</div>
					<br>					
				</div>
			</div>
	</div>
	
	<!-- (start) private script -->
	<th:block layout:fragment="script">

		<!-- <script src="https://cdn.ckeditor.com/ckeditor5/41.2.0/classic/ckeditor.js"></script>
		<script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script> -->
		<script src="js/ckeditor.js"></script>		
			
		<!-- <script src="https://cdn.jsdelivr.net/npm/ckeditor5-full-free-plugin@23.1.2/build/ckeditor.min.js"></script> -->		
		<script src="extensions/datatables.net/js/jquery.dataTables.min.js"></script>
		<script src="extensions/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
		<script src="js/pages/datatables.js"></script>

		<script>
	    let editor;
	    
	    ClassicEditor
	    .create( document.querySelector( '#editor' ), {
	    	toolbar: {
	        	items:[	'selectAll', '|',
//		                'heading', '|',                    
		                'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
		                'bulletedList', 'numberedList','|',
		                'outdent', 'indent', '|',
		                'undo', 'redo',
		                'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
		                'alignment', '|',
		                'link', 'blockQuote', 'insertTable', 'codeBlock', 'htmlEmbed', '|',
		                'specialCharacters', 'horizontalLine', 'pageBreak', '|',
        		]
	    	},
	    	table: {
	    		contentToolbar: [
	    		'tableColumn',
	    		'tableRow',
	    		'mergeTableCells'
	    		]
    		},
	    	fontSize: {
	            options: [
	            	9,
	                11,
	                13,
	                'default',
	                17,
	                19,
	                21
	            ],
	            supportAllValues: true
	        },
	        
            fontFamily:{
				options: ['맑은고딕', '나눔고딕', '휴먼명조']
            
			},
	        heading: {
	            options: [
	                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
	                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
	                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
	                { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' }
	                
	            ]
	        }
	    } ).then( newEditor => {
	        editor = newEditor;
	    } )
	    .catch( error => {
	        console.log( error );
	    } );
	    
	    </script>

		<script>
	    function save()
	    {    
	        var header = $("meta[name='_csrf_header']").attr('content');
	        var token = $("meta[name='_csrf']").attr('content');
	    	$.ajax({
				type: "post",
				url: "/save",
				dataType: "json",
				data: {
					"boardTitle": document.getElementById("title").value,
					"boardContents": editor.getData()	
				},
                //CSRF Token
                beforeSend: function (xhr) {
		        	xhr.setRequestHeader(header, token);
		        },		
				complete: function(data) {
					//document.getElementById("exampleFormControlTextarea1").value = editor.getData();
					console.log( editor.getData(), document.getElementById("title").value , data);
					//$("#list").replaceWith(list);
					window.location.href = '/list'
				}
	    	});
		}
	    </script>
	    <script src="js/ckeditor_config.js"></script>
    	</th:block>
		<!-- (end) private script -->
	    
</body>

</html>