<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org" layout:decorate="~{common/layout}">

<head>
<!-- (start) private script -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</th:block>
<!-- (end) private script -->

</head>

<body>

	<div layout:fragment="contents">

		<div class="row">

			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" style="background-color:#435ebe; border-radius: 50%; width:15px; height:15px;" data-bs-target="#carouselExampleIndicators"
						data-bs-slide-to="0" class="active" aria-current="true"
						aria-label="Slide 1"></button>
					<button type="button" style="background-color:#435ebe; border-radius: 50%; width:15px; height:15px;" data-bs-target="#carouselExampleIndicators"
						data-bs-slide-to="1" aria-label="Slide 2"></button>
					<!--	<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button> -->
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="bg-no-repeat bg-cover bg-50 px-8"
							style="background-image: url(images/kdb/BACKGROUND2.png); height: 300px;">
							<div class="container-md">
								<div class="align-items-center ms-4">
									<div class="col-lg-12 pe-xl-12">
										<br>
										<h6 class="fw-500 ms-1 mb-3 letter-spacing-2 text-dark">모바일근태시스템</h6>

										<h6 class="display-4 text-dark fw-600 mb-3">
											ePAMS에 <BR> 오신걸 환영합니다.
										</h6>

										<div
											class="d-grid gap-2 d-md-flex justify-content-end mt-3 me-3">
											<div class="pt-3 pb-3">
												<!-- <a class="btn btn-primary" th:href="@{/logout}">바로가기</a> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="bg-no-repeat bg-cover bg-50 px-8"
							style="background-image: url(images/kdb/BACKGROUND2.png); height: 300px;">
							<div class="container-md">
								<div class="align-items-center ms-4">
									<div class="col-lg-12 pe-xl-12">
										<br>
										<h6 class="fw-500 ms-1 mb-3 letter-spacing-2 text-dark">연차 및 저축휴가</h6>
										<h6 class="display-4 text-dark fw-600 mb-3">
											언제 어디서든 <BR> 바로 신청하세요.
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<button class="carousel-control-prev"  type="button"
					style="height: 300px; color:#435ebe;" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button"
					style="height: 300px; color:#435ebe;" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>

		<!-- carousel (rolling image) -->
		<div id="main-content">
			<div class="row col-lg-6 col-sm-12">
				<div class="col-lg-3">
					<div data-aos="fade-up" data-aos-offset="200"
										data-aos-easing="ease-out-cubic" data-aos-duration="2000">
						<section class="section">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">연차 휴가</h4>
								</div>
								<div class="card-body">
									<p> 오늘 하루 신청하기 </p>
									<p> 2024-04-06(월) </p>
								</div>
								<div class="ps-3 pb-3">
									<a class="btn btn-primary" href="/index">신청하기</a>
								</div>
							</div>
						</section>
					</div>
				</div>
				<div class="col-lg-3">	
					<div data-aos="fade-up" data-aos-offset="200"
										data-aos-easing="ease-out-cubic" data-aos-duration="2000">
						<section class="section">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">연차 휴가</h4>
								</div>
								<div class="card-body">
									<p> 내일 하루 신청하기 </p>
									<p> 2024-04-07(화) </p>
								</div>
								<div class="ps-3 pb-3">
									<a class="btn btn-primary" href="/index">신청하기</a>
								</div>
							</div>
						</section>
					</div>
				</div>	
				
				<div class="col-lg-3">
					<div data-aos="fade-up" data-aos-offset="200"
										data-aos-easing="ease-out-cubic" data-aos-duration="2000">
						<section class="section">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">연차 휴가</h4>
								</div>
								<div class="card-body">
									<p> 오늘 하루 신청하기 </p>
									<p> 2024-04-06(월) </p>
								</div>
								<div class="ps-3 pb-3">
									<a class="btn btn-primary" href="/index">신청하기</a>
								</div>
							</div>
						</section>
					</div>
				</div>
				<div class="col-lg-3">	
					<div data-aos="fade-up" data-aos-offset="200"
										data-aos-easing="ease-out-cubic" data-aos-duration="2000">
						<section class="section">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">연차 휴가</h4>
								</div>
								<div class="card-body">
									<p> 내일 하루 신청하기 </p>
									<p> 2024-04-07(화) </p>
								</div>
								<div class="ps-3 pb-3">
									<a class="btn btn-primary" href="/index">신청하기</a>
								</div>
							</div>
						</section>
					</div>
				</div>	
				
				<div data-aos="fade-up" data-aos-offset="200"
									data-aos-easing="ease-out-cubic" data-aos-duration="2000">
					<section class="section">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">저축 휴가</h4>
							</div>
							<div class="card-body">
								<p> 오늘 하루 신청하기 </p>
								<p> 2024-04-06(월) </p>
							</div>
							<div class="ps-3 pb-3">
								<a class="btn btn-primary" href="/index">신청하기</a>
							</div>
						</div>
					</section>
				</div>
				
				<div data-aos="fade-up" data-aos-offset="200"
									data-aos-easing="ease-out-cubic" data-aos-duration="2000">
					<section class="section">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">저축 휴가</h4>
							</div>
							<div class="card-body">
								<p> 내일 하루 신청하기 </p>
								<p> 2024-04-07(화) </p>
							</div>
							<div class="ps-3 pb-3">
								<a class="btn btn-primary" href="/index">신청하기</a>
							</div>
						</div>
					</section>
				</div>
			</div>
			
			
			
		</div>
	</div>


	<!-- (start) private script -->
	<th:block layout:fragment="script">
		<script>
			AOS.init(); // 자바스크립트로 init()을 해야 동작한다.
		</script>
	</th:block>
	<!-- (end) private script -->
</body>
</html>