<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      xmlns:sec="http://www.thymeleaf.org"
      layout:decorate="~{common/layout}">

<head>
	<!-- (start) private script -->
	<th:block layout:fragment="css">
		<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	</th:block>
	<!-- (end) private script -->
	
</head>

<body>

	<div layout:fragment="contents">

		<div class="row">
					
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
<!-- 				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button> -->
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
					
					<div class="bg-no-repeat bg-cover bg-50 px-8" style="background-image: url(images/kdb/BACKGROUND2.png);">
						<div class="container-md">
							<div class="align-items-center">
								<div class="col-lg-12 pe-xl-12 mt-5 mb-5 ms-5 me-5">
									<h6 class="fw-500 ms-1 mb-3 letter-spacing-2 text-dark">연차 및 저축휴가</h6>
									<h6 class="display-4 text-dark fw-600 mb-3"> 언제 어디서든 <BR> 바로 신청하세요.</h6>
									
									<div class="d-grid gap-2 d-md-flex justify-content-end me-3">
										<div class="pt-3 pb-3">											
											<a class="btn btn-primary" style="--bs-btn-bg:#238fa5; --bs-btn-border-color:#ffffff;" th:href="@{/logout}">바로가기</a>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
						<!-- <img src="images/kdb/BACKGROUND2.png" class="d-block w-100 img-fluid" alt="로딩중"> -->
					</div>
					<!-- <div class="carousel-item">
						<img src="images/kdb/MAIN_SAMPLE2.png" class="d-block w-100 img-fluid" alt="로딩중">
					</div>
					<div class="carousel-item">
						<img src="images/kdb/MAIN_SAMPLE3.png" class="d-block w-100 img-fluid" alt="로딩중">
					</div>
					<div class="carousel-item">
						<img src="images/kdb/MAIN_SAMPLE4.png" class="d-block w-100 img-fluid" alt="로딩중">
					</div> -->
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>

		<!-- carousel (rolling image) -->
		<div id="main-content">
			<div class="page-heading">
				<div class="page-title">
				</div>
			</div>
			<div data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
				<section class="section">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">안내사항</h4>
						</div>
						<div class="card-body">
							<p>모바일 근태 시스템에 오신걸 환영합니다. 아래로 페이지를 스크롤하면 간편 신청이 가능합니다.</p>
							<p>In case you want the navbar to be sticky on top while scrolling</p>
						</div>

					</div>
				</section>
			</div>

			<div data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
				<section class="section">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">오늘 하루 신청할래요.</h4>
						</div>
						<div class="card-body">
							<p>Vertical Navbar is a layout option that you can use with Mazer.</p>
							<p>
								In case you want the navbar to be sticky on top while scrolling, add
								<code>.navbar-fixed</code>
								class alongside with
								<code>.layout-navbar</code>
								class.
							</p>
						</div>
					</div>
				</section>
			</div>

			<div data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
				<section class="section">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">내일 하루 신청할래요.</h4>
						</div>
						<div class="card-body">
							<p>Vertical Navbar is a layout option that you can use with Mazer.</p>
							<p>
								In case you want the navbar to be sticky on top while scrolling, add
								<code>.navbar-fixed</code>
								class alongside with
								<code>.layout-navbar</code>
								class.
							</p>
						</div>
						<button type="button" class="btn btn-primary">신청하러 가기</button>
					</div>
				</section>
			</div>
		</div>
	</div>
	
	<!-- (start) private script -->
	<th:block layout:fragment="script">
		<script>
			AOS.init(); // 자바스크립트로 init()을 해야 동작한다.
		</script>
	</th:block>
	<!-- (end) private script -->
</body>
</html>