<!DOCTYPE html>

<html lang="en" >
<head>
	<link rel="stylesheet" href="css/custom.css">
</head>
<body>
<div className='radioButtonStyle'>
    <label className='radioStyle'>
        <input type="radio" name="radio" checked/>
        <span>
            <div className='rsTitle'>
                <div>TITLE 1</div>
                <p/>
            </div>
            <div className='rsContents'>
                radio button contents
            </div>
        </span>
    </label>
    <label className='radioStyle'>
        <input type="radio" name="radio"/>
        <span>
            <div className='rsTitle'>
                <div>TITLE 2</div>
                <p/>
            </div>
            <div className='rsContents'>
                radio button contents
            </div>
        </span>
    </label>
    <label className='radioStyle'>
        <input type="radio" name="radio" disabled/>
        <span>
            <div className='rsTitle'>
                <div>TITLE 3</div>
                <p/>
            </div>
            <div className='rsContents'>
                radio button contents
            </div>
        </span>
    </label>
</div>
</body>
</html>