<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<body>
	<footer th:fragment="commonFooter">

	<div class="footer position-relative" style="background-color:#4477C5;">
         <div class="row ">
			<span class="text-center" style="color:white; font-family:Nunito; font-size:15px; line-height:80px;"> &copy; Copyright 2024 KDB산업은행</span>        
         </div>
    </div>   
    
	</footer>
</body>
</html>