<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    >
    
<head th:fragment="commonHead">

	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta name="_csrf" th:content="${_csrf.token}">
	
	<link rel="shortcut icon" href="/images/kdb/epams_r.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/images/kdb/epams_r_192.png" />
	<link rel="apple-touch-icon" href="/images/kdb/epams_r_512.png" />
	<link rel="manifest" href="/manifest.webmanifest" />

	<link rel="stylesheet" href="/css/kdb-font.css">
	<link rel="stylesheet" href="/extensions/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/css/kdb-custom.css">
	<link rel="stylesheet" href="/extensions/bootstrapicons/bootstrap-icons.min.css">


	<link rel="stylesheet" href="/extensions/sweetalert2/sweetalert2.min.css">
	<link rel="stylesheet" href="/extensions/aos/aos.css">
	<link rel="stylesheet" href="/extensions/animate/animate.min.css" />

	<th:block layout:fragment="css"></th:block>
</head>

</html>