<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    >
    
<head th:fragment="commonHead">

	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	 
	
	 
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta name="_csrf" th:content="${_csrf.token}">
	
	<link rel="shortcut icon" href="/images/kdb/epams_ct.ico" type="image/x-icon">
	
	<link rel="stylesheet" href="/css/app.css">
	<link rel="stylesheet" href="/css/app-dark.css">
	<link rel="stylesheet" href="/extensions/sweetalert2/sweetalert2.min.css">
			
	<th:block layout:fragment="css"></th:block>
</head>

</html>