<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<th:block th:replace="~{/common/layout/head :: commonHead}"></th:block>
</head>

<body class="light">
	<div id="app" class="app">
		<div th:replace="~{/common/layout/sidebar :: commonSidebar}"></div>
		<div id="main" class='layout-navbar navbar-fixed'>
			<header>
				<th:block th:replace="~{/common/layout/header :: commonHeader}"></th:block>
			</header>
			<th:block layout:fragment="contents"></th:block>
		</div>
		<footer>
			<th:block th:replace="~{/common/layout/footer :: commonFooter}"></th:block>
		</footer>
	</div>
</body>

<script src="/extensions/jquery/jquery.min.js"></script>
<script src="/extensions/dompurify/purify.min.js" nonce="kdb"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/sidebar.js"></script>
<script src="/js/a2hs_init.js"></script>
<script src="/extensions/sweetalert2/sweetalert2.min.js" nonce="kdb"></script>
<script src="/extensions/aos/aos.js"></script>
<script src="/extensions/aos/aos_init.js"></script>
<script src="/js/cookie.js"></script>

<th:block layout:fragment="script"></th:block>

</html>