<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
	<head>	
		<th:block th:replace="~{/common/layout/head :: commonHead}"></th:block>
	</head>
	
	<body class="light">
	<script src="/js/initTheme.js"></script>

	<div id="app" class="app">
		<div th:replace="~{/common/layout/sidebar :: commonSidebar}"></div>
		<div id="main" class='layout-navbar navbar-fixed'>
			<header>
				<th:block th:replace="~{/common/layout/header :: commonHeader}"></th:block>
			</header>
				<th:block layout:fragment="contents"></th:block>
			
		</div>
		<footer>
			<th:block th:replace="~{/common/layout/footer :: commonFooter}"></th:block>
		</footer>		
	</div>
	</body>
	
	<script src="/js/components/dark.js"></script>
	<!-- <script src="/js/app_v0.5.js"></script> -->
	<script src="/js/bootstrap.js"></script>
	<script src="/extensions/sweetalert2/sweetalert2.min.js"></script>
	<script src="/extensions/jquery/jquery.min.js"></script>
	<script src="/extensions/perfect-scrollbar/perfect-scrollbar.js"></script>	
	<script>
	

	
	
	// Sidebar
    const DesktopSize = 1200;
	class Mr {
        constructor(k, s={}) {
            this.sidebarEL = k instanceof HTMLElement ? k : document.querySelector(k),
            this.options = s,
            this.init()
        }
        init() {
        	// 드래그(스와이프) 이벤트를 위한 변수 초기화
        	let startPoint = 0;
        	let endPoint = 0;    
            
        	// PC 클릭 이벤트 (드래그)
        	app.addEventListener("mousedown", (e) => {
        	  console.log("mousedown", e.pageX);
        	  startPoint = e.pageX; // 마우스 드래그 시작 위치 저장
        	});

        	app.addEventListener("mouseup", (e) => {
        	  console.log("mouseup", e.pageX);
        	  endPoint = e.pageX; // 마우스 드래그 끝 위치 저장
        	  if (startPoint+100 < endPoint) {
        	    // 마우스가 오른쪽으로 드래그 된 경우
        	    console.log("prev move");
        	    this.show();
        	  } else if (startPoint > endPoint+100) {
        	    // 마우스가 왼쪽으로 드래그 된 경우
        	    console.log("next move");
        	    this.hide();
        	  }
        	});

        	// 모바일 터치 이벤트 (스와이프)
        	app.addEventListener("touchstart", (e) => {
        	  console.log("touchstart", e.touches[0].pageX);
        	  startPoint = e.touches[0].pageX; // 터치가 시작되는 위치 저장
        	});
        	
        	app.addEventListener("touchend", (e) => {
        	  console.log("touchend", e.changedTouches[0].pageX);
        	  endPoint = e.changedTouches[0].pageX; // 터치가 끝나는 위치 저장
        	  if (startPoint+100 < endPoint) {
        	    // 오른쪽으로 스와이프 된 경우
        	    console.log("prev move");
        	    this.show();
        	  } else if (startPoint > endPoint+100) {
        	    // 왼쪽으로 스와이프 된 경우
        	    console.log("next move");
        	    this.hide();
        	  }
        	});
        	
            document.querySelectorAll(".burger-btn").forEach(r=>r.addEventListener("click", this.toggle.bind(this))),
            document.querySelectorAll(".sidebar-hide").forEach(r=>r.addEventListener("click", this.toggle.bind(this))),
            window.addEventListener("resize", this.onResize.bind(this));
            const k = r=>{
                r.classList.contains("submenu-open") ? (r.classList.remove("submenu-open"),
                r.classList.add("submenu-closed")) : (r.classList.remove("submenu-closed"),
                r.classList.add("submenu-open"))
            }
            ;
            let s = document.querySelectorAll(".sidebar-item.has-sub");
            for (var f = 0; f < s.length; f++) {
                let r = s[f];
                s[f].querySelector(".sidebar-link").addEventListener("click", a=>{
                    a.preventDefault();
                    let u = r.querySelector(".submenu");
                    k(u)
                }
                ),
                r.querySelectorAll(".submenu-item.has-sub").forEach(a=>{
                    a.addEventListener("click", ()=>{
                        const u = a.querySelector(".submenu");
                        k(u),
                        nn(a.parentElement, !0)
                    }
                    )
                }
                )
            }
            if (typeof PerfectScrollbar == "function") {
                const r = document.querySelector(".sidebar-wrapper");
                new PerfectScrollbar(r,{
                    wheelPropagation: !0
                })
            }
            setTimeout(()=>{
                const r = document.querySelector(".sidebar-item.active");
                r && this.forceElementVisibility(r)
            }
            , 300),
            this.options.recalculateHeight && Cr(Xe)
        }
        onResize() {
        	//(window.innerWidth > DesktopSize) ? (this.sidebarEL.classList.add("active"),
            //this.sidebarEL.classList.remove("inactive")) : this.sidebarEL.classList.remove("active"),
            this.deleteBackdrop(),
            this.toggleOverflowBody(!0)
        }
        toggle() {
            this.sidebarEL.classList.contains("active") ? this.hide() : this.show()
        }
        show() {			
            this.sidebarEL.classList.add("active"),
            this.sidebarEL.classList.remove("inactive"),
            this.createBackdrop(),
            this.toggleOverflowBody()
        }
        hide() {
            this.sidebarEL.classList.remove("active"),
            this.sidebarEL.classList.add("inactive"),
            this.deleteBackdrop(),
            this.toggleOverflowBody()
        }
        createBackdrop() {
            if (window.innerWidth > DesktopSize)
                return;
            this.deleteBackdrop();
            const k = document.createElement("div");
            k.classList.add("sidebar-backdrop"),
            k.addEventListener("click", this.hide.bind(this)),
            document.body.appendChild(k)
        }
        deleteBackdrop() {
            const k = document.querySelector(".sidebar-backdrop");
            k && k.remove()
        }
        toggleOverflowBody(k) {
            if (window.innerWidth > DesktopSize)
                return;
            const s = this.sidebarEL.classList.contains("active")
              , f = document.querySelector("body");
            typeof k > "u" ? f.style.overflowY = s ? "hidden" : "auto" : f.style.overflowY = k ? "auto" : "hidden"
        }
        isElementInViewport(k) {
            var s = k.getBoundingClientRect();
            return s.top >= 0 && s.left >= 0 && s.bottom <= (window.innerHeight || document.documentElement.clientHeight) && s.right <= (window.innerWidth || document.documentElement.clientWidth)
        }
        forceElementVisibility(k) {
            this.isElementInViewport(k) || k.scrollIntoView(!1)
        }
    }

	
    let Xe = document.getElementById("sidebar");

    
    const Bn = U=>{
		
        if (!Xe)
            return;
        (window.innerWidth > DesktopSize) && (U.classList.add("inactive"),
        U.classList.add("sidebar-desktop"));
        let k = document.querySelectorAll(".sidebar-item.has-sub .submenu");
        for (var s = 0; s < k.length; s++) {
            let f = k[s];
            const r = f.parentElement;
            
        }
    }
      , Cr = U=>{
        if (!U)
            return;
        let k = document.querySelectorAll(".sidebar-item.has-sub .submenu");
        for (var s = 0; s < k.length; s++) {
            let f = k[s];
            const r = f.parentElement;
            
        }
    };
    document.readyState !== "loading" ? Bn(Xe) : window.addEventListener("DOMContentLoaded", ()=>Bn(Xe)),
    window.Sidebar = Mr;
    Xe && new window.Sidebar(Xe);
    
    
		
	
	  //A2HS
      (function () {
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker.register("/js/sw.js");
        }
      })();
      
		let installPrompt = null;
		const installButton = document.querySelector("#install");

		window.addEventListener("beforeinstallprompt", (event) => {
		  event.preventDefault();
		  installPrompt = event;
		  installButton.removeAttribute("hidden");
		});
		
		installButton.addEventListener("click", async () => {
			  if (!installPrompt) {
			    return;
			  }
			  const result = await installPrompt.prompt();
			  console.log(`Install prompt was: ${result.outcome}`);
			  installPrompt = null;
			  installButton.setAttribute("hidden", "");
			});
    </script>
	
	<th:block layout:fragment="script"></th:block>

</html>