<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
	<head>	
		<th:block th:replace="~{common/layout/head :: commonHead}"></th:block>
	</head>
	
	<body class="light">
	<script src="/js/initTheme.js"></script>

	<div id="app">
		<div th:replace="~{common/layout/sidebar :: commonSidebar}"></div>
		<div id="main" class='layout-navbar navbar-fixed'>
			<header>
				<th:block th:replace="~{common/layout/header :: commonHeader}"></th:block>
			</header>
				<th:block layout:fragment="contents"></th:block>
			
		</div>
		<footer>
			<th:block th:replace="~{common/layout/footer :: commonFooter}"></th:block>
		</footer>		
	</div>
	</body>
	
	<script src="/js/components/dark.js"></script>
	<script src="/extensions/perfect-scrollbar/perfect-scrollbar.js"></script>	
	<script src="/js/app_v0.5.js"></script>
	<script src="/extensions/sweetalert2/sweetalert2.min.js"></script>
	<script src="/extensions/jquery/jquery.min.js"></script>
	<script>
	  //A2HS
      (function () {
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker.register("/js/sw.js");
        }
      })();
      
		let installPrompt = null;
		const installButton = document.querySelector("#install");

		window.addEventListener("beforeinstallprompt", (event) => {
		  event.preventDefault();
		  installPrompt = event;
		  installButton.removeAttribute("hidden");
		});
		
		installButton.addEventListener("click", async () => {
			  if (!installPrompt) {
			    return;
			  }
			  const result = await installPrompt.prompt();
			  console.log(`Install prompt was: ${result.outcome}`);
			  installPrompt = null;
			  installButton.setAttribute("hidden", "");
			});
    </script>
	
	<th:block layout:fragment="script"></th:block>

</html>