<!DOCTYPE html>
<!--common/layout/sidebar.html-->
<html
    xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
<head>

</head>
 
<body>
	<!-- <script src="/js/initTheme.js"></script>	 -->
	<div id="app">
	<div id="sidebar" class="sidebar-desktop inactive" th:fragment="commonSidebar">

			<div class="sidebar-wrapper">
				<div class="sidebar-header">
					<div class="d-flex align-items-center justify-content-between position-relative">
						<div class="d-flex align-items-center logo mb-2">
							<a href="/index"><img src="/images/kdb/H_KDB_CI.png" alt="Logo"></a>
						</div>
						
					</div>
					<section class="section mt-2">
						<div class="card m-0 p-1">
							<div class="card-body pt-0 pb-0 ps-1">
								<span id="userName" class="h6 mt-2 me-1" th:text="${username}"></span>
								<span id="deptName" class="h7" th:text="${deptName}"></span>
								<div class="row d-flex align-items-center">
									<h7 class="d-flex align-items-center me-4">
										<span class="badge rounded-pill bg-primary d-flex align-items-center justify-content-center p-2 me-2">
											<span>오늘</span>
										</span>
										<span class="me-2" id="todayWorkTime" th:text="${todayWorkTime}"></span>
										<span class="badge rounded-pill bg-info d-flex align-items-center justify-content-center p-2 me-2">
											<span class="align-items-center">내일</span>
										</span>
										<span class="m-0" id="tomorrowWorkTime" th:text="${tomorrowWorkTime}"></span>
									</h7>
									
								</div>
							</div>
						</div>
					</section>
				</div>
				
				<div class="d-flex justify-content-end me-3" sec:authorize="hasRole('ADMIN')">
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckAdmin">
						<label class="form-check-label" for="flexSwitchCheckAdmin">
							<span class="h7 me-2">관리자</span>
						</label>
					</div>
				</div>

				<div class="sidebar-menu">


<!--					<div class="d-flex justify-content-end align-items-end me-3">-->
<!--						<div class="sidebar-toggler  x mt-3">-->
<!--							<a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x-circle-fill bi-middle"></i></a>-->
<!--						</div>-->
<!--					</div>-->
				
					<ul class="menu" id="menu">
						<!--render html from sidebar.js-->
					</ul>

					<ul class="menu" id="common-menu">
						<!--start divider-->
						<div class="divider">
							<div class="divider-text">
								<img class="divider-text" src="/images/kdb/epams_r_cw_action.gif"/>
							</div>
						</div>
						<!--end divider-->

						<li class="sidebar-item">
							<a href="/logout" class='sidebar-link' >
								<i class="bi bi-x-octagon-fill"></i>
								<span>로그아웃</span>
							</a>
						</li>
					</ul>

				</div>	
				
			</div>
		<!-- 사이드바 네모 모양의 버튼 -->
		<button class="sidebar-toggler">
			<a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x-circle-fill"></i></a>
		</button>
		</div>
	</div>

	<th:block layout:fragment="script">
		<script src="/js/sidebar.js"></script>
	</th:block>

</body>
</html>