<!--common/layout/sidebarNormal.html-->

<div th:fragment="menu">

	<li class="sidebar-title">공통</li>

	<li class="sidebar-item">
		<a href="/index" class='sidebar-link'>
			<i class="bi bi-house-fill"></i>
			<span>Home</span>
		</a>
	</li>
	
	<li class="sidebar-item">
		<a href="/board/10/list" class='sidebar-link'>
			<i class="bi bi-bell-fill"></i>
			<span>공지사항</span>
		</a>
	</li>
	
	<li class="sidebar-item">
		<a href="/index#searchDiv" class='sidebar-link' id="memberSearch">
			<i class="bi bi-search"></i>
			<span>직원검색</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a href="/common/weddingFuneral" class='sidebar-link'>
			<i class="bi bi-bell-fill"></i>
			<span>경조사</span>
		</a>
	</li>

	<li class="sidebar-title">인사</li>

	<li class="sidebar-item">
		<a href="/dtm/dtmReg" class='sidebar-link'>
			<i class="bi bi-stack"></i>
			<span>근태신청</span>
		</a>
	</li>

	<li class="sidebar-item has-sub">
		<a href="#" class='sidebar-link'>
			<i class="bi bi-collection-fill"></i>
			<span>근태조회</span>
		</a>
		<ul class="submenu submenu-open">
			<li class="submenu-item">
				<a href="/dtm/dtmCalendar" class="submenu-link"><i class="bi bi-calendar me-2"></i>달력</a>
			</li>
			<li class="submenu-item">
				<a href="/dtm/dtmList" class="submenu-link"><i class="bi bi-list-ul me-2"></i>목록</a>
			</li>
		</ul>
	</li>

</div>