<!--common/layout/sidebarNormal.html-->

<div th:fragment="menu">

	<li class="sidebar-title">공통</li>

	<li class="sidebar-item">
		<a href="/board/list" class='sidebar-link'>
			<i class="bi bi-bell-fill"></i>
			<span>공지사항</span>
		</a>
	</li>

	<li class="sidebar-title">인사</li>

	<li class="sidebar-item">
		<a href="/dtm/main" class='sidebar-link'>
			<i class="bi bi-stack"></i>
			<span>근태신청</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a href="/dtm/main2" class='sidebar-link'>
			<i class="bi bi-stack"></i>
			<span>근태신청2</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a href="/dtm/list" class='sidebar-link'>
			<i class="bi bi-collection-fill"></i>
			<span>근태조회</span>
		</a>
	</li>

	<div class="divider">
		<div class="divider-text" style="background-color: transparent;">
			<img class="divider-text" src="/images/kdb/epams_r_cw_action.gif"
				style="width: 50px; height: 50px; border-radius: 50%; padding: 0;" />
		</div>
	</div>

	<li class="sidebar-item">
		<a href="/logout" class='sidebar-link' >
			<i class="bi bi-x-octagon-fill"></i>
			<span>로그아웃</span>
		</a>
	</li>
</div>