<!--common/layout/sidebarNormal.html-->

<div th:fragment="menu">

	<li class="sidebar-title">공통</li>

	<li class="sidebar-item">
		<a href="/board/list" class='sidebar-link'>
			<i class="bi bi-bell-fill"></i>
			<span>공지사항</span>
		</a>
	</li>

	<li class="sidebar-title">인사</li>

	<li class="sidebar-item">
		<a href="/dtm/dtmReg" class='sidebar-link'>
			<i class="bi bi-stack"></i>
			<span>근태신청</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a href="/dtm/list" class='sidebar-link'>
			<i class="bi bi-collection-fill"></i>
			<span>근태조회</span>
		</a>
	</li>

</div>