<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardImage">

    <!-- BoardImage TABLE Result Map 정의 -->
    <resultMap id="boardImageMap" type="boardImageDTO">
        <id property="seqId" column="BLB_IMG_SNO"/>
        <result property="originalFileName" column="ORC_FL_NM"/>
        <result property="storedFileName" column="SVR_FL_NM"/>
        <result property="boardId" column="BLB_SNO"/>
        <result property="deleteYn" column="DEL_YN"/>
        <result property="guid" column="GUID"/>
        <result property="guidPrgSno" column="GUID_PRG_SNO"/>
        <result property="lstChgUsid" column="LST_CHG_USID"/>
        <result property="updatedTime" column="LST_CHG_DTM"/>
        <result property="createdTime" column="FST_ENR_DTM"/>
        <result property="createUsid" column="FST_ENR_USID"/>
        <association property="boardDTO" column="BLB_SNO" javaType="boardDTO" select="Board.selectBoardById"/>
    </resultMap>

    <!-- 이미지 저장 -->
    <insert id="insertBoardImage" parameterType="boardImageDTO">
        <selectKey keyProperty="seqId" resultType="long" order="BEFORE">
            SELECT "OEHR"."SQ_THURXE_CBRDIM_1".nextval FROM dual
        </selectKey>
        INSERT INTO OEHR.THURXE_CBRDIM
        (
        BLB_IMG_SNO,
        ORC_FL_NM,
        SVR_FL_NM,
        BLB_SNO,
        DEL_YN,
        GUID,
        GUID_PRG_SNO,
        LST_CHG_USID,
        LST_CHG_DTM,
        FST_ENR_DTM,
        FST_ENR_USID
        )
        VALUES
        (
        #{seqId},
        #{originalFileName},
        #{storedFileName},
        #{boardId},
        #{deleteYn},
        #{guid},
        #{guidPrgSno},
        #{lstChgUsid},
        SYSDATE,
        SYSDATE,
        #{createUsid}
        )
    </insert>

    <select id="selectBoardImage" parameterType="String" resultMap="boardImageMap">
        SELECT * FROM OEHR.THURXE_CBRDIM
        WHERE
        SVR_FL_NM = #{storedFileName}
    </select>

</mapper>
