<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">


<mapper namespace="Board">

    <!-- BOARD TABLE Result Map 정의 
    <resultMap id="BoardDTO" type="board">
        <id property="seqId" column="SEQ_ID"/>
        <result property="boardTitle" column="BOARD_TITLE"/>
        <result property="boardContents" column="BOARD_CONTENTS"/>
        <result property="boardWriter" column="BOARD_WRITER"/>
        <result property="category" column="CATEGORY"/>
        <result property="boardHits" column="BOARD_HITS"/>
        <result property="fileAttached" column="FILE_ATTACHED"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="updatedTime" column="UPDATED_TIME"/>
    </resultMap>
	-->
	<!-- 게시물 저장 후 ID 반환 -->
    <insert id="save" parameterType="board"  useGeneratedKeys="true" keyProperty="seqId">
        INSERT INTO board(boardTitle, boardWriter, boardContents, fileAttached, category, boardHits, createdTime)
            VALUES(#{boardTitle}, #{boardWriter}, #{boardContents}, #{fileAttached}, #{category}, 0, NOW())
    </insert>
    
	<!-- 특정 게시물 업데이트 -->
    <update id="update" parameterType="board">
        UPDATE board 
        SET boardTitle=#{boardTitle}, 
        	boardContents=#{boardContents}, 
	        fileAttached=#{fileAttached},
	        category=#{category},
	        updatedTime=#{updatedTime}
       	WHERE seqId=#{seqId}
    </update>
    
    <!-- Paging 규칙에 따라 전체 게시물 조회 -->
    <select id="findAll" resultType="board">
        SELECT *
        FROM board
        ORDER BY ${sortColumn} ${sortDirection}
        LIMIT #{limit} OFFSET #{offset}
    </select>
    
    <!-- 전체 데이터 개수 조회 -->
    <select id="count" resultType="long">
        SELECT COUNT(*) FROM board
    </select>
    
    <!-- 특정 게시물 조회 -->
    <select id="findById" parameterType="Long" resultType="board">
        SELECT 
        	seqId, 
       		boardTitle, 
       		boardWriter, 
       		boardContents, 
       		boardHits,
        	date_format(createdTime, "%Y-%m-%d %H:%i:%s") AS createdTime, 
        	fileAttached,
        	category
        FROM board WHERE seqId=#{seqId}
    </select>
    
    <!-- 특정 게시물 조회 시 HIT+1 -->
    <update id="updateHits" parameterType="Long">
        UPDATE board SET boardHits=boardHits+1 WHERE seqId=#{seqId}
    </update>

    
    <delete id="delete" parameterType="Long">
        DELETE FROM board WHERE seqId=#{seqId}
    </delete>
    
    
    
    
        
    
    <insert id="insertBoardImage" parameterType="boardImage" useGeneratedKeys="true" keyProperty="seqId">
        insert into board_image(originalFileName, storedFileName)
            values(#{originalFileName}, #{storedFileName})
    </insert>
    
     <select id="selectBoardImage" parameterType="String" resultType="boardImage">
        select * from board_file where storedFileName = #{storedFileName}
    </select>
</mapper>