<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">

<mapper namespace="Code">

    <!-- 모든 데이터 조회 -->
    <select id="findAll" resultType="code">
        SELECT * FROM THURXE_CCODEM
    </select>    
    
    <!-- 특정 ID 데이터 조회 -->
    <select id="findById" parameterType="String" resultType="code">
        SELECT * FROM THURXE_CCODEM
        WHERE CDVA_ID=#{CDVA_ID}
    </select>   
    
    <!-- 기본키 데이터 중복여부 조회 -->
    <select id="countById" parameterType="Long" resultType="code">
        SELECT COUNT(*)
        FROM THURXE_CCODEM WHERE CDVA_ID=#{CDVA_ID}
    </select>
    
    <!-- 신규 데이터 추가 --> 
    <insert id="insert" parameterType="code">
        INSERT INTO THURXE_CCODEM(
            CDVA_ID, 
            CDVA_NM, 
            CDVA_KD_NM, 
            GNT_DTM
        )
        VALUES(
            #{CDVA_ID},
            #{CDVA_NM},
            #{CDVA_KD_NM},
            SYSDATE
        )
    </insert>   
    
    <!-- 기존 데이터 삭제 --> 
    <delete id="delete" parameterType="code">
        DELETE FROM THURXE_CCODEM 
        WHERE 
            CDVA_ID = #{CDVA_ID}
    </delete>
    
    <!-- 기존 데이터 업데이트 --> 
    <update id="update" parameterType="code">
        UPDATE THURXE_CCODEM 
        SET 
            CDVA_ID = #{CDVA_ID},
            CDVA_NM = #{CDVA_NM},
            CDVA_KD_NM = #{CDVA_KD_NM},
            AMN_DTM = SYSDATE 
        WHERE 
            CDVA_ID = #{CDVA_ID}
    </update>
    
    <!-- 신규 데이터 추가 또는 기존 데이터 업데이트 -->
	<insert id="insertUpdate" parameterType="code">
	    INSERT INTO THURXE_CCODEM (
            CDVA_ID, 
            CDVA_NM, 
            CDVA_KD_NM, 
            GNT_DTM
        )
	    VALUES (
            #{CDVA_ID},
            #{CDVA_NM},
            #{CDVA_KD_NM},
            SYSDATE
        )
	    ON DUPLICATE KEY UPDATE
	        CDVA_NM = VALUES(CDVA_NM),
	        CDVA_KD_NM = VALUES(CDVA_KD_NM),
	        AMN_DTM = SYSDATE;
	</insert>
        
</mapper>