<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">


<mapper namespace="Code">
     
    <!-- 모든 데이터 조회 -->
    <select id="findAll" resultType="code">
        SELECT * FROM com_code
    </select>    
    
    <!-- 기본키 데이터 중복여부 조회 -->
    <select id="countById" parameterType="Long" resultType="code">
        SELECT COUNT(*)
        FROM com_code WHERE CD=#{CD}
    </select>
    
    <!-- 신규 데이터 추가 --> 
    <insert id="insert" parameterType="code">
        INSERT INTO com_code(CD, CD_NM, CD_TYPE, createdTime)
            VALUES(#{CD}, #{CD_NM}, #{CD_TYPE}, NOW())
    </insert>   
    
    <!-- 기존 데이터 삭제 --> 
    <delete id="delete" parameterType="code">
        DELETE FROM com_code WHERE CD=#{CD}
    </delete>
    
    <!-- 기존 데이터 업데이트 --> 
    <update id="update" parameterType="code">
        UPDATE com_code SET CD=#{CD}, CD_NM=#{CD_NM}, CD_TYPE=#{CD_TYPE}, updatedTime=NOW() WHERE CD=#{CD}
    </update>
        
</mapper>