<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">


<mapper namespace="Board">

    <!-- BOARD TABLE Result Map 정의 
    <resultMap id="BoardDTO" type="board">
        <id property="seqId" column="SEQ_ID"/>
        <result property="boardTitle" column="BOARD_TITLE"/>
        <result property="boardContents" column="BOARD_CONTENTS"/>
        <result property="boardWriter" column="BOARD_WRITER"/>
        <result property="category" column="CATEGORY"/>
        <result property="boardHits" column="BOARD_HITS"/>
        <result property="fileAttached" column="FILE_ATTACHED"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="updatedTime" column="UPDATED_TIME"/>
    </resultMap>
	-->
	
	<!-- 게시물 저장 후 ID 반환 -->
    <insert id="save" parameterType="board" useGeneratedKeys="true" keyProperty="SEQ_ID">
        INSERT INTO com_board(BOARD_TITLE, BOARD_WRITER, BOARD_CONTENTS, FILE_ATTACHED, CATEGORY, BOARD_HITS, CREATED_TIME)
            VALUES(#{BOARD_TITLE}, #{BOARD_WRITER}, #{BOARD_CONTENTS}, #{FILE_ATTACHED}, #{CATEGORY}, 0, NOW())
    </insert>
    
	<!-- 특정 게시물 업데이트 -->
    <update id="update" parameterType="board" useGeneratedKeys="true" keyProperty="SEQ_ID">
        UPDATE com_board 
        SET BOARD_TITLE=#{BOARD_TITLE}, 
        	BOARD_CONTENTS=#{BOARD_CONTENTS}, 
	        FILE_ATTACHED=#{FILE_ATTACHED},
	        CATEGORY=#{CATEGORY},
	        UPDATED_TIME=#{UPDATED_TIME}
       	WHERE SEQ_ID=#{SEQ_ID}
    </update>
    
    <!-- Paging 규칙에 따라 전체 게시물 조회 -->
    <select id="findAll" resultType="board">
        SELECT *
        FROM com_board
        ORDER BY ${sortColumn} ${sortDirection}
        LIMIT #{limit} OFFSET #{offset}
    </select>
    
    <!-- 전체 데이터 개수 조회 -->
    <select id="count" resultType="long">
        SELECT COUNT(*) FROM com_board
    </select>
    
    <!-- 특정 게시물 조회 -->
    <select id="findById" parameterType="Long" resultType="board">
        SELECT 
        	SEQ_ID, 
       		BOARD_TITLE, 
       		BOARD_WRITER, 
       		BOARD_CONTENTS, 
       		BOARD_HITS,
        	date_format(CREATED_TIME, "%Y-%m-%d %H:%i:%s") AS CREATED_TIME, 
        	FILE_ATTACHED,
        	CATEGORY
        FROM com_board WHERE SEQ_ID=#{SEQ_ID}
    </select>
    
    <!-- 특정 게시물 조회 시 HIT+1 -->
    <update id="updateHits" parameterType="Long">
        UPDATE com_board SET BOARD_HITS=BOARD_HITS+1 WHERE SEQ_ID=#{SEQ_ID}
    </update>

    
    <delete id="delete" parameterType="Long">
        DELETE FROM com_board WHERE SEQ_ID=#{SEQ_ID}
    </delete>
    
    
    
    
        
    
    <insert id="insertBoardImage" parameterType="boardImage" useGeneratedKeys="true" keyProperty="seqId">
        insert into com_board_image(ORIGINAL_FILENAME, STORED_FILENAME)
            values(#{ORIGINAL_FILENAME}, #{STORED_FILENAME})
    </insert>
    
     <select id="selectBoardImage" parameterType="String" resultType="boardImage">
        select * from com_board_image where STORED_FILENAME = #{STORED_FILENAME}
    </select>
</mapper>