<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">


<mapper namespace="BoardImage">

    <insert id="insertBoardImage" parameterType="boardImage" useGeneratedKeys="true" keyProperty="SEQ_ID">
        INSERT INTO com_board_image(ORIGINAL_FILENAME, STORED_FILENAME, CREATED_TIME)
            VALUES(#{ORIGINAL_FILENAME}, #{STORED_FILENAME}, SYSDATE)
    </insert>
    
     <select id="selectBoardImage" parameterType="String" resultType="boardImage">
        SELECT * FROM com_board_image WHERE STORED_FILENAME = #{STORED_FILENAME}
    </select>
</mapper>