<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">


<mapper namespace="BoardImage">

    <insert id="insertBoardImage" parameterType="boardImage" useGeneratedKeys="true" keyProperty="SEQ_ID">
        <selectKey keyProperty="SEQ_ID" resultType="long" order="BEFORE">
            SELECT "EHR"."ISEQ$$_73888".nextval FROM dual
        </selectKey>
        INSERT INTO THURXE_CBRDIM(BOARD_IMAGE_SNO, ORIGINAL_FILENAME, STORED_FILENAME, CREATED_TIME)
            VALUES(#{BOARD_IMAGE_SNO}, #{ORIGINAL_FILENAME}, #{STORED_FILENAME}, SYSDATE)
    </insert>
    
     <select id="selectBoardImage" parameterType="String" resultType="boardImage">
        SELECT * FROM THURXE_CBRDIM WHERE STORED_FILENAME = #{STORED_FILENAME}
    </select>
</mapper>