<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">

<mapper namespace="ViewLog">
    
    <!-- com.kdb.common.dto.LogLoginDTO Result Map 정의
    <resultMap id="LogLoginResultMap" type="com.kdb.com.dto.LogLoginDTO">
        <result property="empNo" column="EMP_NO"/>
        <result property="type" column="TYPE"/>
        <result property="result" column="RESULT"/>
        <result property="createdTime" column="CREATED_TIME"/>
    </resultMap>
    -->
    
    <!-- 모든 데이터 조회 -->
    <select id="findAll" resultType="viewLog">
        SELECT * FROM COM_VIEW_LOG
    </select>    
    
    <!-- 기본키 데이터 중복여부 조회 -->
    <select id="countById" parameterType="Long" resultType="viewLog">
        SELECT COUNT(*)
        FROM COM_VIEW_LOG WHERE SEQ_ID=#{SEQ_ID}
    </select>
    
    <!-- 신규 데이터 추가 --> 
    <insert id="insert" parameterType="viewLog">
        INSERT INTO COM_VIEW_LOG(CTRL_NM, MTHD_NM, CLIENT_IP, USER_AGENT, RQST_URL, CALL_TIME)
            VALUES(#{CTRL_NM}, #{MTHD_NM}, #{CLIENT_IP}, #{USER_AGENT}, #{RQST_URL}, #{CALL_TIME})
    </insert>   
    
    <!-- 기존 데이터 삭제 (로그 테이블 특성상 불필요) --> 
    
    <!-- 기존 데이터 업데이트 (로그 테이블 특성상 불필요) -->
     
</mapper>