<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">

<mapper namespace="WebauthDetail">
     
    <!-- 모든 데이터 조회 -->
    <select id="findAll" resultType="webauthDetail">
        SELECT * FROM COM_WEBAUTH_DTL
    </select>    
    
    <!-- 기본키 데이터 중복여부 조회 -->
    <select id="countById" parameterType="Long" resultType="int">
        SELECT COUNT(*)
        FROM COM_WEBAUTH_DTL WHERE SEQ_ID=#{SEQ_ID}
    </select>
    
    <!-- 신규 데이터 추가 --> 
    <insert id="insert" parameterType="webauthDetail">
        INSERT INTO COM_WEBAUTH_DTL(EMP_NO, CRDT_ID, PBLK_KEY, CNT, AAGUID)
            VALUES(#{EMP_NO}, 
            	   #{CRDT_ID}, 
            	   #{PBLK_KEY}, 
            	   #{CNT}, 
            	   #{AAGUID})
    </insert>   
    
    <!-- 기존 데이터 삭제 --> 
    <delete id="delete" parameterType="Long">
        DELETE FROM COM_WEBAUTH_DTL WHERE SEQ_ID=#{SEQ_ID}
    </delete>
    
    <!-- 기존 데이터 업데이트 --> 
    <update id="update" parameterType="webauthDetail">
        UPDATE COM_WEBAUTH_DTL 
        SET 
        	EMP_NO=#{EMP_NO}, 
        	CRDT_ID=#{CRDT_ID},
        	PBLK_KEY=#{PBLK_KEY},
        	CNT=#{CNT},
        	AAGUID=#{AAGUID}
       	WHERE SEQ_ID=#{SEQ_ID}
    </update>
    
    <!-- 신규 데이터 추가 또는 기존 데이터 업데이트 -->
	<insert id="insertUpdate" parameterType="webauthDetail">
	    INSERT INTO COM_WEBAUTH_DTL (EMP_NO, CRDT_ID, PBLK_KEY, CNT, AAGUID)
	    VALUES(#{EMP_NO}, #{CRDT_ID}, #{PBLK_KEY}, #{CNT}, #{AAGUID})
	    ON DUPLICATE KEY 
	    UPDATE
	    	CRDT_ID = VALUES(CRDT_ID),
	    	PBLK_KEY = VALUES(PBLK_KEY),
	    	CNT = VALUES(CNT),
	    	AAGUID = VALUES(AAGUID);
	</insert>
	
    <!-- 기본키 데이터 조회 -->
	<select id="findByCredentialId" parameterType="ByteArray" resultMap="webauthDetailResultMap">
	    SELECT d.*, u.EMP_NO as EMP_NO, u.DISP_NM as DISP_NM, u.HANDLE as HANDLE
	    FROM COM_WEBAUTH_DTL d
	    LEFT JOIN COM_WEBAUTH_USR u ON d.EMP_NO = u.EMP_NO
	    WHERE d.CRDT_ID = #{CRDT_ID}
	</select>
	
    <resultMap id="webauthDetailResultMap" type="epams.com.login.util.webauthn.authenticator.WebauthDetailEntity">
        <id column="SEQ_ID" property="SEQ_ID" />
        <result column="CRDT_ID" property="CRDT_ID" />
        <result column="PBLK_KEY" property="PBLK_KEY" />
        <result column="CNT" property="CNT" />
        <result column="AAGUID" property="AAGUID" />
        <association property="user" javaType="epams.com.login.util.webauthn.user.WebauthUserEntity">
            <id column="EMP_NO" property="EMP_NO" />
            <result column="DISP_NM" property="DISP_NM" />
            <result column="HANDLE" property="HANDLE" />
        </association>
    </resultMap>
    
    <!-- 기본키 데이터 조회 -->
    <select id="findAllByCredentialId" parameterType="ByteArray" resultType="webauthDetail">
        SELECT SEQ_ID, CRDT_ID, PBLK_KEY, CNT, AAGUID, EMP_NO
        FROM COM_WEBAUTH_DTL WHERE CRDT_ID=#{CRDT_ID}
    </select>
    
    <!-- 사용자 데이터 조회 -->
    <select id="findAllByUser" parameterType="String" resultMap="webauthDetailResultMap">
        SELECT 
            d.SEQ_ID,
            d.CRDT_ID,
            d.PBLK_KEY,
            d.CNT,
            d.AAGUID,
            u.EMP_NO,
            u.DISP_NM,
            u.HANDLE
        FROM 
            COM_WEBAUTH_DTL d
        LEFT JOIN 
            COM_WEBAUTH_USR u
        ON 
            d.EMP_NO = u.EMP_NO
        WHERE 
            d.EMP_NO = #{username}
    </select>
    
    <!-- 사용자 데이터 조회 -->
    <select id="findByUser" parameterType="String" resultMap="webauthDetailResultMap">
        SELECT *
        FROM COM_WEBAUTH_DTL WHERE EMP_NO=#{username}
    </select>
    
    <select id="countByUser" parameterType="String" resultType="Int">
        SELECT COUNT(*)
        FROM COM_WEBAUTH_DTL WHERE EMP_NO=#{username}
    </select>
        
</mapper>
