<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">


<mapper namespace="Code">
     
    <!-- 모든 데이터 조회 -->
    <select id="findAll" resultType="code">
        SELECT * FROM com_code
    </select>    
    
    <!-- 기본키 데이터 중복여부 조회 -->
    <select id="countById" parameterType="Long" resultType="code">
        SELECT COUNT(*)
        FROM com_code WHERE CD_ID=#{CD_ID}
    </select>
    
    <!-- 신규 데이터 추가 --> 
    <insert id="insert" parameterType="code">
        INSERT INTO com_code(CD_ID, CD_NM, CD_TYPE, CREATED_TIME)
            VALUES(#{CD_ID}, #{CD_NM}, #{CD_TYPE}, NOW())
    </insert>   
    
    <!-- 기존 데이터 삭제 --> 
    <delete id="delete" parameterType="code">
        DELETE FROM com_code WHERE CD_ID=#{CD_ID}
    </delete>
    
    <!-- 기존 데이터 업데이트 --> 
    <update id="update" parameterType="code">
        UPDATE com_code SET CD_ID=#{CD_ID}, CD_NM=#{CD_NM}, CD_TYPE=#{CD_TYPE}, UPDATED_TIME=NOW() WHERE CD_ID=#{CD_ID}
    </update>
    
    <!-- 신규 데이터 추가 또는 기존 데이터 업데이트 -->
	<insert id="insertUpdate" parameterType="code">
	    INSERT INTO com_code (CD_ID, CD_NM, CD_TYPE, CREATED_TIME)
	    VALUES (#{CD_ID}, #{CD_NM}, #{CD_TYPE}, NOW())
	    ON DUPLICATE KEY UPDATE
	    CD_NM = VALUES(CD_NM),
	    CD_TYPE = VALUES(CD_TYPE),
	    UPDATED_TIME = NOW();
	</insert>
        
</mapper>