<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Dashboard">

    <!-- 일자별 로그인 사용자수 조회 -->
    <select id="findLoginUserCountsByDate" resultType="epams.domain.com.admin.dto.CountByDateDTO">
        SELECT
            t.createdDate,
            SUM(CASE WHEN t.LGN_SCS_YN = '1' THEN 1 ELSE 0 END) AS successCount,
            SUM(CASE WHEN t.LGN_SCS_YN = '0' THEN 1 ELSE 0 END) AS failureCount
        FROM (
                 SELECT DISTINCT ENO, TO_CHAR(FST_ENT_DTM, 'YYYY-MM-DD') AS createdDate, LGN_SCS_YN
                 FROM THURXE_CLOGNL
             ) t
        GROUP BY
            t.createdDate
        ORDER BY
            t.createdDate
    </select>

    <!-- 일자별 로그인 건수 조회 -->
    <select id="findLoginCountsByDate" resultType="epams.domain.com.admin.dto.CountByDateDTO">
        SELECT
            TO_CHAR(FST_ENT_DTM, 'YYYY-MM-DD') AS createdDate,
            SUM(CASE WHEN LGN_SCS_YN = '1' THEN 1 ELSE 0 END) AS successCount,
            SUM(CASE WHEN LGN_SCS_YN = '0' THEN 1 ELSE 0 END) AS failureCount
        FROM
            THURXE_CLOGNL
        GROUP BY
            TO_CHAR(FST_ENT_DTM, 'YYYY-MM-DD')
        ORDER BY
            createdDate
    </select>

    <!-- 일자별 페이지뷰 건수 조회 -->
    <select id="findViewCountsByDate" resultType="epams.domain.com.admin.dto.CountByDateDTO">
        SELECT
            TO_CHAR(FST_ENT_DTM, 'YYYY-MM-DD') AS createdDate,
            COUNT(*) AS totalCount
        FROM
            THURXE_CVIEWL
        GROUP BY
            TO_CHAR(FST_ENT_DTM, 'YYYY-MM-DD')
        ORDER BY
            createdDate
    </select>

    <!-- 로그인종류명별 성공 건수 조회 -->
    <select id="findLoginTypeCountByCategory" resultType="epams.domain.com.admin.dto.CountByCategoryDTO">
        SELECT
            CER_KD_NM AS category,
            COUNT(*) AS totalCount
        FROM
            THURXE_CLOGNL
        WHERE
            LGN_SCS_YN = '1'
        GROUP BY
            CER_KD_NM
        ORDER BY
            totalCount DESC
    </select>

</mapper>