<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="DtmAppl">

    <!-- TABLE Result Map 정의
    <resultMap id="DtmApplDTO" type="dtmAppl">
        <id property="applID" column="DTM_APPL_ID"/>
        <result property="empId" column="EMP_ID"/>
        <result property="dtmCode" column=""/>
        <result property="dtmName" column="DTM_TYPE_CD"/>
        <result property="startDate" column="STD_DATE"/>
        <result property="endDate" column="END_DATE"/>
        <result property="applDate" column="TZ_DATE"/>
    </resultMap>-->
     
    <select id="findAllByPeriod" resultType="dtmAppl">
        SELECT * FROM (
            SELECT
                A.DTM_APPL_ID AS applID,
                A.EMP_ID      AS empId,
                A.DTM_TYPE_CD AS dtmCode,
                C.DTM_NM      AS dtmName,
                A.STD_DATE    AS startDate,
                A.END_DATE    AS endDate,
                A.TZ_DATE     AS applDate,
                ROW_NUMBER() OVER (ORDER BY A.TZ_DATE DESC) AS rnum
            FROM OHR.DTM_APPL A
            JOIN OHR.DTM_CD C ON A.DTM_TYPE_CD = C.DTM_CD
            WHERE A.TZ_DATE BETWEEN #{startDate} AND #{endDate}
        )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
        ORDER BY applDate DESC
    </select>

</mapper>