<!DOCTYPE mapper SYSTEM "dtd/mybatis-3-mapper.dtd">

<mapper namespace="DtmApplProc">

    <insert id="preCheck" statementType="CALLABLE" parameterType="dtmApplCheckProcDTO">
        {CALL OHR.P_DTM_APPL_CHECK(
                #{companyCd,    mode=IN,    jdbcType=VARCHAR},
                #{localeCd,     mode=IN,    jdbcType=VARCHAR},
                #{empId,        mode=IN,    jdbcType=NUMERIC},
                #{reasonCd,     mode=IN,    jdbcType=VARCHAR},
                #{staYmd,       mode=IN,    jdbcType=DATE},
                #{endYmd,       mode=IN,    jdbcType=DATE},
                #{hisOid,       mode=IN,    jdbcType=NUMERIC},
                #{authType,     mode=IN,    jdbcType=VARCHAR},
                #{dtmType,      mode=IN,    jdbcType=VARCHAR},
                #{childNo,      mode=IN,    jdbcType=VARCHAR},
                #{modUserId,    mode=IN,    jdbcType=NUMERIC},
                #{tzCd,         mode=IN,    jdbcType=VARCHAR},
                #{resultCode,   mode=OUT,   jdbcType=VARCHAR},
                #{resultMsg,    mode=OUT,   jdbcType=VARCHAR}
              )}
    </insert>

    <insert id="newCheck" statementType="CALLABLE" parameterType="dtmApplElaCheckProcDTO">
        {CALL OHR.P_DTM01_APPL_ELA_CHECK(
                #{applId,       mode=IN,    jdbcType=NUMERIC},
                #{modUserId,    mode=IN,    jdbcType=NUMERIC},
                #{companyCd,    mode=IN,    jdbcType=VARCHAR},
                #{localeCd,     mode=IN,    jdbcType=VARCHAR},
                #{tzCd,         mode=IN,    jdbcType=VARCHAR},
                #{resultCode,   mode=OUT,   jdbcType=VARCHAR},
                #{resultMsg,    mode=OUT,   jdbcType=VARCHAR}
              )}
    </insert>
    
    <insert id="revokeCheck" statementType="CALLABLE" parameterType="dtmApplElaCheckProcDTO">
        {CALL OHR.P_DTM03_APPL_ELA_CHECK(
                #{applId,       mode=IN,    jdbcType=NUMERIC},
                #{modUserId,    mode=IN,    jdbcType=NUMERIC},
                #{companyCd,    mode=IN,    jdbcType=VARCHAR},
                #{localeCd,     mode=IN,    jdbcType=VARCHAR},
                #{tzCd,         mode=IN,    jdbcType=VARCHAR},
                #{resultCode,   mode=OUT,   jdbcType=VARCHAR},
                #{resultMsg,    mode=OUT,   jdbcType=VARCHAR}
              )}
    </insert>
    
</mapper>