<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DtmHis">

    <!-- resultMap 정의 -->
    <resultMap id="dtmHisResultMap" type="DtmHis">
        <!-- DTM_HIS 테이블 -->
        <id property="dtmHisId" column="DTM_HIS_ID" />
        <result property="empId" column="EMP_ID" />
        <result property="dtmKindCd" column="DTM_KIND_CD" />
        <result property="dtmReasonCd" column="DTM_REASON_CD" />
        <result property="staYmd" column="STA_YMD" />
        <result property="staHm" column="STA_HM" />
        <result property="endYmd" column="END_YMD" />
        <result property="endHm" column="END_HM" />
        <result property="dtmReason" column="DTM_REASON" />
        <result property="destPlc" column="DEST_PLC" />
        <result property="telno" column="TELNO" />
        <result property="childNo" column="CHILD_NO" />
        <result property="applId" column="APPL_ID" />
        <result property="statCd" column="STAT_CD" />
        <result property="finalApprYmd" column="FINAL_APPR_YMD" />
        <result property="modiType" column="MODI_TYPE" />
        <result property="modiReason" column="MODI_REASON" />
        <result property="modiDtmHisId" column="MODI_DTM_HIS_ID" />
        <result property="modUserId" column="MOD_USER_ID" />
        <result property="modDate" column="MOD_DATE" />
        <result property="tzCd" column="TZ_CD" />
        <result property="tzDate" column="TZ_DATE" />
        <result property="companyNm" column="COMPANY_NM" />
        <result property="document" column="DOCUMENT" />
        <result property="adUseYn" column="AD_USE_YN" />
        <result property="mailSendYn" column="MAIL_SEND_YN" />
        <result property="esbAskDt" column="ESB_ASK_DT" />
        <result property="childBirthYmd" column="CHILD_BIRTH_YMD" />
        <result property="dtmStoreYn" column="DTM_STORE_YN" />
        <result property="fileId" column="FILE_ID" />
        <result property="sealMgrYn" column="SEAL_MGR_YN" />
        <result property="secuMgrYn" column="SECU_MGR_YN" />
        <result property="infoMgrYn" column="INFO_MGR_YN" />
        <result property="safeMgrYn" column="SAFE_MGR_YN" />
        <result property="placeCd" column="PLACE_CD" />
        <!-- XFRMD2C 테이블 DTM_REASON_CD -->
        <result property="dtmReasonNm" column="DTM_REASON_NM" />
        <!-- XFRMD2C 테이블 ELA_STAT_CD -->
        <result property="statCdNm" column="STAT_CD_NM" />
    </resultMap>

    <!-- 갯수 조회 -->
    <select id="countById" parameterType="long" resultType="long">
        SELECT COUNT(*) FROM OHR.DTM_HIS WHERE EMP_ID = #{empId}
    </select>

    <!-- 특정 데이터 조회 -->
    <select id="findByCondition" parameterType="dtmSearchDTO" resultMap="dtmHisResultMap">
        SELECT
            d.*,
            x1.CD_NM AS DTM_REASON_NM,
            x2.CD_NM AS STAT_CD_NM
        FROM
            OHR.DTM_HIS d
        LEFT JOIN OHR.XFRMD2C x1 ON d.DTM_REASON_CD = x1.CD
              AND x1.CD_KIND = 'DTM_REASON_CD'
        LEFT JOIN OHR.XFRMD2C x2 ON d.STAT_CD = x2.CD
              AND x2.CD_KIND = 'ELA_STAT_CD'
        WHERE
                d.EMP_ID = #{empId}
            AND (d.MODI_TYPE != 'D' OR d.MODI_TYPE IS NULL)
        <if test="statCdList != null and statCdList.size() > 0">
            AND d.STAT_CD IN
            <foreach item="item" index="index" collection="statCdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="dtmKindCd != null and dtmKindCd != ''">
            AND d.DTM_KIND_CD = #{dtmKindCd}
        </if>
        <if test="dtmReasonCd != null and dtmReasonCd != ''">
            AND d.DTM_REASON_CD = #{dtmReasonCd}
        </if>
        <if test="staYmdInput != null and staYmdInput != ''">
            AND d.STA_YMD &gt;= TO_DATE(#{staYmdInput}, 'YYYY-MM-DD')
        </if>
        <if test="endYmdInput != null and endYmdInput != ''">
            AND d.END_YMD &lt;= TO_DATE(#{endYmdInput}, 'YYYY-MM-DD')
        </if>
        ORDER BY d.STAT_CD asc, d.STA_YMD DESC
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    <!-- 특정 데이터 건수 조회 -->
    <select id="countByCondition" parameterType="dtmSearchDTO" resultType="long">
        SELECT
        count(*)
        FROM
        OHR.DTM_HIS d
        LEFT JOIN OHR.XFRMD2C x1 ON d.DTM_REASON_CD = x1.CD
        AND x1.CD_KIND = 'DTM_REASON_CD'
        LEFT JOIN OHR.XFRMD2C x2 ON d.STAT_CD = x2.CD
        AND x2.CD_KIND = 'ELA_STAT_CD'
        WHERE
                d.EMP_ID = #{empId}
            AND (d.MODI_TYPE != 'D' OR d.MODI_TYPE IS NULL)
        <if test="statCdList != null and statCdList.size() > 0">
            AND d.STAT_CD IN
            <foreach item="item" index="index" collection="statCdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="dtmKindCd != null and dtmKindCd != ''">
            AND d.DTM_KIND_CD = #{dtmKindCd}
        </if>
        <if test="dtmReasonCd != null and dtmReasonCd != ''">
            AND d.DTM_REASON_CD = #{dtmReasonCd}
        </if>
        <if test="staYmdInput != null and staYmdInput != ''">
            AND d.STA_YMD &gt;= TO_DATE(#{staYmdInput}, 'YYYY-MM-DD')
        </if>
        <if test="endYmdInput != null and endYmdInput != ''">
            AND d.END_YMD &lt;= TO_DATE(#{endYmdInput}, 'YYYY-MM-DD')
        </if>
    </select>

    <!-- 신규 데이터 추가 -->
    <insert id="insert" parameterType="DtmHis" useGeneratedKeys="true" keyProperty="dtmHisId">
        <selectKey keyProperty="dtmHisId" resultType="long" order="BEFORE">
            SELECT "OHR"."S_DTM_SEQUENCE".nextval FROM dual
        </selectKey>
        INSERT INTO OHR.DTM_HIS (
        DTM_HIS_ID, EMP_ID, DTM_KIND_CD, DTM_REASON_CD, STA_YMD, STA_HM,
        END_YMD, END_HM, DTM_REASON, DEST_PLC, TELNO, CHILD_NO,
        APPL_ID, STAT_CD, FINAL_APPR_YMD, MODI_TYPE, MODI_REASON,
        MODI_DTM_HIS_ID, MOD_USER_ID, MOD_DATE, TZ_CD, TZ_DATE,
        COMPANY_NM, DOCUMENT, AD_USE_YN, MAIL_SEND_YN, ESB_ASK_DT,
        CHILD_BIRTH_YMD, DTM_STORE_YN, FILE_ID, SEAL_MGR_YN,
        SECU_MGR_YN, INFO_MGR_YN, SAFE_MGR_YN, PLACE_CD
        ) VALUES (
        #{dtmHisId}, #{empId}, #{dtmKindCd}, #{dtmReasonCd}, #{staYmd}, #{staHm},
        #{endYmd}, #{endHm}, #{dtmReason}, #{destPlc}, #{telno}, #{childNo},
        #{applId}, #{statCd}, #{finalApprYmd}, #{modiType}, #{modiReason},
        #{modiDtmHisId}, #{modUserId}, SYSDATE, 'KST', SYSDATE,
        #{companyNm}, #{document}, #{adUseYn}, #{mailSendYn}, #{esbAskDt},
        #{childBirthYmd}, #{dtmStoreYn}, #{fileId}, #{sealMgrYn},
        #{secuMgrYn}, #{infoMgrYn}, #{safeMgrYn}, #{placeCd}
        )
    </insert>

    <!-- 기존 데이터 삭제 -->
    <delete id="deleteById" parameterType="long">
        DELETE FROM OHR.DTM_HIS WHERE DTM_HIS_ID = #{dtmHisId}
    </delete>

    <!-- 기존 데이터 업데이트 -->
    <update id="updateByApplId" parameterType="DtmHis">
        UPDATE OHR.DTM_HIS SET
           STAT_CD = #{statCd},
           FINAL_APPR_YMD = SYSDATE,
           MOD_USER_ID = #{modUserId},
           MOD_DATE = SYSDATE
        WHERE APPL_ID = #{applId}
    </update>

</mapper>
