<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ElaApplC">

    <!-- resultMap 정의 -->
    <resultMap id="elaApplCResultMap" type="ElaApplCDTO">
        <id     column="APPL_ID"         property="applId"/>
        <result column="APPL_CD"         property="applCd"/>
        <result column="EMP_ID"          property="empId"/>
        <result column="APPL_DATE"       property="applDate"/>
        <result column="MAKE_EMP_ID"     property="makeEmpId"/>
        <result column="STAT_CD"         property="statCd"/>
        <result column="FORCE_CANCEL_YN" property="forceCancelYn"/>
        <result column="NOTE"            property="note" />
        <result column="MOD_USER_ID"     property="modUserId" />
        <result column="MOD_DATE"        property="modDate"/>
        <result column="TZ_CD"           property="tzCd"/>
        <result column="TZ_DATE"         property="tzDate" />
    </resultMap>

    <!-- 신규 데이터 추가 -->
    <insert id="insert" parameterType="ElaApplCDTO" useGeneratedKeys="true" keyProperty="applId">
        <selectKey keyProperty="applId" resultType="long" order="BEFORE">
            SELECT OHR.S_ELA_SEQUENCE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO OHR.ELA_APPL_C (
            APPL_ID,
            APPL_CD,
            EMP_ID,
            APPL_DATE,
            MAKE_EMP_ID,
            STAT_CD,
            FORCE_CANCEL_YN,
            NOTE,
            MOD_USER_ID,
            MOD_DATE,
            TZ_CD,
            TZ_DATE
        ) VALUES (
            #{applId},
            #{applCd},
            #{empId},
            SYSDATE,
            #{makeEmpId},
            #{statCd},
            #{forceCancelYn},
            #{note},
            #{modUserId},
            SYSDATE,
            'KST',
            SYSDATE
        )
    </insert>

    <!-- UPDATE 구문 -->
    <update id="update" parameterType="ElaApplCDTO">
        UPDATE OHR.ELA_APPL_C
        SET
            STAT_CD = #{statCd},
            MOD_USER_ID = #{modUserId},
            MOD_DATE = SYSDATE
        WHERE
            APPL_ID = #{applId}
    </update>

    <!-- DELETE 구문 -->
    <delete id="delete" parameterType="Long">
        DELETE FROM OHR.ELA_APPL_C
        WHERE
            APPL_ID = #{applId}
    </delete>

</mapper>