<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">


<mapper namespace="Html">
     
    <!-- Result Map 정의 -->
    <resultMap id="htmlMap" type="html">
        <id property="HTML_PTH_NM" column="HTML_PTH_NM"/>
        <result property="HTML_NM" column="HTML_NM"/>
        <result property="AMN_DTM" column="AMN_DTM"/>
        <result property="GNT_DTM" column="GNT_DTM"/>
    </resultMap>

    <!-- 모든 데이터 조회 -->
    <select id="findAll" resultMap="htmlMap">
        SELECT * FROM THURXE_CHTMLM
    </select>    
    
    <!-- 기본키 데이터 중복여부 조회 -->
    <select id="countById" parameterType="Long" resultMap="htmlMap">
        SELECT COUNT(*)
        FROM THURXE_CHTMLM 
        WHERE 
            HTML_PTH_NM = #{HTML_PTH_NM}
    </select>
    
    <!-- 신규 데이터 추가 --> 
    <insert id="insert" parameterType="html">
        INSERT INTO THURXE_CHTMLM
        (
            HTML_PTH_NM, 
            HTML_NM, 
            GNT_DTM
        )
        VALUES
        (
            #{HTML_PTH_NM},
            #{HTML_NM}, 
            SYSDATE
        )
    </insert>   
    
    <!-- 기존 데이터 삭제 --> 
    <delete id="delete" parameterType="html">
        DELETE FROM THURXE_CHTMLM 
        WHERE 
            HTML_PTH_NM = #{HTML_PTH_NM}
    </delete>
    
    <!-- 기존 데이터 업데이트(기본키 제외) --> 
    <update id="update" parameterType="html">
        UPDATE THURXE_CHTMLM 
        SET 
            HTML_NM = #{HTML_NM}, 
            AMN_DTM = SYSDATE 
        WHERE 
            HTML_PTH_NM = #{HTML_PTH_NM}
    </update>
    
    <!-- 신규 데이터 추가 또는 기존 데이터 업데이트 -->
	<insert id="insertUpdate" parameterType="html">
	    INSERT INTO THURXE_CHTMLM 
        (
            HTML_PTH_NM, 
            HTML_NM, 
            GNT_DTM
        )
	    VALUES 
        (
            #{HTML_PTH_NM},
            #{HTML_NM}, 
            SYSDATE
        )
	    ON DUPLICATE KEY UPDATE
	        HTML_NM = VALUES(HTML_NM),
	        AMN_DTM = SYSDATE;
	</insert>
        
</mapper>