<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HtmlLangMap">

    <!-- Result Map 정의 -->
    <resultMap id="htmlLangMap" type="htmlLangDTO">
        <id property="html" column="HTML_FL_PTH"/>
        <id property="lang" column="SRE_VCB_CDVA_ID"/>
        <result property="deleteYn" column="DEL_YN"/>
        <result property="guid" column="GUID"/>
        <result property="guidPrgSno" column="GUID_PRG_SNO"/>
        <result property="lstChgUsid" column="LST_CHG_USID"/>
        <result property="updatedTime" column="LST_CHG_DTM"/>
        <result property="createdTime" column="FST_ENT_DTM"/>
        <result property="createUsid" column="FST_ENT_USID"/>
    </resultMap>

    <!-- 모든 데이터 조회 -->
    <select id="findAll" resultMap="htmlLangMap">
        SELECT * FROM THURXE_CHTMLA
    </select>

    <!-- 기본키 데이터 중복여부 조회 -->
    <select id="countById" parameterType="htmlLangDTO" resultType="int">
        SELECT COUNT(*)
        FROM THURXE_CHTMLA
        WHERE HTML_FL_PTH = #{html} AND SRE_VCB_CDVA_ID = #{lang}
    </select>

    <!-- 신규 데이터 추가 -->
    <insert id="insert" parameterType="htmlLangDTO">
        INSERT INTO THURXE_CHTMLA (
            HTML_FL_PTH,
            SRE_VCB_CDVA_ID,
            DEL_YN,
            GUID,
            GUID_PRG_SNO,
            LST_CHG_USID,
            LST_CHG_DTM,
            FST_ENT_DTM,
            FST_ENT_USID
        )
        VALUES (
            #{html},
            #{lang},
            #{deleteYn},
            #{guid},
            #{guidPrgSno},
            #{lstChgUsid},
            SYSDATE,
            SYSDATE,
            #{createUsid}
        )
    </insert>

    <!-- 기존 데이터 삭제 -->
    <delete id="delete" parameterType="htmlLangDTO">
        DELETE FROM THURXE_CHTMLA
        WHERE HTML_FL_PTH = #{html} AND SRE_VCB_CDVA_ID = #{lang}
    </delete>

</mapper>
