<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="IamUser">

    <!-- Result Map 정의 -->
    <resultMap id="iamUserMap" type="iamUserDTO">
        <id property="username" column="EMP_NO"/>
        <result property="realname" column="EMP_NM"/>
        <result property="password" column="EMP_PWD"/>
        <result property="createdDate" column="TZ_DATE"/>
    </resultMap>

    <!-- Result Map 정의 -->
    <resultMap id="teamSearchMap" type="teamSearchDTO">
        <result property="userName" column="USR_NM"/>
        <result property="teamCode" column="TEM_C"/>
        <result property="teamName" column="TEM_NM"/>
        <result property="deptCode" column="BBR_C"/>
        <result property="deptName" column="BBR_NM"/>
        <result property="positionName" column="PT_C_NM"/>
        <result property="jobDetail" column="DTS_DTL_CONE"/>
        <result property="inlineNumber" column="INLE_NO"/>
    </resultMap>

    <!-- 모든 데이터 조회 -->
    <select id="findAll" resultMap="iamUserMap">
        SELECT * FROM OHR.IF_IAM_USER
    </select>

    <!-- 모든 데이터 조회 -->
    <select id="findAllTeam" resultMap="teamSearchMap">
        SELECT DISTINCT(A.TEM_C), A.TEM_NM FROM EHR.THURXE_CUSRLI A
    </select>

    <!-- 모든 데이터 조회 -->
    <select id="findAllMember" resultMap="teamSearchMap">
        SELECT A.USR_NM,
               A.BBR_C,
               B.BBR_NM,
               A.TEM_C,
               A.TEM_NM,
               A.PT_C_NM,
               A.DTS_DTL_CONE,
               A.INLE_NO
        FROM EHR.THURXE_CUSRLI A
        INNER JOIN EHR.THURXE_CORGLI B ON A.BBR_C = B.PRLM_OGZ_C_CONE
    </select>

    <!-- ID/PW 일치 사용자 조회 -->
    <select id="login" parameterType="iamUserDTO" resultMap="iamUserMap">
        SELECT
        A.EMP_NO,
        A.EMP_PWD
        FROM OHR.IF_IAM_USER A
        WHERE
        A.EMP_NO = #{username} AND
        A.EMP_PWD = #{password}
    </select>

    <!-- ID 일치 사용자 조회 -->
    <select id="findByUserId" parameterType="iamUserDTO" resultMap="iamUserMap">
        SELECT *
        FROM OHR.IF_IAM_USER A
        WHERE
        A.EMP_NO = #{username}
    </select>

    <!-- 통합 키워드 사용자 조회 -->
    <select id="findBySearchValue" parameterType="String" resultMap="iamUserMap">
        SELECT *
        FROM OHR.IF_IAM_USER A
        WHERE
        A.EMP_NO LIKE '%' || #{searchValue} || '%' OR
        A.EMP_NM LIKE '%' || #{searchValue} || '%'
    </select>

</mapper>
