<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">


<mapper namespace="LoginOTP">

    <!-- Result Map 정의
    <resultMap id="loginOTPMap" type="loginOTP">
    <id property="OTP_ISN_SNO" column="OTP_ISN_SNO"/>
        <result property="ENO" column="ENO"/>
        <result property="OTP_SMS_CER_NO" column="OTP_SMS_CER_NO"/>
        <result property="CER_KD_NM" column="CER_KD_NM"/>
        <result property="GNT_DTM" column="GNT_DTM"/>
    </resultMap> -->

    <!-- 모든 데이터 조회 -->
    <select id="findAll" resultType="loginOTP">
        SELECT * FROM THURXE_COTPIM
    </select>    
    
    <!-- 기본키 데이터 중복여부 조회 -->
    <select id="countById" parameterType="Long" resultType="loginOTP">
        SELECT COUNT(*)
        FROM THURXE_COTPIM 
        WHERE 
            OTP_ISN_SNO = #{OTP_ISN_SNO}
    </select>
    
    <!-- 신규 데이터 추가 --> 
    <insert id="insert" parameterType="loginOTP">
        INSERT INTO THURXE_COTPIM
        (
            ENO, 
            OTP_SMS_CER_NO, 
            CER_KD_NM, 
            GNT_DTM
        )
        VALUES
        (
            #{ENO}, 
            #{OTP_SMS_CER_NO}, 
            #{CER_KD_NM}, 
            SYSDATE
        )
    </insert>   
    
    <!-- 기존 데이터 삭제 --> 
    <delete id="delete" parameterType="loginOTP">
        DELETE FROM THURXE_COTPIM 
        WHERE 
            OTP_ISN_SNO = #{OTP_ISN_SNO}
    </delete>

    <!-- 모든 데이터 조회 -->
    <select id="findValidOneByUsername" parameterType="loginOTP" resultType="loginOTP">
        SELECT *
        FROM (
        SELECT *
        FROM THURXE_COTPIM
        WHERE ENO = #{ENO}
        AND GNT_DTM > SYSDATE - INTERVAL '3' MINUTE
        ORDER BY GNT_DTM DESC
        )
        WHERE ROWNUM = 1
    </select>
</mapper>