<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LoginOTP">

    <!-- Result Map 정의 -->
    <resultMap id="loginOtpMap" type="loginOtpDTO">
        <id property="seqId" column="OTP_ISN_SNO"/>
        <result property="username" column="ENO"/>
        <result property="otp" column="OTP_SMS_CER_NO"/>
        <result property="mfa" column="CER_KD_NM"/>
        <result property="deleteYn" column="DEL_YN"/>
        <result property="guid" column="GUID"/>
        <result property="guidPrgSno" column="GUID_PRG_SNO"/>
        <result property="lstChgUsid" column="LST_CHG_USID"/>
        <result property="updatedTime" column="LST_CHG_DTM"/>
        <result property="createdTime" column="GNT_DTM"/>
    </resultMap>

    <!-- 모든 데이터 조회 -->
    <select id="findAll" resultMap="loginOtpMap">
        SELECT * FROM THURXE_COTPIM
    </select>

    <!-- 모든 데이터 조회 -->
    <select id="findValidOneByUsername" parameterType="loginOtpDTO" resultMap="loginOtpMap">
        SELECT *
        FROM (
        SELECT *
        FROM THURXE_COTPIM
        WHERE ENO = #{username}
            AND GNT_DTM > SYSDATE - INTERVAL '3' MINUTE
            ORDER BY GNT_DTM DESC
        )
        WHERE ROWNUM = 1
    </select>

    <!-- 기본키 데이터 중복여부 조회 -->
    <select id="countById" parameterType="Long" resultType="int">
        SELECT COUNT(*)
        FROM THURXE_COTPIM
        WHERE OTP_ISN_SNO = #{seqId}
    </select>

    <!-- 신규 데이터 추가 -->
    <insert id="insert" parameterType="loginOtpDTO">
        <selectKey keyProperty="seqId" resultType="long" order="BEFORE">
            SELECT "EHR"."OTP_ISN_SNO".nextval FROM dual
        </selectKey>
        INSERT INTO THURXE_COTPIM (
            OTP_ISN_SNO,
            ENO,
            OTP_SMS_CER_NO,
            CER_KD_NM,
            DEL_YN,
            GUID,
            GUID_PRG_SNO,
            LST_CHG_USID,
            LST_CHG_DTM,
            GNT_DTM
        )
            VALUES (
            #{seqId},
            #{username},
            #{otp},
            #{mfa},
            #{deleteYn},
            #{guid},
            #{guidPrgSno},
            #{lstChgUsid},
            SYSDATE,
            SYSDATE
        )
    </insert>

    <!-- 기존 데이터 삭제 -->
    <delete id="delete" parameterType="loginOtpDTO">
        DELETE FROM THURXE_COTPIM
        WHERE OTP_ISN_SNO = #{seqId}
    </delete>

</mapper>
