<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LogLogin">

    <!-- Result Map 정의 -->
    <resultMap id="logLoginMap" type="logLoginVO">
        <id property="seqId" column="LGN_LOG_SNO"/>
        <result property="empNo" column="ENO"/>
        <result property="loginType" column="CER_KD_NM"/>
        <result property="loginResult" column="LGN_SCS_YN"/>
        <result property="deleteYn" column="DEL_YN"/>
        <result property="guid" column="GUID"/>
        <result property="guidPrgSno" column="GUID_PRG_SNO"/>
        <result property="lstChgUsid" column="LST_CHG_USID"/>
        <result property="updatedTime" column="LST_CHG_DTM"/>
        <result property="createdTime" column="FST_ENT_DTM"/>
        <result property="createUsid" column="FST_ENT_USID"/>
    </resultMap>

    <!-- 모든 데이터 조회 -->
    <select id="findAll" resultMap="logLoginMap">
        SELECT * FROM OEHR.THURXE_CLOGNL
    </select>

    <!-- 기본키 데이터 중복여부 조회 -->
    <select id="countById" parameterType="Long" resultType="int">
        SELECT COUNT(*)
        FROM OEHR.THURXE_CLOGNL
        WHERE LGN_LOG_SNO = #{seqId}
    </select>

    <!-- 신규 데이터 추가 -->
    <insert id="insert" parameterType="logLoginVO">
        <selectKey keyProperty="seqId" resultType="long" order="BEFORE">
            SELECT "OEHR"."LGN_LOG_SNO".nextval FROM dual
        </selectKey>
        INSERT INTO OEHR.THURXE_CLOGNL (
            LGN_LOG_SNO,
            ENO,
            CER_KD_NM,
            LGN_SCS_YN,
            DEL_YN,
            GUID,
            GUID_PRG_SNO,
            LST_CHG_USID,
            LST_CHG_DTM,
            FST_ENT_DTM,
            FST_ENT_USID
        )
        VALUES (
            #{seqId},
            #{empNo},
            #{loginType},
            #{loginResult},
            #{deleteYn},
            #{guid},
            #{guidPrgSno},
            #{lstChgUsid},
            SYSDATE,
            SYSDATE,
            #{createUsid}
        )
    </insert>

</mapper>
