<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">

<mapper namespace="LogLogin">
    
    <!-- Result Map 정의 -->
    <resultMap id="logLoginMap" type="logLogin">
        <id property="SEQ_ID" column="LGN_LOG_SNO"/>
        <result property="EMP_NO" column="ENO"/>
        <result property="LOGIN_TYPE" column="LGN_KD_NM"/>
        <result property="LOGIN_RESULT" column="LGN_SCS_YN"/>
        <result property="CREATED_TIME" column="GNT_DTM"/>
    </resultMap>
    
    <!-- 모든 데이터 조회 -->
    <select id="findAll" resultMap="logLoginMap">
        SELECT * FROM THURXE_CLOGNL
    </select>    
    
    <!-- 기본키 데이터 중복여부 조회 -->
    <select id="countById" parameterType="Long" resultMap="logLoginMap">
        SELECT COUNT(*)
        FROM THURXE_CLOGNL 
        WHERE 
            LGN_LOG_SNO = #{SEQ_ID}
    </select>
    
    <!-- 신규 데이터 추가 --> 
    <insert id="insert" parameterType="logLogin">
        INSERT INTO THURXE_CLOGNL
        (
            ENO, 
            LGN_KD_NM, 
            LGN_SCS_YN, 
            GNT_DTM
        )
        VALUES(
            #{EMP_NO}, 
            #{LOGIN_TYPE}, 
            #{LOGIN_RESULT}, 
            SYSDATE
        )
    </insert>   
    
    <!-- 기존 데이터 삭제 (로그 테이블 특성상 불필요) --> 
    
    <!-- 기존 데이터 업데이트 (로그 테이블 특성상 불필요) -->

</mapper>