<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">

<mapper namespace="Member">

    <!-- 모든 데이터 조회 -->
    <select id="findAll" resultType="member">
        SELECT * FROM OHR.member
    </select>
    
    <!-- 기본키 데이터 중복여부 조회 -->
    <select id="countById" parameterType="Long" resultType="code">
        SELECT COUNT(*)
        FROM OHR.member WHERE username=#{CD}
    </select>
    
    <insert id="save" parameterType="member">
        insert into OHR.member(memberEmail, memberPassword, memberName, memberAge, memberMobile)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberAge}, #{memberMobile})
    </insert>
    
    <insert id="regist" parameterType="member">
        insert into member(userId, memberPassword, memberName)
        values (#{userId}, #{memberPassword}, #{memberName})
    </insert>
    
    <select id="login" parameterType="member" resultType="member">
        select * from member where username=#{username} and password=#{password}
    </select>
    
    <select id="findById" parameterType="Long" resultType="member">
        select * from member where id=#{id}
    </select>
    <delete id="delete" parameterType="Long">
        delete from member where id=#{id}
    </delete>
    <select id="findByMemberEmail" parameterType="String" resultType="member">
        select * from member where memberEmail=#{loginEmail}
    </select>
    <update id="update" parameterType="member">
        update member set memberAge=#{memberAge}, memberMobile=#{memberMobile}
        where id=#{id}
    </update>
    <select id="findByUserId" parameterType="member" resultType="member">
        select * from member where username=#{username}
    </select>
    <select id="findUuid" parameterType="String" resultType="String">
        select UUID from member where username=#{username}
    </select>
    <update id="updateUuid" parameterType="member">
        update member set UUID=#{UUID}
        where username=#{username}
    </update>
    <select id="pwLogin" parameterType="member" resultType="member">
        select * from member where userId=#{userId} and memberPassword=#{memberPassword}
    </select>
</mapper>