<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Role">

    <!-- Result Map 정의 -->
    <resultMap id="iamUserAuthMap" type="roleDTO">
        <id property="username" column="ENO"/>
        <result property="roleId" column="ATH_ID"/>
    </resultMap>

    <!-- Result Map 정의 -->
    <resultMap id="roleMap" type="roleDTO">
        <id property="username" column="ENO"/>
        <result property="roleId" column="ATH_ID"/>
        <result property="deleteYn" column="DEL_YN"/>
        <result property="guid" column="GUID"/>
        <result property="guidPrgSno" column="GUID_PRG_SNO"/>
        <result property="lstChgUsid" column="LST_CHG_USID"/>
        <result property="updatedTime" column="LST_CHG_DTM"/>
        <result property="createdTime" column="FST_ENR_DTM"/>
        <result property="createUsid" column="FST_ENR_USID"/>
    </resultMap>

    <!-- 특정 계정에 대한 모든 역할 데이터 조회 -->
    <select id="findRoleByUsername" parameterType="iamUserDTO" resultMap="roleMap">
        SELECT * FROM OEHR.THURXE_CUSATI
        WHERE
            ENO = #{username}
    </select>

    <!-- 특정 계정에 대한 역할 1건 데이터 조회 -->
    <select id="findOneRoleByUsername" parameterType="iamUserDTO" resultMap="roleMap">
        SELECT * FROM OEHR.THURXE_CROLEM
        WHERE
        ENO = #{username}
    </select>

    <!-- 모든 데이터 조회 -->
    <select id="findAll" resultMap="roleMap">
        SELECT * FROM OEHR.THURXE_CROLEM
        ORDER BY FST_ENR_DTM DESC
    </select>

    <!-- 기본키 데이터 중복여부 조회 -->
    <select id="countById" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM OEHR.THURXE_CROLEM
        WHERE ENO = #{username}
    </select>

    <!-- 신규 데이터 추가 -->
    <insert id="insert" parameterType="roleDTO">
        INSERT INTO OEHR.THURXE_CROLEM(
        ENO,
        ATH_ID,
        DEL_YN,
        GUID,
        GUID_PRG_SNO,
        LST_CHG_USID,
        LST_CHG_DTM,
        FST_ENR_DTM,
        FST_ENR_USID
        )
        VALUES(
        #{username},
        #{roleId},
        #{deleteYn},
        #{guid},
        #{guidPrgSno},
        #{lstChgUsid},
        SYSDATE,
        SYSDATE,
        #{createUsid}
        )
    </insert>

    <!-- 기존 데이터 삭제 -->
    <delete id="delete" parameterType="roleDTO">
        DELETE FROM OEHR.THURXE_CROLEM
        WHERE ENO = #{username}
    </delete>

    <!-- 기존 데이터 업데이트 -->
    <update id="update" parameterType="roleDTO">
        UPDATE OEHR.THURXE_CROLEM
        SET
        ATH_ID = #{roleId},
        DEL_YN = #{deleteYn},
        GUID = #{guid},
        GUID_PRG_SNO = #{guidPrgSno},
        LST_CHG_USID = #{lstChgUsid},
        LST_CHG_DTM = SYSDATE
        WHERE ENO = #{username}
    </update>

</mapper>
