<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">

<mapper namespace="ViewLog">
    
    <!-- Result Map 정의 --> 
    <resultMap id="viewLogMap" type="viewLog">
    <id property="SEQ_ID" column="PAG_LOG_SNO"/>
        <result property="CTRL_NM" column="CTRL_NM"/>
        <result property="MTHD_NM" column="MTH_NM"/>
        <result property="CLIENT_IP" column="CLI_IP_ADDR"/>
        <result property="USER_AGENT" column="USR_CNC_ENV_INF"/>
        <result property="RQST_URL" column="REQ_URL_ADDR"/>
        <result property="CALL_TIME" column="CALL_DTM"/>
    </resultMap>
    
    <!-- 모든 데이터 조회 -->
    <select id="findAll" resultMap="viewLogMap">
        SELECT * FROM THURXE_CVIEWL
    </select>    
    
    <!-- 기본키 데이터 중복여부 조회 -->
    <select id="countById" parameterType="Long" resultMap="viewLogMap">
        SELECT COUNT(*)
        FROM THURXE_CVIEWL WHERE PAG_LOG_SNO=#{SEQ_ID}
    </select>
    
    <!-- 신규 데이터 추가 --> 
    <insert id="insert" parameterType="viewLog">
        INSERT INTO THURXE_CVIEWL
        (
            CTRL_NM, 
            MTH_NM, 
            CLI_IP_ADDR, 
            USR_CNC_ENV_INF, 
            REQ_URL_ADDR, 
            CALL_DTM
        )            
        VALUES
        (
            #{CTRL_NM}, 
            #{MTHD_NM}, 
            #{CLIENT_IP}, 
            #{USER_AGENT}, 
            #{RQST_URL}, 
            #{CALL_TIME}
        )
    </insert>   
    
</mapper>